.input-group-text {
  background: transparent;
}
.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}
.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;

}

.img_cont_msg {
  height: 40px;
  width: 40px;
}

.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}

.offline {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #c23616 !important;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}

.chat-box-bg {
  background: white;
}

.chat {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card {
  height: 750px;
  border-radius: 15px !important;
}
.card-light {
  background-color: rgb(195, 188, 181) !important;
}

.card-dark {
  background-color: #2c3e50 !important;

}

.msg_card_body {
  overflow-y: auto;
}

.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
  background: rgba(0, 0, 0, 0.3);
}

.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
  background: rgba(0, 0, 0, 0.3);
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.user_info span {
  font-size: 20px;
  color: white;
}

.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}

.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}

.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  position: relative;
}

.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}

.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: blue;
  font-size: 10px;
}

.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: green;
  font-size: 10px;
}

.msg_head {
  position: relative;
}


.search:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.contacts {
  list-style: none;
  padding: 0;
}

.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}

.contacts .active {
  background-color: rgba(0, 0, 0, 0.3);
}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}


.contacts_body::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background-color: #ccc7d1;
}
.contacts_body::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, .6);
}
.contacts_body::-webkit-scrollbar-corner {
  background: #CCCCCC;
}
.contacts_body {
  scrollbar-width: thin;
}

.switch-toggle {
  width: 100%;
  float: left;
  background: #2c3e50;
  border-radius: 8px;
}
.switch-toggle input {
  position: absolute;
  opacity: 0;
}
.switch-toggle input + label {
  padding: 7px;
  float:left;
  color: #fff;
  cursor: pointer;
  width: 33.33%;
  text-align: center;
}
.switch-toggle input:checked + label {
  background: green;
  border-radius: 8px;
}
label{
  margin-bottom: 0!important;
}
