<div class="chat-box-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-4 chat">
        <div class="card mb-sm-3 mb-md-0 contacts_card card-dark">
          <div class="card-header">
            <div class="input-group">
              <input (change)="getUsersForChat(2, filter)" [(ngModel)]="nameSearchDriver" class="form-control search" name=""
                     placeholder="Search..." type="text">
              <div class="input-group-prepend">
                <span class="input-group-text search_btn"><i class="nav-icon i-Search-People"></i></span>
              </div>
            </div>
            <div style=" position: relative; margin-top: 10px">
              <div class="switch-toggle switch-3 switch-candy">
                <input id="na" name="state-d" type="radio" checked="checked" (click)='getUsersForChat(2, "")' />
                <label for="na" class="disabled">All Drivers</label>
                <input id="on" name="state-d" type="radio"  (click)='getUsersForChat(2, 1)'  />
                <label for="on">Online</label>
                <input id="off" name="state-d" type="radio" (click)='getUsersForChat(2, 0)'/>
                <label for="off">Offline</label>

              </div>
          <!--    <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                Filter By
              </button>
              <div class="dropdown-menu">
                <a (click)='getUsersForChat(2, "")' href="javascript:void(0)" class="dropdown-item">All</a>
                <a (click)='getUsersForChat(2, 1)' href="javascript:void(0)" class="dropdown-item">Online</a>
                <a (click)='getUsersForChat(2, 0)' href="javascript:void(0)" class="dropdown-item">Offline</a>
              </div>-->
            </div>
          </div>
          <div class="card-body contacts_body" *ngIf="users[0]">
            <ul *ngFor="let chat of users" class="contacts">
              <li>
                <div class="d-flex bd-highlight">
                  <div *ngIf="chat.profile_picture" class="img_cont">
                    <img alt="" [src]="assetUrl + '/' + chat.profile_picture"
                         class="rounded-circle user_img">
                    <span *ngIf="chat.availability" class="online_icon"></span>
                    <span *ngIf="!chat.availability" class="offline"></span>
                  </div>
                  <div *ngIf="!chat.profile_picture" class="img_cont">
                    <img alt="" [src]="assetUrl + '/' + chat.profile_picture"
                         class="rounded-circle user_img">
                    <span *ngIf="chat.availability" class="online_icon"></span>
                  </div>
                  <a (click)="startChat(chat.id)" href="javascript:void(0)">
                    <div class="user_info">
                      <span>{{chat.name}}</span>
                      <p *ngIf="chat.availability">{{chat.name}} is online</p>
                      <p *ngIf="!chat.availability">{{chat.name}} is offline</p>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-body contacts_body" *ngIf="!users[0]">
            <p class="text-center text-white">No Drivers Found!</p>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div *ngIf="!allMessages[0]" class="col-md-8 col-xl-8 chat">
        <div class="card card-light">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div *ngIf="allMessages[0]" class="img_cont">
                <img [src]="assetUrl + '/' + user.profile_picture"
                     class="rounded-circle user_img">
<!--                <span class="online_icon"></span>-->
              </div>
              <div *ngIf="!allMessages[0] && user.profile_picture" class="img_cont">
                <img [src]="assetUrl + '/' + user.profile_picture"
                     class="rounded-circle user_img">
<!--                <span *ngIf="chat.availability"class="online_icon"></span>-->
              </div>
              <div *ngIf="!allMessages[0] && !user.profile_picture" class="text-center">
                <h6>Click On Driver To Start Chat</h6>
              </div>
              <div *ngIf="user.profile_picture" class="user_info">
                <span>{{user.first_name}}{{user.last_name}}</span>
                <p *ngIf="totalMsg != 0">{{totalMsg + 'Messages'}} </p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="text-center">
              <img class="rounded" src="./assets/images/hand.png" width="500"/>
              <h4 style="color: white">Start A Conversation</h4>
            </div>
          </div>
          <div class="card-footer">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text attach_btn"><i aria-hidden="true" class="nav-icon i-Clamp"></i></span>
              </div>
              <textarea [(ngModel)]="message" class="form-control type_msg"
                        name="" placeholder="Type your message..."></textarea>
              <div class="input-group-append">
                <span class="input-group-text send_btn"><i (click)="sendMessage()"
                                                           class="nav-icon i-Paper-Plane"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="allMessages[0]" class="col-md-8 col-xl-8 chat">
        <div class="card card-light p-1">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img [src]="assetUrl + '/' + user.profile_picture"
                     class="rounded-circle user_img">
                <span class="online_icon"></span>
              </div>
              <div class="user_info">
                <span>{{user.first_name}}{{user.last_name}}</span>
                <p>{{totalMsg}} Messages</p>
              </div>
            </div>
          </div>
          <div *ngIf="allMessages[0]" class="card-body contacts_body">
            <div *ngFor="let msg of allMessages">
              <div *ngIf="!msg.sender" class="d-flex justify-content-end mb-4">
                <div [innerHTML]="msg.message | safeHtml" class="msg_cotainer_send">
                  <div [innerHTML]="msg.created_at | date : 'MMM d, y, h:mm:ss a'" class="msg_time_send"></div>
                </div>
                <div class="img_cont_msg">
                  <img [src]="assetUrl + '/' + msg.profile_picture"
                       class="rounded-circle user_img_msg"/>
                </div>
              </div>
              <div *ngIf="msg.sender" class="d-flex justify-content-start mb-4">
                <div *ngIf="msg.profile_picture" class="img_cont_msg">
                  <img [src]="assetUrl + '/' + msg.profile_picture"
                       class="rounded-circle user_img_msg">
                </div>
                <div *ngIf="!msg.profile_picture" class="img_cont_msg">
                  <img class="rounded-circle user_img_msg"
                       src="./assets/images/admin1.png">
                </div>

                <div [innerHTML]="msg.message | safeHtml" class="msg_cotainer">
                  <div [innerHTML]="msg.created_at | date : 'MMM d, y, h:mm:ss a'" class="msg_time"></div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="driverId" class="card-footer">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text attach_btn"><i aria-hidden="true" class="nav-icon i-Clamp"></i></span>
              </div>
              <textarea [(ngModel)]="message" class="form-control type_msg"
                        name="" placeholder="Type your message..."></textarea>
              <div class="input-group-append">
                <span class="input-group-text send_btn"><i (click)="sendMessage()"
                                                           class="nav-icon i-Paper-Plane"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
