<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card text-left">
      <div class="card-body">
        <div class=" col-md-12 card-title mb-0 text-center">
          <h5><b>SCHEDULED RIDES</b></h5>
        </div>
        <div class="card-body p-1">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="user-basic-tab" data-toggle="tab" href="#byUser" role="tab"
                 aria-controls="homeBasic" aria-selected="true">Posted by User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " id="driver-basic-tab" data-toggle="tab" href="#byDriver" role="tab"
                 aria-controls="homeBasic" aria-selected="true">Posted by Driver</a>
            </li>
          </ul>
          <!-- User Tab-->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="byUser" role="tabpanel" aria-labelledby="user-basic-tab">
               <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total User Posted Rides : </b>
                 {{ totalSch}}</span>
              <div style=" position: relative; float: right;">
                <button class="btn btn-sm btn-outline-dark" (click)="resetFilterUser()">Reset Filter</button>
              </div>
              <div style=" position: relative; float: right; ">
                <input type="text" class="mr-2" placeholder="Search By Keyword" [(ngModel)]='schSearch'
                       (change)="getScheduleRides()">
              </div>
<!--              <div *ngIf="schRides[0]" style=" position: relative; float: left">-->
<!--                <a class='btn btn-outline-dark btn-sm'-->
<!--                   href="https://api.qualwebs.com/drupp/api/admin/download-user-scheduled-rides">-->
<!--                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18">Export File</a>-->
<!--              </div>-->
              <div style=" position: relative; float: right; " *ngIf="schRides[0]">
                <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/download-user-scheduled-rides">Export PDF File</a>
                  <a class="dropdown-item" href="https://api.qualwebs.com/drupp/api/admin/excel/user-scheduled-rides">Export Excel File</a>
                </div>
              </div>

              <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myDateModel">
                  Filter By Date
                </button>
              </div>
              <div style=" position: relative; float: right; margin-right: 10px;">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                  Filter By
                </button>
                <div class="dropdown-menu">
                  <a (click)='getFilter("")' href="javascript:void(0)" class="dropdown-item">All</a>
                  <a (click)='getFilter(1)' href="javascript:void(0)" class="dropdown-item">Posted</a>
                  <a (click)='getFilter(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                  <a (click)='getFilter(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                  <a (click)='getFilter(4)' href="javascript:void(0)" class="dropdown-item">Completed</a>
                  <a (click)='getFilter(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                  <a (click)='getFilter(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table" *ngIf="schRides[0]">
                  <thead>
                  <tr>
                    <th scope="col"> Ride ID</th>
                    <th scope="col"> Driver</th>
                    <th scope="col"> Rider</th>
                    <th scope="col"> Source</th>
                    <th scope="col"> Destination</th>
                    <th scope="col"> Status</th>
                    <th scope="col"> Date</th>
                    <th scope="col">Fare</th>
                    <th scope="col">Drupp Commission</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="let ride of schRides | paginate: { itemsPerPage: 10, currentPage: schPage ,totalItems:totalSch ,id:'user'} let i =index">
                    <td>{{ride.id}}</td>
                    <td *ngIf="ride.driver_name"><a
                      routerLink="../driver-details/{{ride.driver_id}}">{{ride.driver_name}}</a></td>
                    <td *ngIf="ride.driver_name == null">NA</td>
                    <td *ngIf="ride.rider_name"><a routerLink="../user-details/{{ride.user_id}}">{{ride.rider_name}}</a>
                    </td>
                    <td *ngIf="ride.rider_name == null">NA</td>
                    <td data-title="'{{ride.source}}'">
                      {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}
                    </td>
                    <td data-title="'{{ride.destination}}'">
                      {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}
                    </td>
                    <td data-title="'{{ride.cancel_reason}}'">{{ride.status| rideStatus}}<br></td>
                    <td>{{ride.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
                    <td> &#8358;   {{ride.total_fare}}</td>
                    <td *ngIf="ride.drupp">&#8358;  {{ride.drupp_earnings}}</td>
                    <td *ngIf="ride.drupp == null"> N/A</td>
                    <td><a class="btn blue" routerLink="../single-sch-rides/{{ride.id}}">
                      <i class="nav-icon i-Eye"></i>
                    </a></td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="schRides[0]" (pageChange)=pageChangedSch($event)
                                     id='user'></pagination-controls>
              </div>
              <div *ngIf="calling == true" class="col-md-12 text-center">
                <img src="./assets/images/91.gif">
              </div>
              <div *ngIf="!schRides[0] && calling == false" class="col-md-12 text-center">
                <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                <h3 class="not-found">Not Found</h3>
              </div>
            </div>
            <!-- Modal Date-->
            <div class="modal fade" id="myDateModel" role="dialog">
              <div class="modal-dialog">
                Modal content
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Filter Single Rides</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="dateFilterFormSchedule" (ngSubmit)="getScheduledData()">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="start">Start Date</label>
                          <input class="form-control" formControlName="start" id="strr" type='date'>
                        </div>
                        <div class="col-md-6">
                          <label for="end">End Date</label>
                          <input class="form-control" formControlName="end" id="endd" type="date">
                        </div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button (click)='getScheduledData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                                style="margin-top: 10px; margin-left: 1px;"
                                type="button">Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Driver Tab-->
            <div class="tab-pane fade" id="byDriver" role="tabpanel" aria-labelledby="profile-basic-tab">
               <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total Driver Posted Rides : </b>
                 {{ totalDriverSch}}</span>
              <div style=" position: relative; float: right;">
                <button class="btn btn-sm btn-outline-dark" (click)="resetFilterDriver()">Reset Filter</button>
              </div>
              <div style=" position: relative;float: right;">
                <input type="text" class="mr-2" placeholder="Search By Keyword" [(ngModel)]='schDriverSearch'
                       (change)="getDriverScheduleRides()" autofocus>
              </div>
            <!--  <div *ngIf="driverSchRides[0]" style=" position: relative; float: left">
                <a class='btn btn-outline-dark btn-sm'
                   href="https://api.qualwebs.com/drupp/api/admin/download-driver-single-rides">
                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="20">Export File</a>
              </div>-->
              <div style=" position: relative; float: right; " *ngIf="driverSchRides[0]">
                <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/download-driver-single-rides">Export PDF File</a>
                  <a class="dropdown-item" href="https://api.qualwebs.com/drupp/api/admin/excel/driver-scheduled-rides">Export Excel File</a>
                </div>
              </div>
              <div style=" position: relative;
                  float: right; margin-right: 10px; margin-bottom: 10px;">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#myDateModelDriver">Filter By Date
                </button>
              </div>
              <div style=" position: relative; float: right; margin-right: 10px;">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                  Filter By
                </button>
                <div class="dropdown-menu">
                  <a (click)='getDriverFilter("")' href="javascript:void(0)" class="dropdown-item">All</a>
                  <a (click)='getDriverFilter(1)' href="javascript:void(0)" class="dropdown-item">Posted</a>
                  <a (click)='getDriverFilter(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                  <a (click)='getDriverFilter(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                  <a (click)='getDriverFilter(4)' href="javascript:void(0)" class="dropdown-item">Completed</a>
                  <a (click)='getDriverFilter(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                  <a (click)='getDriverFilter(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table" *ngIf="driverSchRides[0]">
                  <thead>
                  <tr>
                    <th scope="col"> Ride ID</th>
                    <th scope="col"> Source</th>
                    <th scope="col"> Destination</th>
                    <th scope="col"> Status</th>
                    <th scope="col"> Date</th>
                    <th scope="col">Fare</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="let ride of driverSchRides | paginate: { itemsPerPage: 10, currentPage: schPageDriver ,totalItems:totalDriverSch, id:'driver'} ">
                    <!--                  <td><a routerLink="../driver-details/{{ride.driver_id}}">{{ride.Driver_name}}</a></td>-->
                    <!--                  <td><a routerLink="../user-details/{{ride.user_id}}">{{ride.Rider_name}}</a></td>-->
                    <td>{{ride.id}}</td>
                    <td
                      data-title="'{{ride.source}}'">{{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}</td>
                    <td
                      data-title="'{{ride.destination}}'">{{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}</td>
                    <td>{{ride.status| rideStatus}}<br>{{ride.cancel_reason}}</td>
                    <td>{{ride.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
                    <td> &#8358;  {{ride.driver_fare}}</td>
                    <!--                  <td>  {{ride.drupp_earnings}}</td>-->
                    <td><a class="btn blue" routerLink="../driver-ride-details/{{ride.id}}">
                      <i class="nav-icon"><img alt="" src="./assets/images/icon/visible.png" width="20"/></i>
                    </a></td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="driverSchRides[0]" (pageChange)=pageChangedDriverSch($event)
                                     id='driver'></pagination-controls>
              </div>
              <div *ngIf="calling == true" class="col-md-12 text-center">
                <img src="./assets/images/91.gif">
              </div>
              <div *ngIf="!driverSchRides[0] && calling == false" class="col-md-12 text-center">
                <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                <h3 class="not-found">Not Found</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myDateModelDriver" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Single Rides</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dateFilterFormSchedule" (ngSubmit)="getScheduledData()">
          <div class="row">
            <div class="col-md-6">
              <label for="start">Start Date</label>
              <input class="form-control" formControlName="start" id="start" type='date'>
            </div>
            <div class="col-md-6">
              <label for="end">End Date</label>
              <input class="form-control" formControlName="end" id="end" type="date">
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-sm " data-dismiss="modal"
                    style="margin-top: 10px; margin-left: 1px;"
                    type="button">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
