<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <a class="btn btn-primary" href="javascript:void(0)" (click)="goBack()"> <i class="nav-icon i-Back1"></i> Back </a>  <br>
        <div class="card-title text-center mb-3"><h5><b>EDIT DRIVER</b></h5></div><br>
        <form  [formGroup]="editDriverDetails" (ngSubmit)="edit()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="user-name">First Name</label>
              <input type="text" class="form-control" id="user-name" placeholder="Enter First Name" formControlName="first_name">
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="last-name">Last Name</label>
              <input class="form-control" id="last-name" placeholder="Enter Last Name" formControlName="last_name">
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email">
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="code">Country Code</label>
<!--              <country-picker id="code" [flag]="false" [setValue]="'cca3'" [setName]="'name.common'" [classes]="['form-control']"></country-picker>-->

              <!--       <international-phone-number2 formControlName="country_code" id="code"
                                                  placeholder="Enter phone number" [defaultCountry]="'in'"
                                                  [required]="true" [allowedCountries]="['in', 'ca', 'us']" ></international-phone-number2>-->

              <input type="text" class="form-control" id="code" placeholder="Enter Country Code" formControlName="country_code" disabled>

            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="phone">Phone </label>
              <input class="form-control" id="phone" placeholder="Enter Phone Number" formControlName="phone" disabled>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="address">Address </label>
              <input class="form-control" id="address" placeholder="Enter Address" formControlName="address">
            </div>
            <div class="col-md-6 form-group mb-3">
              <input type="hidden" formControlName="id">
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary" >Update Details </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
