<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="../../users">Riders</a></li>
            <li class="breadcrumb-item active text-capitalize">{{userDetails.first_name}} {{userDetails.last_name}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card text-left mt-1">
      <div class="card-body pl-4">
        <div class="row" *ngIf="userDetails">
          <div class="col-md-12 mb-2 " style="cursor: pointer">
            <a
                    class="btn"
                    data-toggle="modal"
                    data-backdrop="false"
                    (click)="onCurrentDriverOwnerDocument(userDetails.profile_picture)"
                    data-target="#avatar"
            >
              <img class="rounded-circle" [src]="assetUrl + '/' + userDetails.profile_picture"
                   width="60" height="60" alt="avatar">
            </a>
          </div>
        </div>

        <div class="">
          <!-- users edit media object start -->
          <div class="media mb-2">
            <div class="media-body mt-50">
              <p class="text-small font-weight-bolder"> Wallet Balance {{0 | currency:" "}}</p>
            </div>
            <div class="media-body mt-50">
              <p class="text-small font-weight-bolder"> Total Payments {{0 | currency:" "}}</p>
            </div>
            <div class="demo-inline-spacing">
              <button
                      type="button"
                      class="btn btn-primary p-2 m-2">
                <i class="fas fa-unlock"></i> Activate
              </button>
              <button
                      type="button"
                      class="btn btn-danger p-2 m-2">
                <i class="fas fa-user-lock"></i> Block
              </button>

            </div>
          </div>
          <!-- users edit media object ends -->


          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input
                        type="text"
                        class="form-control"
                        placeholder="first name"
                        value="{{userDetails.first_name}}"
                        name="first_name"
                        id="firstName"
                        disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input
                        type="text"
                        class="form-control"
                        placeholder="first name"
                        value="{{userDetails.last_name}}"
                        name="lastName"
                        id="lastName"
                        disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="lastName">Email Address</label>
                  <input
                        type="text"
                        class="form-control"
                        placeholder="first name"
                        value="{{userDetails.email}}"
                        name="email"
                        id="email"
                        disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="lastName">Phone Number</label>
                  <input
                        type="text"
                        class="form-control"
                        placeholder="Phone Number"
                        value="+{{userDetails.country_code}}-{{userDetails.phone}}"
                        name="phone"
                        id="phone"
                        disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="lastName">City</label>
                  <input
                        type="text"
                        class="form-control"
                        placeholder="City"
                        value="{{userDetails.city}}"
                        name="city"
                        id="city"
                        disabled
                  />
                </div>
              </div><div class="col-md-4">
                <div class="form-group">
                  <label for="lastName">Created On</label>
                  <input
                        type="text"
                        class="form-control"
                        placeholder="City"
                        value="{{userDetails.created_at | date : 'MMM d, y, h:mm:ss a'}}"
                        name="created_at"
                        id="created_at"
                        disabled
                  />
                </div>
              </div><div class="col-md-4">
                <div class="form-group">
                  <label for="lastName">Last Update</label>
                  <input
                        type="text"
                        class="form-control"
                        placeholder="City"
                        value="{{userDetails.updated_at | date : 'MMM d, y, h:mm:ss a'}}"
                        name="updated_at"
                        id="updated_at"
                        disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="lastName">Rating</label>
                  <input
                        type="text"
                        class="form-control"
                        placeholder="rating"
                        value="{{userDetails.average_rating}}"
                        name="rating"
                        id="rating"
                        disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="lastName">Status</label>
                  <input
                        type="text"
                        class="form-control"
                        placeholder="status"
                        value="{{userDetails.status | trueOrFalse}}"
                        name="status"
                        id="status"
                        disabled
                  />
                </div>
              </div>

            </div>
          </form>
        </div>
        <!--Rides Detail-->
        <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a aria-controls="homeBasic" aria-selected="true" class="nav-link active" data-toggle="tab" href="#accepted"
               id="home-basic-tab" role="tab">Accepted Rides</a>
          </li>
          <li class="nav-item">
            <a aria-controls="profileBasic" aria-selected="false" class="nav-link" data-toggle="tab" href="#posted"
               id="profile-basic-tab" role="tab">Posted Rides</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div aria-labelledby="home-basic-tab" class="tab-pane fade show active" id="accepted" role="tabpanel">
            <div style=" position: relative; float: left; " *ngIf="acceptedRide.data[0]">
              <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item"
                   href="https://api.qualwebs.com/drupp/api/admin/download/user/accepted-rides/{{id}}">Export PDF
                  File</a>
                <a class="dropdown-item">Export Excel File</a>
              </div>
            </div>

            <div style=" position: relative; float: right; margin-bottom: 10px; ">
              <input [(ngModel)]='nameSearch' autofocus placeholder="Search By Keyword" type="text">
            </div>
            <div style=" position: relative;
                        float: right; margin-right: 10px ">
              <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                Filter By
              </button>
              <div class="dropdown-menu">
                <a (click)='getFilterAccepted("")' href="javascript:void(0)" class="dropdown-item">All</a>
                <a (click)='getFilterAccepted(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                <a (click)='getFilterAccepted(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                <a (click)='getFilterAccepted(4)' href="javascript:void(0)" class="dropdown-item">Finished</a>
                <a (click)='getFilterAccepted(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                <a (click)='getFilterAccepted(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
              </div>
            </div>
            <div style=" position: relative; float: right; margin-bottom: 10px; ">
              <button class="btn btn-primary btn-sm mr-2" data-target="#myDateModelAccepted" data-toggle="modal"
                      type="button">
                Filter By Date
              </button>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="thead-light">
                <tr>
                  <th scope="col"> Date</th>
                  <th scope="col">Ride ID</th>
                  <th scope="col">Source</th>
                  <th scope="col"> Destination</th>
                  <th scope="col"> Ride Type</th>
                  <th scope="col"> Status</th>
                  <th scope="col"> Rating</th>
                  <th scope="col"> Comment</th>
                  <th scope="col"> Fare</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ride of acceptedRide.data |
                paginate: { itemsPerPage: 10, currentPage: AcceptedCurrentPage ,totalItems: acceptedRide.total,id:'accepted-page'}
                 | acceptedFilter :nameSearch let i =index">

                  <td>{{ride.ride_date|amFromUnix|amDateFormat:'MM/DD/YYYY'}}</td>
                  <td>{{ride.id}}</td>
                  <!--                <td>{{10 * (AcceptedCurrentPage -1) + (i+1)}}</td>-->
                  <td data-title="'{{ride.source}}'">
                    {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}
                  </td>
                  <td data-title="'{{ride.destination}}'">
                    {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}
                  </td>
                  <td>{{ride.ride_type| rideType}}</td>
                  <td>{{ride.status |rideStatus}}<br>{{ride.cancel_reason}}</td>
                  <td><p *ngIf='ride.rate_review != null'>{{ride.rate_review.rate}}</p>
                    <p *ngIf='ride.rate_review == null'>N/A</p></td>
                  <td><p *ngIf='ride.rate_review != null'>{{ride.rate_review.review}}</p>
                    <p *ngIf='ride.rate_review == null'>N/A</p></td>
                  <td>&#8358;  {{ride.driver_fare}}</td>
                  <td><a routerLink="../../ride-details/{{ride.id}}">View Details </a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)=pageChangedAccepted($event) id="accepted-page"></pagination-controls>
          </div>
          <!-- Posted Tab-->
          <div aria-labelledby="profile-basic-tab" class="tab-pane fade" id="posted" role="tabpanel">
            <div style=" position: relative; float: left; " *ngIf="postedRide.data[0]">
              <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item"
                   href="https://api.qualwebs.com/drupp/api/admin/download/user/posted-rides/{{id}}">Export PDF File</a>
                <a class="dropdown-item">Export Excel File</a>
              </div>
            </div>
            <div style=" position: relative; float: right; margin-bottom: 10px; ">
              <input [(ngModel)]='rideSearch' autofocus placeholder="Search By Keyword" type="text">
            </div>
            <div style=" position: relative;
                        float: right; margin-right: 10px ">
              <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                Filter By
              </button>
              <div class="dropdown-menu">
                <a (click)='getFilterPosted("")' href="javascript:void(0)" class="dropdown-item">All</a>
                <a (click)='getFilterPosted(1)' href="javascript:void(0)" class="dropdown-item">Posted</a>
                <a (click)='getFilterPosted(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                <a (click)='getFilterPosted(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                <a (click)='getFilterPosted(4)' href="javascript:void(0)" class="dropdown-item">Finished</a>
                <a (click)='getFilterPosted(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                <a (click)='getFilterPosted(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
              </div>
            </div>
            <div style=" position: relative; float: right; margin-bottom: 10px; ">
              <button class="btn btn-primary btn-sm mr-2" data-target="#myDateModelPosted" data-toggle="modal"
                      type="button">
                Filter By Date
              </button>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                  <th scope="col"> Date</th>
                  <th scope="col">Ride ID</th>
                  <th scope="col">Source</th>
                  <th scope="col"> Destination</th>
                  <th scope="col"> Ride Type</th>
                  <th scope="col"> Status</th>
                  <th scope="col"> Rating</th>
                  <th scope="col"> Comment</th>
                  <th scope="col"> Fare</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ride of postedRide.data |
               paginate: { itemsPerPage: 10, currentPage: PostedCurrentPage ,totalItems: postedRide.total ,id:'posted-page'}
                 | postedFilter :rideSearch let i =index">
                  <td>{{ride.ride_date|amFromUnix|amDateFormat:'MM/DD/YYYY'}}</td>
                  <td>{{ride.id}}</td>
                  <td data-title="'{{ride.source}}'">
                    {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}
                  </td>
                  <td data-title="'{{ride.destination}}'">
                    {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}
                  </td>
                  <td>{{ride.ride_type| rideType}}</td>
                  <td>{{ride.status |rideStatus}}<br>{{ride.cancel_reason}}</td>
                  <td><p *ngIf='ride.rate_review != null'>{{ride.rate_review.rate}}</p>
                    <p *ngIf='ride.rate_review == null'>N/A</p></td>
                  <td><p *ngIf='ride.rate_review != null'>{{ride.rate_review.review}}</p>
                    <p *ngIf='ride.rate_review == null'>N/A</p></td>
                  <td *ngIf="ride.ride_option == 1">&#8358;  {{ride.total_fare}}</td>
                  <td *ngIf="ride.ride_option == 2">&#8358;  {{ride.user_fare}}</td>
                  <td><a routerLink="../../ride-details/{{ride.id}}">View Details </a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)=pageChangedPosted($event) id="posted-page"></pagination-controls>
          </div>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myDateModelAccepted" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Rides by Date</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate (ngSubmit)="getFilterDataAccepted()" [formGroup]="dateFilterFormAccepted">
          <div class="row">
            <div class="col-md-6">
              <label for="startAccepted">Start Date</label>
              <input class="form-control" formControlName="start" id="startAccepted" type='date' required>
            </div>
            <div class="col-md-6">
              <label for="endAccepted">End Date</label>
              <input class="form-control" formControlName="end" id="endAccepted" type="date" required>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myDateModelPosted" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Rides by Date</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate (ngSubmit)="getFilterDataPosted()" [formGroup]="dateFilterFormPosted">
          <div class="row">
            <div class="col-md-6">
              <label for="start">Start Date</label>
              <input class="form-control" formControlName="start" id="start" type='date' required>
            </div>
            <div class="col-md-6">
              <label for="end">End Date</label>
              <input class="form-control" formControlName="end" id="end" type="date" required>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--View user profile -->
<div class="disabled-backdrop-ex">
  <!-- Modal -->
  <div
          class="modal fade text-left"
          id="avatar"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel2"
          aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel2">{{userDetails['first_name']}} {{userDetails['last_name']}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="rounded" [src]="assetUrl + '/' + avatar_url"
               width="" height="" alt="avatar">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END user profile view-->

