.user-profile .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  z-index: 9;
}

.avatar-lg {
  width: 90px;
  height: 90px;
}

.profile-picture {
  border-radius: 50%;
  border: 4px solid #fff;
}
.noprofile-picture {
  border-radius: 50%;
  border: 4px solid grey;
}

.separator-breadcrumb {
  margin-bottom: 2rem;
}

.card-body {
  padding: 0 3rem;
}
.profile-edit-icon .fa-comment {
  position: absolute;
  top: 12px;
  left: 6rem;
  background-color: #fff;
  padding: 3px 3px;
  height: 25px;
  width: 25px;
  color: #000;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.7);
  cursor: pointer;
}
.fontSize{
  font-size: 10px;
}
