<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Headlines</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Headlines</h4>
      </div>
      <div class="card-body">
        <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total News : </b>
          {{total}}</span>
<!--          <div class="col-md-8"></div>-->
          <div class="col-md-12 text-right mb-1">
            <a class="btn btn-primary btn-sm mr-2" routerLink="../news-category"> Add News Category </a>
            <a class="btn btn-primary btn-sm mr-2" routerLink="../news-sub-category"> Add News Sub-Category </a>
            <a class="btn btn-primary btn-sm" routerLink="../addnews"> Add News </a>
          </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-active" >
            <thead class="thead-light">
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col" class="text-center">Image</th>
              <th scope="col" class="text-center">Headline</th>
              <th scope="col" class="text-center">Sub Category</th>
              <th scope="col" class="text-center">Edit</th>
              <th scope="col" class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let news of news; ">
              <td>{{news.id}}</td>
              <td>{{news.timestamp | amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
              <td class="imgcls"> <img alt="" class='custom' src='https://api.qualwebs.com/drupp/storage/app/public/{{news.news_image}}'> </td>
              <td>{{news.headline}}</td>
              <td>{{news.news_subcategory}}</td>
              <td class="text-center"><a routerLink="../edit-news/{{news.id}}" class="btn btn-success ">
                <i class="fas fa-edit"></i>
              </a>
              </td>
              <td class="text-center">
                <a type="button" class="btn red" (click)="delete(news.id)">
                  <i class="fas fa-trash text-white"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

