<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div *appAccessControl="['Bus','page']">
  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item"><a routerLink="/dashboard/bus">Buses</a></li>
              <li class="breadcrumb-item active">Bus Rides</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-1">
      <div class="card">
        <div class="card-header"> <h4 class="text-center text-uppercase font-weight-300">Bus Ride Details</h4></div>
        <div class="card-body">
          <!--BEGIN bus ride details-->
          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="created_at">Ride Booked On:</label>
                  <input
                          type="text"
                          class="form-control"
                          placeholder="Booking Date"
                          value="{{singlerideDetails.created_at|date:'MMM d, y, h:mm:ss a'}}"
                          name="created_at"
                          id="created_at"
                          disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="startdate">Starting On:</label>
                  <input
                          type="text"
                          class="form-control"
                          placeholder="Start Date"
                          value="{{singlerideDetails.start_time | date:'MMM d, y, h:mm:ss a'}}"
                          name="first_name"
                          id="startdate"
                          disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="endDate">Ending On</label>
                  <input
                          type="text"
                          class="form-control"
                          placeholder="Ending on"
                          value="{{singlerideDetails.finish_time |date:'MMM d, y, h:mm:ss a'}}"
                          name="endDate"
                          id="endDate"
                          disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="seats">Remaining Seats:</label>
                  <input
                          type="text"
                          class="form-control"
                          placeholder="seats"
                          value="{{singlerideDetails.remaining_seats || 0 |number}}"
                          name="seats"
                          id="seats"
                          disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="from">From</label>
                  <input
                          type="text"
                          class="form-control"
                          placeholder="source"
                          value="{{singlerideDetails.source}}"
                          name="from"
                          id="from"
                          disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="destination">To:</label>
                  <input
                          type="text"
                          class="form-control"
                          placeholder="Destination"
                          value="{{singlerideDetails.destination}}"
                          name="destination"
                          id="destination"
                          disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="currency">Fare:</label>
                  <input
                          type="text"
                          class="form-control"
                          placeholder="currency"
                          value="{{singlerideDetails.per_seat_price | currency:' '}}"
                          name="currency"
                          id="currency"
                          disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="driver_name">Bus Driver:</label>
                  <input
                          type="text"
                          class="form-control"
                          placeholder="Bus Driver"
                          value="{{singlerideDetails.driver_name || 'unspecified'}}"
                          name="driver_name"
                          id="driver_name"
                          disabled
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Ride Status:</label>
                  <input
                          type="text"
                          class="form-control"
                          placeholder="Status"
                          value="{{singlerideDetails.status | rideStatus}}"
                          name="status"
                          id="status"
                          disabled
                  />
                </div>
              </div>

            </div>
          </form>
          <!--END bus ride details-->
          <br>
          <div class="card " style="margin-left:100px;margin-right:100px; margin-top: 20px; padding:10px;">
            <agm-map [latitude]="lat" [longitude]="lng"  [fitBounds]="true" [zoom]="40" style='height:400px; border-radius : 1px'>
              <agm-direction [destination]="destination" [markerOptions]="markersOption"  [origin]="origin"
                             [renderOptions]="renderOptions">
              </agm-direction>
              <agm-marker [iconUrl]="
  {
    url: '../../../assets/images/bus.png',
    scaledSize: {
        width: 40,
        height: 30
    }
}" [latitude]='markerlati' [longitude]='markerlongi' [agmFitBounds]="true">
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
