.modal.and.carousel {
  position: fixed; /*// Needed because the carousel overrides the position property*/
}

.custom-file-input {
  position: absolute;
  width: 100%;
  top: 20px;
  bottom: 0;
  left: -1px;
  cursor: pointer;
}

.card-title-text{
  font-size: smaller;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
