select {
  background-image:
    linear-gradient(45deg, transparent 50%, black 60%),
    linear-gradient(135deg, black 40%, transparent 50%) !important;
  background-position:
    calc(100% - 30px) 14px,
    calc(100% - 20px) 14px,
    100% 0;
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.custom-file-input {
  width: 100%;
  top: 27px;
  bottom: 0;
  left: -1px;
  cursor: pointer;
}
.addImage {
  border: 1px solid black;
  border-radius: 11px;
  text-align: center;
}
.imgcls {
  width: 225px;
}
.custom{
  height: 140px;
}

