<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <a class="btn btn-primary" routerLink="../drupp-shop"> <i class="nav-icon i-Back1"></i>Back</a><br>
        <div class="card-title mb-3 text-center"><h5><b>ADD PRODUCT</b></h5></div><br>
        <form ngNativeValidate (ngSubmit)="addProduct()" [formGroup]="addProductFormGroup">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="product-name">Product Name</label>
              <input class="form-control" formControlName="product_name" id="product-name" placeholder="Enter product name"
                     type="text" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="brand">Brand</label>
              <input class="form-control" formControlName="brand" id="brand" placeholder="Enter Brand" type="text" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="brand">Quantity</label>
              <input class="form-control" formControlName="quantity" id="quantity" placeholder="Enter number of Quantities" type="number" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <div class="mt-2" *ngFor="let list of categoryList;let index = index;">
                <label>Select Category</label>
                <select (change)="changeCategory(index)" class="form-control mb-2" [name]="'category' + index" [(ngModel)]="list.category" [ngModelOptions]="{standalone: true}" required>
                  <option value="">Select Category</option>
                  <option *ngFor="let category of list.data;" [value]="category.id">{{category.category_name}}</option>
                </select>
              </div>
            </div>
            <!--            <div class="col-md-6 form-group mb-3">-->
            <!--              <label for="parentCat">Select Parent:</label>-->
            <!--              <select class="form-control" id="parentCat" formControlName="category_name">-->
            <!--                <option value="">Select Parent</option>-->
            <!--                <option *ngFor="let name of categoryList;let index = index;" [value]="name.id">{{name.category_name}}</option>-->
            <!--              </select>-->
            <!--            </div>-->
            <div class="col-md-6 form-group mb-3">
              <label for="price">Price</label>
              <input class="form-control" formControlName="price" id="price" placeholder="NGN"
                     type="number" min="0" oninput="validity.valid||(value='');" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="description">Description</label>
              <input class="form-control" formControlName="description" id="description"
                     placeholder="Write description here..." required>
            </div>

<!--            <div class="col-md-6 form-group mb-3">-->
<!--              <div class="col-md-3" *ngFor="let item of productImages">-->
<!--                <img class="img-fluid custom" [src]="assetUrl + '/' + item.file_path" alt="">-->
<!--              </div>-->
<!--              <label for="image">Images</label>-->
<!--              <input class="form-control dropzone" multiple formControlName="product_images" id="image" placeholder="image"-->
<!--                     type="file" (change)="uploadImage($event.target.files[0])" required>-->
<!--              <div class="custom-file">-->
<!--                <input type="file" class="custom-file-input" (change)="handleFileInput($event)" data-toggle="modal">-->
<!--                <div class="add"> + ADD</div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="col-md-12 form-group mb-3">
              <div class="row">
                <div class="col-md-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)="handleFileInput($event)">
                    <div class="addImage"> + Add Product Images</div>
                  </div>
                </div>
              <div class="col-md-3 imgcls mb-3 " *ngFor="let item of productImages; let i =index;">
                <img class="img-fluid custom mb-2" [src]="assetUrl + '/' + item.file_path" alt="">
                <div class="text-center">
                <a href="javascript:void(0)" (click)="removeGalleryImage([i])">
                  <i class="nav-icon"><img src="./assets/images/icon/delete2.png" width="20"/></i>
                </a>
                </div>
              </div>
            </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary mt-5">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="addMilestoneLabel" class="modal fade" id="add-loader" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Please wait....
      </div>
      <div class="modal-body">
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>
