<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard/">Drupp Shop</a></li>
            <li class="breadcrumb-item active">Products</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products card">
  <div class="row mt-2 mb-3 justify-content-center">
    <div class="col-md-3">
      <input [(ngModel)]="productSearch" (change)="getFilteredDruppShopProducts()" class="form-control" placeholder="Search By Keyword" type="text">
    </div>
    <div class="col-md-3">
      <button class="btn btn-outline-info dropdown-toggle"data-toggle="dropdown" type="button">Filter By:</button>
      <div class="dropdown-menu">
        <a (click)='stockCheck("")' href="javascript:void(0)" class="dropdown-item">All</a>
        <a (click)='stockCheck(1)' href="javascript:void(0)" class="dropdown-item">In Stock</a>
        <a (click)='stockCheck(2)' href="javascript:void(0)" class="dropdown-item">Out Stock</a>
      </div>
    </div>

    <div class="col-md-3">
      <button class="btn btn-success" data-target="#filterPriceRangeModel" data-toggle="modal" type="button">
        Search by price range
      </button>
    </div>

    <div class="col-md-3">
      <a class="btn btn-link red text-white text-decoration-none" routerLink="../drupp-shop-add">Add Products</a>
    </div>

  </div>
  <hr/>
  <div class="row justify-content-center">
    <div *ngIf="loading" class="d-flex justify-content-center my-1">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
    </div>
    <div class="col-md-3 mb-2 mt-2" *ngFor="let product of products">
      <mat-card class="">
        <mat-card-header>
          <mat-card-title class="float-left card-title-text p-3 mb-3">{{product.product_name}}</mat-card-title>
        </mat-card-header>
        <span *ngIf="product.product_images[0]">
          <img mat-card-image class="card-img-top" [src]="assetUrl + '/' + product.product_images[0].file_path" alt="product image">
        </span>
        <span class="">
          <span class=""><button class="font-weight-bold" mat-raised-button color="accent">{{product.price | currency:"₦"}}</button></span>
          <span class="float-right">
            <button mat-raised-button
                   color="primary"
                   data-toggle="modal"
                   data-backdrop="false"
                   (click)="showProductDetailsModal(product)"
                   data-target="#productDetails">
              View Details
            </button>
          </span>
        </span>
      </mat-card>
    </div>
  </div>
</div>

<!--BEGIN View product details modal -->

<div class="disabled-backdrop-ex">
  <div *ngIf="loading" class="d-flex justify-content-center my-1">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
  <!-- Modal -->
  <div
          class="modal fade text-left"
          id="productDetails"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel2"
          aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header row">
          <div class="col-md-5">
            <h6 class="modal-title font-weight-bold float-left" id="myModalLabel2"> {{productDetails.product_name}}</h6>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success" (click)="editProduct(productDetails.id)"><i class="fas fa-edit"></i></button>
          </div>
          <div class="col-md-3">
            <button class="btn red text-white" (click)="removeDruppShopProduct(productDetails.id)"><i class="fas fa-trash"></i></button>
          </div>
          <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>

        </div>
        <div class="modal-body">
          <img mat-card-image class="card-img-top" [src]="assetUrl + '/' + productDetails.product_images[0].file_path" alt="product image">
        </div>
        <div class="modal-footer row">
          <ul class="list-group">
            <li class="list-group-item"><span class="font-weight-bolder p-1 m-1">Description</span>: {{productDetails.description|| 'not specified'}}</li>
            <li class="list-group-item"><span class="font-weight-bolder p-1 m-1">Color</span>: {{productDetails.color|| 'not specified'}}</li>
            <li class="list-group-item"><span class="font-weight-bolder p-1 m-1">Category</span>: {{productDetails.categories[0].category_name|| 'not specified'}}</li>
            <li class="list-group-item"><span class="font-weight-bolder p-1 m-1">Brand</span>: {{productDetails.brand|| "Not Specified"}}</li>
            <li class="list-group-item"><span class="font-weight-bolder p-1 m-1">Size</span>: {{productDetails.size|| 'not specified'}}</li>
            <li class="list-group-item"><span class="font-weight-bolder p-1 m-1">Stock</span>: {{productDetails.quantity|| 'not specified'}}</li>
            <li class="list-group-item"><span class="font-weight-bolder p-1 m-1">Tax</span>: {{productDetails.tax|| 0 | currency:"₦"}}</li>
            <li class="list-group-item"><span class="font-weight-bolder p-1 m-1">Price</span>: {{productDetails.price|| 0 | currency:"₦"}}</li>
            <li class="list-group-item"><span class="font-weight-bolder p-1 m-1">Listed On:</span>: {{productDetails.created_at || "Not Known" | date}}</li>
          </ul>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--END product view modal-->

<!--BEGIN search by price range-->
<div class="modal fade" id="filterPriceRangeModel" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter by Price Range</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate (ngSubmit)="getFilteredDruppShopProducts()" [formGroup]="priceRangeFilterForm">
          <div class="row">
            <div class="col-md-6">
              <label for="min">Min Price</label>
              <input class="form-control" placeholder="125" formControlName="min" id="min" type='text' appDigitOnly required>
            </div>
            <div class="col-md-6">
              <label for="max">Max Price</label>
              <input class="form-control" formControlName="max" placeholder="345" id="max" type="text" appDigitOnly required>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END search by price range-->
