<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <a class="btn btn-primary" routerLink="../../drupp-shop"> <i class="nav-icon i-Back1"></i> Back </a> <br>
        <div class="card-title text-center mb-3"><h5><b>EDIT PRODUCT</b></h5></div><br>
        <form ngNativeValidate [formGroup]="editProductGroup" (ngSubmit)="editProduct()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="product_name">Product Name</label>
              <input type="text" class="form-control" id="product_name"  placeholder="Enter Product Name" formControlName="product_name" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="product_name">Brand</label>
              <input type="text" class="form-control" id="brand"  placeholder="Enter Brand" formControlName="brand" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="brand">Quantity</label>
              <input class="form-control" formControlName="quantity" id="quantity" placeholder="Enter number of Quantities" type="number" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <div *ngFor="let list of categoryList;let index = index;">
                <label>Select Category</label>
                <select (change)="changeCategory(index)" class="form-control mb-2" [name]="'category' + index" [(ngModel)]="list.category" [ngModelOptions]="{standalone: true}" required>
                  <option value="">Select Category</option>
                  <option *ngFor="let category of list.data;" [value]="category.id">{{category.category_name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="price">Price</label>
              <input type="text" class="form-control" id="price"  placeholder="Enter Price" formControlName="price" required>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description"  placeholder="Description" formControlName="description" required>
            </div>


            <div class="form-group col-md-6 mb-3">
              <label>Uploaded Images</label>
              <div class="row mt-2 mb-2">
                <div class="mt-2 mb-1 imgClass" *ngFor="let item of product.productImg; let i =index">
                  <img class="img-fluid  custom" [src]="assetUrl + '/' + item.file_path" alt=""/>
                  <div class="text-center mt-1">
                    <a href="javascript:void(0)" (click)="removeGalleryImage([i])">
                      <i class="nav-icon"><img alt="" src="./assets/images/icon/delete2.png" width="20"/></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 form-group mb-3">
              <div class="row">
<!--              <div class="col-md-3 mt-2 mb-2" *ngFor="let item of productImages">-->
<!--                <img class="img-fluid custommLeaveJob" [src]="assetUrl + '/' + item.file_path" alt="">-->
<!--                <div class="delete-img" (click)="removeGalleryImage(item.id)">-->
<!--                  <i class="fas fa-trash"></i>-->
<!--                </div>-->
<!--              </div>-->
                <div class="col-md-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)="handleFileInput($event)">
                    <div class="addImage"> + Add Product Images</div>
                  </div>
                </div>
                <div class="col-md-2 imgClass mb-3 " *ngFor="let item of productImages; let i =index;">
                  <img class="img-fluid custom mb-2" [src]="assetUrl + '/' + item.file_path" alt="">
                  <div class="text-center">
                    <a href="javascript:void(0)" (click)="removeGalleryImage([i])">
                      <i class="nav-icon"><img alt="" src="./assets/images/icon/delete2.png" width="20"/></i>
                    </a>
                  </div>
                </div>
            </div>
            </div>


<!--            <div class="col-md-6 form-group mb-3">-->
<!--              <label for="image">Images</label>-->
<!--              <input class="form-control "  formControlName="product_images" id="image" placeholder="image"-->
<!--                     type="file" (change)="uploadImage($event.target.files[0])" required>-->
<!--            </div>-->
            <div class="col-md-12">
              <button class="btn btn-primary" [disabled]="editProductGroup.invalid">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="addMilestoneLabel" class="modal fade" id="add-loader" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Please wait....
      </div>
      <div class="modal-body">
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>
