<div class="row">
  <div class="col-md-12 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title mb-0">
          <div class="col-md-12 text-center">
            <h5><b>Decline/Cancelled Trips Alert For {{headerLable}}</b></h5>
          </div>
        </div>
        <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total {{headerLable}} : </b>
          {{ totalitems}}</span>
        <div class="text-right"  style=" position: relative; float: right; margin-bottom: 10px ">
          <button class="btn btn-primary btn-sm mr-2" data-target="#myDateModel" data-toggle="modal" type="button">
            Filter By Date
          </button>
          <input class="mr-2" (change)="getcancellTrips(userType)" [(ngModel)]='nameSearchRider' placeholder="Search By Keyword" type="text">
          <button class="btn btn-sm btn-outline-dark" (click)="resetFilter()">Reset Filter</button>
        </div>
        <div style=" position: relative; float: right; " *ngIf="uzers.length>0">
          <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
            <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{apiUrl}}get-cancel-ride-pdf?type={{userType}}&search={{nameSearchRider}}&startD={{str}}&endD={{end}}">Export PDF File</a>
            <a class="dropdown-item" href="{{apiUrl}}excel/cancel-ride?type={{userType}}&search={{nameSearchRider}}&startD={{str}}&endD={{end}}">Export Excel File</a>
          </div>
        </div>
        
          
          <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">S/N</th>
                  <th scope="col">{{headerLable}} Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Count</th>
                  <th scope="col">Reason</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action </th>
                  
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let user of uzers | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems:totalitems, id:'details'} let i =index;">
                  <td>{{i+1}}</td>
                  <td *ngIf="user.Driver_name">{{user.Driver_name}}</td>
                  <td *ngIf="user.Driver_name">{{user.uphone}}</td>
                  <td *ngIf="user.Driver_name">{{user.uemail}}</td>
                  <td>{{user.totalCount}}</td>
                  <td *ngIf="user.cancelText=='4'">Started</td>
                  <td *ngIf="user.cancelText=='5'">Cancelled</td>
                  <td ngIf="user.cancelText=='6'">NA</td>
                  <td *ngIf="user.ustatus == 0">Blocked</td>
              <td *ngIf="user.ustatus == 1">Active</td>
              
              <td>
                <button *ngIf="user.ustatus == 1" (click)='getValue(user.uid)' class="btn btn-danger btn-sm"
                        type="button">Block User
                </button>
                <button *ngIf="user.ustatus == 0" (click)='unBlock(user.uid)' class="btn btn-success btn-sm"
                        type="button">Unblock
                </button>
              </td>
              <!--
              <td *ngIf="!user.activation_date">NA</td>
               <td *ngIf="user.activation_date"> {{ (user.activation_date | amFromUnix) | amDateFormat:'MMMM Do YYYY'}}</td>-->
                </tr>
                </tbody>
              </table>
              <pagination-controls *ngIf="uzers" (pageChange)=pageChangedRider($event)
                                   id="details"></pagination-controls>
            </div>
            
          
       
        <div *ngIf="calling == true" class="col-md-12 text-center">
          <img src="./assets/images/91.gif">
        </div>
        <div *ngIf="!uzers && calling == false" class="col-md-12 text-center">
          <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
          <h3 class="not-found">Not Found</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="blockUserModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Block User</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate [formGroup]="blockUserForm" (ngSubmit)="blockUser()">
          <div class="form-group col-md-12">
            <label for="user">Select Date Till You Want Block User</label>
            <input class="form-control" formControlName="activation_date" id="user" type="date" required>
          </div>
          <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Block User
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="modal fade" id="myDateModel" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Riders by Date</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate (ngSubmit)="getData()" [formGroup]="dateFilterForm">
          <div class="row">
            <div class="col-md-6">
              <label for="start">Start Date</label>
              <input class="form-control" formControlName="start" id="start" type='date' required>
            </div>
            <div class="col-md-6">
              <label for="end">End Date</label>
              <input class="form-control" formControlName="end" id="end" type="date" required>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
