<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="addApartment()">
      <div class="form-group mb-3">
        <label for="number">Apartment Number</label>
        <input type="text" class="form-control" name="number" id="number" placeholder="Enter apartment number"
               [(ngModel)]="apartmentNumber" autocomplete="off" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
