<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Pooled Rides</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card text-left">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Pooled Rides</h4>
      </div>
      <div class="card-body">
        <div class="card-body p-1">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a aria-controls="homeBasic" aria-selected="true" class="nav-link active" data-toggle="tab"
                 href="#byDriver"
                 id="home-basic-tab" role="tab">Posted by Driver</a>
            </li>
            <li class="nav-item">
              <a aria-controls="profileBasic" aria-selected="false" class="nav-link" data-toggle="tab" href="#byRider"
                 id="profile-basic-tab" role="tab">Requested by User</a>
            </li>
          </ul>
          <!-- Driver Tab-->
          <div class="tab-content" id="myTabContent">
            <div aria-labelledby="home-basic-tab" class="tab-pane fade show active" id="byDriver" role="tabpanel">
               <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;">
                Total Driver Posted Rides : {{ driverTotal}}
              </span>
              <div style=" position: relative; float: right;">
                <button class="btn btn-sm btn-outline-dark" (click)="resetFilterDriver()">Reset Filter</button>
              </div>
              <div style="margin-bottom: 10px; position: relative; float: right;">
                <input class="mr-2" [(ngModel)]='nameSearchDriverRide' (change)="getDriverPooledRides(2)" autofocus
                       placeholder="Search By Keyword" type="text">
              </div>

              <div style=" position: relative; float: left; " *ngIf="driverRides[0]">
                <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/download-driver-pool-rides">Export PDF File</a>
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/excel/driver-pool-rides">Export Excel File</a>
                </div>
              </div>

              <div style=" position: relative; float: right; margin-right: 10px;">
                <button class="btn btn-primary btn-sm" data-target="#myDateModel" data-toggle="modal" type="button">
                  Filter By Date
                </button>
              </div>
              <div style=" position: relative; float: right; margin-right: 10px ">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                  Filter By
                </button>
                <div class="dropdown-menu">
                  <a (click)='getFilterDriver("")' href="javascript:void(0)" class="dropdown-item">All</a>
                  <a (click)='getFilterDriver(1)' href="javascript:void(0)" class="dropdown-item">Posted</a>
                  <a (click)='getFilterDriver(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                  <a (click)='getFilterDriver(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                  <a (click)='getFilterDriver(4)' href="javascript:void(0)" class="dropdown-item">Finished</a>
                  <a (click)='getFilterDriver(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                  <a (click)='getFilterDriver(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped table-active table-bordered" *ngIf="driverRides[0]">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center"> Driver</th>
                    <th scope="col" class="text-center"> Rider</th>
                    <th scope="col" class="text-center"> Source</th>
                    <th scope="col" class="text-center"> Destination</th>
                    <th scope="col" class="text-center"> Total Riders</th>
                    <th scope="col" class="text-center"> Status</th>
                    <th scope="col" class="text-center"> Date</th>
                    <th scope="col" class="text-center">Fare</th>
                    <th scope="col" class="text-center">Commission</th>
                    <th scope="col" class="text-center">Tax</th>
                    <th scope="col" class="text-center">View</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let ride of driverRides  |
                    paginate: { itemsPerPage: 10, currentPage: driverPage, totalItems:driverTotal, id:'driver'} let i =index">
                    <td>{{i+1}}</td>

                    <td>
                      <a routerLink="../driver-details/{{ride.driver_id}}">{{ride.Driver_name || "N/A"}}</a>
                    </td>
              
                    <td>
                      <a routerLink="../user-details/{{ride.user_id}}">{{ride.Rider_name || "N/A"}}</a>
                    </td>

                    <td data-title="'{{ride.source}}">
                      {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source) || "N/A"}}
                    </td>

                    <td data-title="'{{ride.destination}}'">
                      {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination) || "N/A"}}
                    </td>

                    <td>{{ride.total_riders}}</td>

                    <td class=text-center>
                      <span *ngIf="ride.status==1" class="badge badge-danger">{{ride.status| rideStatus}}</span>
                      <span *ngIf="ride.status==2" class="badge badge-success">{{ride.status| rideStatus}}</span>
                      <span *ngIf="ride.status==3" class="badge badge-info">{{ride.status| rideStatus}}</span>
                      <span *ngIf="ride.status==4" class="badge badge-success">{{ride.status| rideStatus}}</span>
                      <span *ngIf="ride.status==5" class="badge badge-danger">{{ride.status| rideStatus}}</span>
                      <span *ngIf="ride.status==6" class="badge badge-info">{{ride.status| rideStatus}}</span>
                    </td>

                    <td>{{ride.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY'  || "N/A"}}</td>

                    <td>{{ride.driver_fare  || "N/A"}}</td>

                    <td>{{ride.drupp_earnings  || 0 | currency:" "}}</td>

                    <td>{{(ride.total_fare*7.5/100) || 0 |number }}</td>
                  
                    <td>
                      <a class="btn btn-success" routerLink="../driver-ride-details/{{ride.id}}">
                      <i class="fas fa-eye"></i>
                    </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="driverRides[0]" (pageChange)=pageChangedDriver($event)
                                     id="driver">
                </pagination-controls>
              </div>

              <div *ngIf="calling" class="d-flex justify-content-center my-1">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
              </div>
              <div *ngIf="!driverRides[0] && calling == false" class="col-md-12 text-center">
                <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                <h3 class="not-found">Not Found</h3>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myDateModel" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Filter Pool Rides</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form (ngSubmit)="getDataDriver()" [formGroup]="dateFilterFormDriver">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="start">Start Date</label>
                          <input class="form-control" formControlName="start" id="start" type='date'>
                        </div>
                        <div class="col-md-6">
                          <label for="end">End Date</label>
                          <input class="form-control" formControlName="end" id="end" type="date">
                        </div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button (click)='getData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                                style="margin-top: 10px; margin-left: 1px;"
                                type="button">Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- User Tab-->
            <div aria-labelledby="profile-basic-tab" class="tab-pane fade" id="byRider" role="tabpanel">
               <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total User Posted Rides : </b>
                 {{ userTotal}}</span>
              <div style=" position: relative; float: right;">
                <button class="btn btn-sm btn-outline-dark" (click)="resetFilterUser()">Reset Filter</button>
              </div>
              <div style="margin-bottom: 10px; position: relative; float: right; ">
                <input class="mr-2" [(ngModel)]='rideSearch' (change)="getUserRides(2)" autofocus placeholder="Search By Keyword"
                       type="text">
              </div>
              <div style=" position: relative; float: left; " *ngIf="userRides[0]">
                <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/download-user-pool-rides">Export PDF File</a>
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/excel/user-pool-rides">Export Excel File</a>
                </div>
              </div>


              <div style=" position: relative; float: right; margin-right: 10px;">
                <button class="btn btn-primary btn-sm" data-target="#myDateModelDriver" data-toggle="modal"
                        type="button">Filter By Date
                </button>
              </div>
              <div style=" position: relative; float: right; margin-right: 10px ">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                  Filter By
                </button>
                <div class="dropdown-menu">
                  <a (click)='getFilter("")' href="javascript:void(0)" class="dropdown-item">All</a>
                  <a (click)='getFilter(1)' href="javascript:void(0)" class="dropdown-item">Posted</a>
                  <a (click)='getFilter(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                  <a (click)='getFilter(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                  <a (click)='getFilter(4)' href="javascript:void(0)" class="dropdown-item">Finished</a>
                  <a (click)='getFilter(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                  <a (click)='getFilter(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped table-active table-bordered" *ngIf="userRides[0]">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-center"> #</th>
                    <th scope="col" class="text-center"> Driver</th>
                    <th scope="col" class="text-center"> Rider</th>
                    <th scope="col" class="text-center"> Source</th>
                    <th scope="col" class="text-center"> Destination</th>
                    <th scope="col" class="text-center"> Rider Preference</th>
                    <th scope="col" class="text-center"> Status</th>
                    <th scope="col" class="text-center"> Date</th>
                    <th scope="col" class="text-center"> Fare</th>
                    <th scope="col" class="text-center"> Commission</th>
                    <th scope="col" class="text-center"> Tax</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let ride of userRides |
                      paginate: { itemsPerPage: 10, currentPage: userPage ,totalItems:userTotal,id:'user'} let i =index">
                    <td>{{i+1}}</td>

                    <td>
                      <a routerLink="../driver-details/{{ride.driver_id}}">{{ride.Driver_name || "N/A"}}</a>
                    </td>
              
                    <td>
                      <a routerLink="../user-details/{{ride.user_id}}">{{ride.Rider_name || "N/A"}}</a>
                    </td>

                    <td data-title="'{{ride.source}}'">
                      {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source) || "N/A"}}
                    </td>

                    <td data-title="'{{ride.destination}}'">
                      {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination) || "N/A"}}
                    </td>

                    <td>{{ride.passengers_preference || "N/A"}}</td>

                    <td class="text-center">
                      <span class="badge badge-success">{{ride.status || "N/A" | rideStatus}}</span>
                    </td>
                    <td>{{ride.ride_date || "N/A"| amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
                    
                    <td class="text-right"> {{ride.total_fare || 0 | currency:" "}}</td>

                    <td clsas="text-right">  {{ride.drupp_earnings || 0 | currency:" "}}</td>
                
                    <td class="text-right">{{(ride.total_fare*7.5/100)|| 0|number}}</td>
                    
                    <td>
                      <a class="btn btn-success" routerLink="../ride-details/{{ride.id}}"><i class="fas fa-eye"></i> </a>
                  </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="userRides[0]" (pageChange)=pageChangedUser($event)
                                     id="user"></pagination-controls>
              </div>
              <div *ngIf="calling" class="d-flex justify-content-center my-1">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
              </div>
              <div *ngIf="!userRides[0] && calling == false" class="col-md-6 text-right" style="margin-left: 80px;">
                <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                <h3 class="not-found">Not Found</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myDateModelDriver" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Pool Rides</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="getData()" [formGroup]="dateFilterForm">
          <div class="row">
            <div class="col-md-6">
              <label for="start">Start Date</label>
              <input class="form-control" formControlName="start" type='date'>
            </div>
            <div class="col-md-6">
              <label for="end">End Date</label>
              <input class="form-control" formControlName="end"  type="date">
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button (click)='getData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                    style="margin-top: 10px; margin-left: 1px;"
                    type="button">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

