<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Single Rides</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card text-left">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Single Rides</h4>
      </div>
      <div class="card-body">
        <div class="card-body p-0">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item ">
              <a class="nav-link active" id="profile-basic-tab" data-toggle="tab" href="#byRider" role="tab"
                 aria-controls="profileBasic" aria-selected="false">Posted by User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="home-basic-tab" data-toggle="tab" href="#byDriver" role="tab"
                 aria-controls="homeBasic" aria-selected="true">Posted by Driver</a>
            </li>
          </ul>
          <!-- User Tab-->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="byRider" role="tabpanel" aria-labelledby="profile-basic-tab">
               <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total User Posted Rides : </b>
                 {{ total}}</span>
              <div style=" position: relative; float: right;">
                <button class="btn btn-sm btn-outline-dark" (click)="resetFilterUser()">Reset Filter</button>
              </div>
              <div style=" position: relative; float: right;">
                <input type="text" class="mr-2" placeholder="Search By Keyword" [(ngModel)]='rideSearch' (change)="getRides(1)">
              </div>
              <div style="position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myDateModel">
                  Filter By Date
                </button>
              </div>
<!--              <div *ngIf="rides[0]" style=" position: relative; float: left">-->
<!--                <a class='btn btn-outline-dark btn-sm'-->
<!--                   href="https://api.qualwebs.com/drupp/api/admin/download-user-single-rides" target="_blank">-->
<!--                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="20">Export File</a>-->
<!--              </div>-->
              <div style=" position: relative; float: left; " *ngIf="rides[0]">
                <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/download-user-single-rides">Export PDF File</a>
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/excel/user-single-rides">Export Excel File</a>
                </div>
              </div>

              <div style=" position: relative; float: right; margin-right: 10px">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                  Filter By
                </button>
                <div class="dropdown-menu">
                  <a (click)='getFilter("")' href="javascript:void(0)" class="dropdown-item">All</a>
                  <a (click)='getFilter(1)' href="javascript:void(0)" class="dropdown-item">Posted</a>
                  <a (click)='getFilter(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                  <a (click)='getFilter(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                  <a (click)='getFilter(4)' href="javascript:void(0)" class="dropdown-item">Finished</a>
                  <a (click)='getFilter(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                  <a (click)='getFilter(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-active">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-center"> #</th>
                    <th scope="col" class="text-center"> Date</th>
                    <th scope="col" class="text-center"> Driver</th>
                    <th scope="col" class="text-center"> Rider</th>
                    <th scope="col" class="text-center"> Source</th>
                    <th scope="col" class="text-center"> Destination</th>
                    <th scope="col" class="text-center">Fare</th>
                    <th scope="col" class="text-center">Comm</th>
                    <th scope="col" class="text-center">Tax</th>
                    <th scope="col" class="text-center"> Status</th>
                    <th scope="col" class="text-center">View</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let ride of rides |
                paginate: { itemsPerPage: 10, currentPage: userPage ,totalItems:total ,id:'user'} let i =index">
                    <td>{{ride.id}}</td>
                    <td>{{ride.ride_date| amFromUnix|amDateFormat:'DD/MM/YYYY'}}</td>

                    <td>
                      <span *ngIf="ride.Driver_name">
                        <a routerLink="../driver-details/{{ride.driver_id}}">{{ride.Driver_name}}</a>
                      </span>
                      <span *ngIf="!ride.Driver_name"class="text-center">
                        N/A
                      </span>
                    </td>

                    <td>
                      <span *ngIf="ride.Rider_name">
                        <a routerLink="../driver-details/{{ride.driver_id}}">{{ride.Rider_name}}</a>
                      </span>
                      <span *ngIf="!ride.Rider_name" class="text-center">
                        N/A
                      </span>
                    </td>

                    <td data-title="'{{ride.source}}'">
                      {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}
                    </td>

                    <td data-title="'{{ride.destination}}'">
                      {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}
                    </td>

                    <td class="text-right">
                      {{ride.total_fare | currency:"₦"}}
                    </td>

                    <td class="text-right">
                      <span class=""*ngIf="ride.drupp_earnings">{{ride.drupp_earnings | currency:"₦"}}</span>
                      <span class=""*ngIf="!ride.drupp_earnings">{{0 | currency:"₦"}}</span>
                    </td>
                    <td class="text-right">
                      <span class=""*ngIf="ride.total_fare"> {{(ride.total_fare*7.5/100)| currency:"₦"}}</span>
                      <span class=""*ngIf="!ride.total_fare"> {{0|currency:"₦"}}</span>
                    </td>

                    <td class="text-center text-lowercase">
                      <span *ngIf="ride.status==1" class="badge badge-danger">{{ride.status| rideStatus}}</span>
                      <span *ngIf="ride.status==2" class="badge badge-success">{{ride.status| rideStatus}}</span>
                      <span *ngIf="ride.status==3" class="badge badge-info">{{ride.status| rideStatus}}</span>
                      <span *ngIf="ride.status==4" class="badge badge-success">{{ride.status| rideStatus}}</span>
                      <span *ngIf="ride.status==5" class="badge badge-danger">{{ride.status| rideStatus}}</span>
                      <span *ngIf="ride.status==6" class="badge badge-info">{{ride.status| rideStatus}}</span>
                    </td>

                    <td>
                      <a class="btn btn-success" routerLink="../ride-details/{{ride.id}}">
                        <i class="fas fa-eye"></i>
                    </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="rides[0]" (pageChange)=pageChangedUser($event)
                                     id='user'>

                </pagination-controls>
              </div>
              <div *ngIf="calling" class="d-flex justify-content-center my-1">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
              </div>
              <div *ngIf="!rides[0] && calling == false" class="col-md-12 text-center">
                <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                <h3 class="not-found">Not Found</h3>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myDateModel" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Filter Single Rides</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="dateFilterForm" (ngSubmit)="getData()">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="start">Start Date</label>
                          <input class="form-control" formControlName="start" id="startDate" type='date'>
                        </div>
                        <div class="col-md-6">
                          <label for="end">End Date</label>
                          <input class="form-control" formControlName="end" id="endDate" type="date">
                        </div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button (click)='getData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                                style="margin-top: 10px; margin-left: 1px;"
                                type="button">Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Driver Tab-->
            <div class="tab-pane fade" id="byDriver" role="tabpanel" aria-labelledby="home-basic-tab">
              <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total Driver Posted Rides : </b>
                {{ driverTotal}}</span>
              <div style=" position: relative; float: right;">
                <button class="btn btn-sm btn-outline-dark" (click)="resetFilterDriver()">Reset Filter</button>
              </div>
              <div style=" position: relative;float: right;">
                <input type="button" *ngIf='temp == false' value="Download">
                <input type="text" class="mr-2" placeholder="Search By Keyword" [(ngModel)]='nameSearch'
                       (change)="getDriverRides(1)" autofocus>
              </div>
<!--              <div style=" position: relative; float: left; " *ngIf="driverRides[0]">-->
<!--                <a class='btn btn-outline-dark btn-sm'-->
<!--                   href="https://api.qualwebs.com/drupp/api/admin/download-driver-single-rides" target="_blank">-->
<!--                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="20">Export File</a>-->
<!--              </div>-->
              <div style=" position: relative; float: left; " *ngIf="driverRides[0]">
                <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/download-driver-single-rides">Export PDF File</a>
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/excel/driver-single-rides">Export Excel File</a>
                </div>
              </div>
              <div style=" position: relative;
                  float: right; margin-right: 10px; margin-bottom: 10px;">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#myDateModelDriver">Filter By Date
                </button>
              </div>
              <div style=" position: relative; float: right; margin-right: 10px ">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                  Filter By
                </button>
                <div class="dropdown-menu">
                  <a (click)='getFilterDriver("")' href="javascript:void(0)" class="dropdown-item">All</a>
                  <a (click)='getFilterDriver(1)' href="javascript:void(0)" class="dropdown-item">Posted</a>
                  <a (click)='getFilterDriver(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                  <a (click)='getFilterDriver(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                  <a (click)='getFilterDriver(4)' href="javascript:void(0)" class="dropdown-item">Finished</a>
                  <a (click)='getFilterDriver(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                  <a (click)='getFilterDriver(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-active table-striped table-bordered">
                  <thead>
                  <tr>
                    <th scope="col"> #</th>
                    <th scope="col"> Date</th>
                    <th scope="col"> Driver</th>
                    <th scope="col"> Rider</th>
                    <th scope="col"> Source</th>
                    <th scope="col"> Destination</th>
                    <th scope="col">Fare</th>
                    <th scope="col">Commission</th>
                    <th scope="col">Tax</th>
                    <th scope="col"> Status</th>
                    <th scope="col">View</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="let ride of driverRides |
                   paginate: { itemsPerPage: 10, currentPage: driverPage ,totalItems:driverTotal,id:'driver'} let i =index">
                    <td>{{ride.id}}</td>

                    <td>{{ride.ride_date| amFromUnix|amDateFormat:'DD/MM/YYYY'}}</td>
                    <td>
                      <span *ngIf="ride.Driver_name"><a routerLink="../driver-details/{{ride.driver_id}}">{{ride.Driver_name}}</a></span>
                      <span *ngIf="!ride.Driver_name">N/A</span>
                    </td>
                    <td>
                      <span class=""*ngIf="ride.Rider_name"><a routerLink="../user-details/{{ride.user_id}}">{{ride.Rider_name}}</a></span>
                      <span class="text-center"*ngIf="!ride.Rider_name">N/A</span>
                    </td>

                    <td data-title="'{{ride.source}}'">
                      {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}
                    </td>

                    <td data-title="'{{ride.destination}}'">
                      {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}
                    </td>

                    <td class="text-right">{{ride.driver_fare| currency:"₦"}}</td>

                    <td class="text-right">
                      <span *ngIf="ride.drupp_earnings">{{ride.drupp_earnings| currency:"₦"}}</span>
                      <span *ngIf="!ride.drupp_earnings">{{0| currency:"₦"}}</span>
                    </td>

                    <td class="text-right">
                      <span class="" *ngIf="ride.total_fare"> {{(ride.total_fare*7.5/100)|currency:"₦"}}</span>
                      <span class="" *ngIf="!ride.total_fare"> {{0|currency:"₦"}}</span>
                    </td>
                    <td class="text-center">
                      <span class="badge badge-success">{{ride.status| rideStatus}}</span>
                    </td>
                    <td>
                      <a class="btn btn-success" routerLink="../driver-ride-details/{{ride.id}}">
                        <i class="fas fa-eye"></i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="driverRides[0]" (pageChange)=pageChangedDriver($event)
                                     id='driver'>

                </pagination-controls>
              </div>
              <div *ngIf="calling" class="d-flex justify-content-center my-1">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
              </div>
              <div *ngIf="!driverRides[0] && calling == false" class="col-md-12 text-center">
                <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                <h3 class="not-found">Not Found</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myDateModelDriver" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Single Rides</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dateFilterFormDriver" (ngSubmit)="getDataDriver()">
          <div class="row">
            <div class="col-md-6">
              <label for="start">Start Date</label>
              <input class="form-control" formControlName="start" id="start" type='date'>
            </div>
            <div class="col-md-6">
              <label for="end">End Date</label>
              <input class="form-control" formControlName="end" id="end" type="date">
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button (click)='getData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                    style="margin-top: 10px; margin-left: 1px;"
                    type="button">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

