<div class="app-admin-wrap layout-sidebar-large clearfix">
  <div class="main-header row">
    <div class="col-md-4" routerLink="/dashboard" style="cursor: pointer">
      <img src="assets/images/newLogo.png" alt="">
    </div>

    <div class="col-md-4 justify-content-between" style="margin-bottom: 10px;">
      <form [formGroup]="searchForm" (ngSubmit)="globalSearch()">
          <div class="input-group mb-3">
              <input type="text"  formControlName="searchTerm" class="form-control" placeholder="Start typing..." aria-label="search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-danger" type="submit"><i class="fas fa-search"></i></button>
              </div>
          </div>
      </form>
    </div>

    <div class="header-part-right col-md-4 justify-content-end">
        <div class="row">
            <!-- BEGIN NOTIFICATIONS -->
            <div class="col-md-4 text-right" style="cursor:pointer;" *appAccessControl="['Notification','nav']">
                <div class="dropdown">
                    <a class="dropdown-toggle text-white" data-toggle="dropdown" (click)="getUnreadNotificationCount()" >
                        <img *ngIf="unreadCount == 0" class="img-fluid fix "
                             src="./assets/images/icon/notify.png" width="32" alt="">
                        <img *ngIf="unreadCount != 0" class="img-fluid notification-image fix"
                             src="./assets/images/icon/notify.png" width="32" alt="">
                        <sup *ngIf="unreadCount != 0">(<b>{{unreadCount}}</b>)</sup>
                    </a>
                    <div class="dropdown-menu menuBox">
                        <h5 class="font-weight-light text-uppercase">Recent Notifications</h5>
                        <ul class="list-group" *ngFor="let notification of notifications; let i=index">
                            <li class="list-group-item list-group-item-action font-weight-bolder p-1 m-1">{{notification.notification_message}} <span class="badge badge-danger">{{notification.created_at | dateAgo}}</span></li>
                        </ul>
                        <div class="text-left" *ngIf="unreadCount>0">
                            <a class="btn btn-link btn-success text-decoration-none text-white font-weight-bolder" routerLink="/dashboard/notification">View More</a>
                        </div>
                        <div class="" *ngIf="unreadCount<1">
                            <span class="text-danger">No new Notifications</span>
                        </div>
                        <div *ngIf="loading" class="d-flex justify-content-center my-1">
                            <div class="spinner-border" role="status" aria-hidden="true"></div>
                        </div>
                        <div *ngIf="!notifications[0] && loading == false" class="col-md-12 text-center">
                            <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                            <h3 class="not-found">Not Found</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--END Notifications-->

            <!-- START ADMIN PROFILE -->
            <div class="col-md-8 text-center">
                <div class="dropdown text-right">
                    <div class="user">
                        <img src="./assets/images/faces/1.jpg" id="userDropdown" alt="" data-toggle="dropdown"
                             aria-haspopup="true"
                             aria-expanded="false"><span class="text-capitalize text-white">  Welcome {{ adminName}}</span>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <div class="dropdown-header">
                                <!-- <i class="i-Lock-User mr-1"></i>{{adminName}}-->
                            </div>
                            <!--            <a class="dropdown-item">Account settings</a>-->
                            <!--            <a class="dropdown-item">Billing history</a>-->
                            <a class="dropdown-item" href="javascript:void(0)" (click)="openPasswordChange()">Change Password</a>
                            <a (click)="doLogout()" href="javascript:void(0)" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END ADMIN PROFILE -->
        </div>
    </div>
  </div>

  <!--BEGIN side anv-->
    <div class="side-content-wrap ">
      <!--sidebar-left open rtl-ps-none-->
      <div class="sidebar-left open rtl-ps-none p-12" data-perfect-scrollbar data-suppress-scroll-x="true">
          <ul class="navigation-left">
              <li *appAccessControl="['Dashboard','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark" [routerLink]="['/dashboard']"><span class="menu-item text-truncate " data-i18n="Analytics"><i class="fas fa-tachometer-alt"></i> DASHBOARD</span></a></li>
              <li *appAccessControl="['Subadmin','nav']" class=" nav-item">
                  <a class="nav-link collapsed d-flex align-items-center text-dark" href="#roles" data-toggle="collapse" data-target="#roles"><i class="fas fa-key"></i>
                      <span class="menu-item text-truncate  m-1"> ROLES</span>
                  </a>
                  <div class="collapse" id="roles" aria-expanded="false">
                      <ul class="flex-column pl-2 nav">
                          <li class=" nav-item p-3"><a class="d-flex align-items-center text-dark" [routerLink]="['/dashboard/sub-admin']"><span class="menu-item text-truncate " data-i18n="Analytics" title="ACCESS CONTROL"><i class="fas fa-users"></i> STAFF</span></a></li>
                          <li class=" nav-item p-3"><a class="d-flex align-items-center text-dark" [routerLink]="['/dashboard/roles']"><span class="menu-item text-truncate " data-i18n="Analytics" title="staff roles"><i class="fas fa-user"></i> CREATE STAFF</span></a></li>
                      </ul>
                  </div>
              </li>
              <li *appAccessControl="['Subadmin','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/earnings']"><span class="menu-item text-truncate " data-i18n="Analytics"><i class="fas fa-money-check-alt"></i> REVENUE MANAGEMENT</span></a></li>
              <li *appAccessControl="['Subadmin','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/analysis']"><span class="menu-item text-truncate " data-i18n="Analytics" title="REPORTS/ANALYSIS"><i class="fas fa-chart-bar"></i> REPORTS/ANALYSIS</span></a></li>
              <li *appAccessControl="['Support','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/notes-log']"><span class="menu-item text-truncate " data-i18n="Analytics" title="SOS"><i class="fas fa-sun"></i> NOTES LOG</span></a></li>
              <li *appAccessControl="['Bus','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/bus']"><span class="menu-item text-truncate " data-i18n="Analytics" title="Bus services"><i class="fas fa-sign-in-alt"></i> BUS SERVICES</span></a></li>
              <li *appAccessControl="['Notification','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/general-notification']"><span class="menu-item text-truncate " data-i18n="Analytics" title="alerts"><i class="fas fa-bell"></i> IN-APP NOTIFICATIONS</span></a></li>
              <li *appAccessControl="['Notification','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/notification']"><span class="menu-item text-truncate " data-i18n="Analytics" title="alerts"><i class="fas fa-bell"></i> NOTIFICATIONS</span></a></li>
              <li *appAccessControl="['Drivers','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/drivers']"><span class="menu-item text-truncate " data-i18n="Analytics" title="drivers"><i class="fas fa-user-friends"></i> DRIVERS</span></a></li>
              <li *appAccessControl="['Riders','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/users']"><span class="menu-item text-truncate " data-i18n="Analytics" title="riders"><i class="fas fa-user-friends"></i> RIDERS</span></a></li>
              <li *appAccessControl="['Users','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/live-users']"><span class="menu-item text-truncate " data-i18n="Analytics" title="maps"><i class="fas fa-users"></i> LIVE USERS</span></a></li>
              <li class=" nav-item">
                  <a class="nav-link collapsed d-flex align-items-center text-dark" href="#current-rides" data-toggle="collapse" data-target="#current-rides"><i class="fas fa-map"></i>
                  <span class="menu-item text-truncate  m-1"> MAPS</span>
                  </a>
                  <div class="collapse" id="current-rides" aria-expanded="false">
                      <ul class="flex-column pl-2 nav">
                          <li *appAccessControl="['Running Rides','nav']" class="nav-item"><a class="nav-link py-0 p-3 d-flex align-items-center text-dark" [routerLink]="['/dashboard/started-rides']"><span> <i class="fas fa-motorcycle"></i> RUNNING RIDES</span></a></li>
                          <li *appAccessControl="['Track on Live Map','nav']" class="nav-item"><a class="nav-link py-0 p-3 d-flex align-items-center text-dark" [routerLink]="['/dashboard/trackRides']"><span> <i class="fas fa-motorcycle"></i> TRACK ON LIVE MAP</span></a></li>
                      </ul>
                  </div>
              </li>

              <li *appAccessControl="['Rides','nav']" class=" nav-item">
                  <a class="nav-link collapsed d-flex align-items-center text-dark" href="#ride-management" data-toggle="collapse" data-target="#ride-management"><i class="fas fa-tasks"></i>
                  <span class="menu-item text-truncate  m-1"> RIDE MANAGEMENT</span>
                  </a>
                  <div class="collapse" id="ride-management" aria-expanded="false">
                      <ul class="flex-column pl-2 nav">
                          <li class="nav-item"><a class="nav-link py-0 p-3 d-flex align-items-center text-dark" [routerLink]="['/dashboard/rides']"><span> <i class="fas fa-motorcycle"></i> SINGLE RIDES</span></a></li>
                          <li *appAccessControl="['Pooled rides','nav']" class="nav-item"><a class="nav-link py-0 p-3 d-flex align-items-center text-dark" [routerLink]="['/dashboard/poolRides']"><span> <i class="fas fa-motorcycle"></i> POOLED RIDES</span></a></li>
                          <li *appAccessControl="['Keke','nav']" class="nav-item"><a class="nav-link py-0 p-3 d-flex align-items-center text-dark" [routerLink]="['/dashboard/kekeRides']"><span> <i class="fas fa-motorcycle"></i> KEKE RIDES</span></a></li>
                      </ul>
                  </div>
              </li>
              <li *appAccessControl="['Subadmin','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/earnings']"><span class="menu-item text-truncate " data-i18n="Analytics" title="earnings"><i class="fas fa-credit-card"></i> EARNINGS</span></a></li>
              <li *appAccessControl="['Fares','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/vehicles']"><span class="menu-item text-truncate " data-i18n="Analytics" title="fare management"><i class="fas fa-coins"></i> FARES MANAGEMENT</span></a></li>
<!--              <li class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/coupon']"><span class="menu-item text-truncate " data-i18n="Analytics" title="promos codes"><i class="fas fa-ad"></i> PROMOS MANAGEMENT</span></a></li>-->
              <li *appAccessControl="['Rating review','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/rating-review']"><span class="menu-item text-truncate " data-i18n="Analytics" title="Ratings and Reviews"><i class="fas fa-star-half-alt"></i> RATINGS & REVIEWS</span></a></li>
              <li *appAccessControl="['Vehicle details','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/vehicle-details']"><span class="menu-item text-truncate " data-i18n="Analytics" title="Vehicle inventory"><i class="fas fa-car"></i> VEHICLE INVENTORY</span></a></li>
<!--              <li class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard']"><span class="menu-item text-truncate " data-i18n="Analytics" title="system comms"><i class="fas fa-tv"></i> SYSTEM COMMS</span></a></li>-->
              <li *appAccessControl="['Send message to all','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/send-to-all']"><span class="menu-item text-truncate " data-i18n="Analytics" title="Messaging service"><i class="fas fa-sms"></i> MESSAGING SERVICE</span></a></li>
              <li class=" nav-item m-1" *appAccessControl="['Drupp Shop','nav']">
                  <a class="nav-link collapsed text-dark  d-flex align-items-center " href="#drupp-shop" data-toggle="collapse" data-target="#drupp-shop"><i class="fas fa-shopping-cart mr-2"></i> DRUPP SHOP</a>
                  <div class="collapse" id="drupp-shop" aria-expanded="false">
                      <ul class="flex-column pl-2 nav">
                          <li *appAccessControl="['Products','nav']" class="nav-item"><a class="nav-link py-0 p-3 d-flex align-items-center text-dark" [routerLink]="['/dashboard/drupp-shop']"><span> <i class="fab fa-product-hunt"></i> PRODUCTS</span></a></li>
                          <li *appAccessControl="['Orders','nav']" class="nav-item"><a class="nav-link py-0 p-3 d-flex align-items-center text-dark" [routerLink]="['/dashboard/order-history']"><span> <i class="fab fa-product-hunt"></i> ORDERS</span></a></li>
                          <li *appAccessControl="['Categories','nav']" class="nav-item"><a class="nav-link py-0 p-3 d-flex align-items-center text-dark" [routerLink]="['/dashboard/category-shop']"><span> <i class="fab fa-product-hunt"></i> CATEGORIES</span></a></li>
                      </ul>
                  </div>
              </li>
              <li *appAccessControl="['News','nav']" class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/news']"><span class="menu-item text-truncate " data-i18n="Analytics" title="news management"><i class="fas fa-rss"></i> NEWS MANAGEMENT</span></a></li>
<!--              <li class=" nav-item p-3"><a class="d-flex align-items-center text-dark " [routerLink]="['/dashboard/support']"><span class="menu-item text-truncate " data-i18n="Analytics" title="Support"><i class="fas fa-headset"></i> SUPPORT</span></a></li>-->
          </ul>
      </div>
    </div>

  <!--END side nav-->

  <!--START main content-->
  <div class="main-content-wrap sidenav-open ">
    <router-outlet></router-outlet>
  </div>
  <!--END main content-->
</div>

<div class="modal fade" id="passwordChange" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="changePassword()" [formGroup]="changePasswordFormGroup">
          <label for="old">Current Password</label>
          <input class="form-control" name="current_password" formControlName="current_password" id="old"
                 placeholder="Enter Your Current Password" type='text'>
          <label for="new" class="mt-3">New Password</label>
          <input class="form-control" name="new_password" formControlName="new_password"
                 placeholder="Enter Your New Password" id="new" type="text">
          <button type="submit" (click)="changePassword()" class="btn btn-primary btn-sm mt-3" data-dismiss="modal"
                  style="margin-top: 10px; margin-left: 1px;">Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
