.main-content-wrap{
  background: #E5E5E5;
}
.mat-card1 {
  background-image: linear-gradient(-90deg,#ee8221,#f5b041);
}
.main-header{
  background: linear-gradient(0deg, #1DCF9F, #1DCF9F),
  linear-gradient(0deg, #00A65A, #00A65A);

}

.white_card{
  background-color: white;
}
.blue_card {
  margin-right: 16px;
  background-color: #85c1e9;
  margin-left: 14px;
}
.center{
  text-align: center;
  align-self: center;
  align-items: center;
}

.video-bg {


  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
h1{
  color: white!important;

}
h6 {
  color: white!important;

}

h4{
  color: white;
}


#container {
  min-width: 310px;
  max-width: 800px;
  height: 400px;
  margin: 0 auto
}

.mat-box {
  max-width: 319px!important;
  margin-right: 0px!important;
  margin-left: 18px;
}

.theme {
  /*background-image: linear-gradient(-90deg,lightgrey,grey);*/
}

.performed_pink {
  color: palevioletred;
}

.adopted_blue {
  color: #1f3295;
}
.size_font{
  font-size: 20px;
}

.player_green{
  background-color: #00cc66;
}

.player_card {
  margin-left: 15px;
  margin-right: 30px;
}

.agility_pass{
  border: 2px solid blue;
}

.agility_Card{
  margin-left: 16px;
  margin-right: 20px;
}

.blue_dot{
  max-width: 33%;
}

.button1 {
  border: none;
  color: white;
  font-size:15px;
  cursor: pointer;
}
.header-part-right .dropdown-toggle:after{
  content: none;
}
.button5 {border-radius: 20%;}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.menuBox {
  max-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 348px;
  top: 31px !important;
  padding: 10px;

}
.underLine {
  border-bottom: 1px solid #ccc7d1;
}
.manageSize {
  font-size: 12px;
}
.main-header .header-part-right {
  display: unset;
  align-items: center;
}
.fix {
  margin-top: 5px;
}
.notification-image {
  -moz-animation-duration: 500ms;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-duration: 500ms;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-duration: 500ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #8fa325;
}
@-moz-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.nav-link[data-toggle].collapsed:after {
  content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
  content: " ▴";
}
