<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard/vehicles">Fare Management</a></li>
            <li class="breadcrumb-item active">Add Vehicles</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h4 class="font-weight-300 text-uppercase text-center">Add Vehicle</h4></div>
      <div class="card-body">
        <form [formGroup]="addVehicleFormGroup" (submit)="addVehicle()" ngNativeValidate>
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="vehicle-name">Fare Type</label>
              <input type="text" class="form-control" id="vehicle-name" placeholder="Enter Fare type" formControlName="name" autocomplete="off" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="type">Select Type</label>
              <select class="form-control" name="type" formControlName="type" id="type" required>
                <option value = "" selected>Select Type</option>
                <option value="1">Car</option>
                <option value="2">Keke</option>
                <option value="3">Bus</option>
              </select>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="capacity">Capacity</label>
              <input type="text" class="form-control" id="capacity" appDigitOnly placeholder="Enter vehicle capacity" formControlName="capacity" autocomplete="off" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="kmRate">Rate per KM</label>
              <input type="text" class="form-control" id="kmRate" appDigitOnly placeholder="Enter rate per KM" formControlName="rate_per_km" autocomplete="off" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="waitCharge">Waiting charge per KM </label>
              <input type="text" class="form-control" id="waitCharge" appDigitOnly placeholder="Enter wait per KM charge" formControlName="per_minute_wait_charge" autocomplete="off" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="baseFare">Enter Base Fare</label>
              <input type="text" class="form-control" id="baseFare" appDigitOnly placeholder="Enter Base Fare" formControlName="base_fare" autocomplete="off" required>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-4 text-right"><button type="submit" class="btn text-white red" >Add Vehicle </button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
