<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard/vehicles">Fare Management</a></li>
            <li class="breadcrumb-item active">Edit Fare</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h4 class="text-center text-uppercase font-weight-300">Edit Fare</h4></div>
      <div class="card-body">
        <form  [formGroup]="editVehicleFormGroup" ngNativeValidate (submit)="edit()">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="vehicle-name">Vehicle Type</label>
              <input type="text" class="form-control" id="vehicle-name" placeholder="Enter vehicle type" formControlName="name" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="catList">Select Category</label>
              <select class="form-control" name="type" formControlName="type" id="catList" required>
                <option value = "" selected>Select Type</option>
                <option value="1">Car</option>
                <option value="2">Keke</option>
                <option value="3">Bus</option>
              </select>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="baseFare">Enter Base Fare</label>
              <input class="form-control" id="baseFare" placeholder="Enter Base Fare" appDigitOnly formControlName="base_fare" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="capacity">Capacity</label>
              <input type="text" class="form-control" id="capacity" placeholder="Enter vehicle capacity" appDigitOnly formControlName="capacity" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="kmRate">Rate per KM</label>
              <input type="text" class="form-control" id="kmRate" placeholder="Enter rate per KM" appDigitOnly formControlName="rate_per_km">
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="waitCharge">Waiting charge per KM </label>
              <input class="form-control" id="waitCharge" placeholder="Enter wait per KM charge" appDigitOnly formControlName="per_minute_wait_charge">
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-4 text-right"><button type="submit" class="btn text-white red" >Save </button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
