<style>
    table{
        font-size: 14px;
        cursor: pointer;
    }
</style>
<div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Fare Management</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center text-uppercase font-weight-300">Fare Management</h4>
        </div>
      <div class="card-body">
        <div class="card-title mb-0">
          <div class="col-md-12 text-right mb-1">
            <a class="btn text-white red" routerLink="../add-vehicle"> Add Fares </a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-active table-bordered">
            <thead class="thead-light">
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Fare Types</th>
              <th scope="col" class="text-center">Base Fare</th>
              <th scope="col" class="text-center">Rate/KMH</th>
              <th scope="col" class="text-center">Waiting Charge/min</th>
              <th scope="col" class="text-center">Capacity</th>
              <th scope="col" class="text-center">Edit</th>
              <th scope="col" class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
           <tr *ngFor="let vehicle of vehicles; let i =index">
             <td>{{vehicle.id}}</td>
              <td>{{vehicle.name}}</td>
              <td class="text-right">{{vehicle.base_fare | currency:"₦"}}</td>
              <td class="text-center">{{vehicle.rate_per_km | number}}</td>
              <td class="text-right">{{vehicle.per_minute_wait_charge | currency:"₦"}}</td>
              <td class="text-center">{{vehicle.capacity | number}}</td>
              <td class="text-center text-white">
                   <a class="btn btn-success" routerLink="../edit-vehicle/{{vehicle.id}}">
                       <i class="fas fa-edit"></i>
                   </a>
               </td>
              <td class="text-center">
                  <a class="btn red text-white " (click)="delete(vehicle.id)">
                      <i class="fas fa-trash"></i>
                  </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
          <div *ngIf="calling" class="d-flex justify-content-center my-1">
              <div class="spinner-border" role="status" aria-hidden="true"></div>
          </div>
          <div *ngIf="!vehicles[0] && calling == false" class="col-md-12 text-center">
              <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
              <h3 class="not-found">Not Found</h3>
          </div>
      </div>
    </div>
  </div>
</div>

