<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard/started-rides">Started Rides</a></li>
            <li class="breadcrumb-item active">Ride Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card">
      <div class="card-header"><h5 class="text-uppercase text-center font-weight-300">Ride Details</h5></div>
      <div class="card-body">

        <form>
          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label for="booking-date">Booked On:</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="booking-date"
                    value="{{rideDetails.created_at | date : 'MMM d, y, h:mm:ss a'}}"
                    name="booking-date"
                    id="booking-date"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="ride-date">Ride Starts On:</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="booking-date"
                    value="{{rideDetails.ride_date| amFromUnix|amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}"
                    name="ride-date"
                    id="ride-date"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="distance">Total Distance To Be Covered:</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="booking-date"
                    value="{{rideDetails.distance | number}}Km"
                    name="distance"
                    id="distance"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="duration">Ride Duration:</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="booking"
                    value="{{rideDetails.duration}}"
                    name="duration"
                    id="duration"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="distance">Total Amount  To Be Paid:</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="fare"
                    value="{{rideDetails.total_fare | currency:' '}}"
                    name="fare"
                    id="fare"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="payment_option">Payment Method:</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="payment_option"
                    value="{{rideDetails.payment_option | paymentMethod}}"
                    name="payment_option"
                    id="payment_option"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="drupp_earnings">Expected Drupp Earnings:</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Drupp Earnings"
                    value="{{rideDetails.drupp_earnings | currency:' '}}"
                    name="drupp_earnings"
                    id="drupp_earnings"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="status">Ride Status:</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="status"
                    value="{{rideDetails.status | rideStatus}}"
                    name="status"
                    id="status"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="rider_name">Rider</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Customer"
                    value="{{rideDetails.rider_name}}"
                    name="rider_name"
                    id="rider_name"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="driver_name">Driver</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Driver name"
                    value="{{rideDetails.driver_name}}"
                    name="driver_name"
                    id="driver_name"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="from">Travelling From</label>
                <input
                    type="text"
                    title="travelling from?"
                    class="form-control"
                    placeholder="Source"
                    value="{{rideDetails.source}}"
                    name="from"
                    id="from"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="to">Travelling To:</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="travelling to"
                    value="{{rideDetails.destination}}"
                    name="to"
                    id="to"
                    disabled
                />
              </div>
            </div>

          </div>
        </form>

        <div class="card " style="margin-left:100px;margin-right:100px; margin-top: 20px; padding:10px;">
          <agm-map [latitude]="lat" [longitude]="lng" style='height:500px; border-radius : 1px'>
            <agm-direction [destination]="destination" [markerOptions]="markerOptions" [origin]="origin"
                           [renderOptions]="renderOptions">
            </agm-direction>
            <agm-marker [iconUrl]="
  {
    url: '../../../assets/images/icon/vehicle.png',
    scaledSize: {
        width: 20,
        height: 30
    }
}" [latitude]='markerlat' [longitude]='markerlong'>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>

