<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="col-md-12 card-title text-center mb-3"><h5><b> TERMS AND CONDITIONS</b></h5></div>
        <div class="card-title mb-3">Last Updated On : {{terms.updated_at | date : 'MMM d, y, h:mm:ss a'}} </div>
        <form ngNativeValidate [formGroup]="AddTnCGroup" (ngSubmit)="addTnC()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="tnc">Terms And Conditions</label>
              <editor  formControlName="terms_and_condition" [innerHTML]="tnc.terms_and_condition | safeHtml" id="tnc" class="form-control description" [init]="{height : 319}" required>
              </editor>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="policy">Privacy Policy</label>
              <editor  formControlName="privacy_policy" id="policy" class="form-control description" [init]="{height : 319}" required>
              </editor>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary" [disabled]="AddTnCGroup.invalid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
