<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard/poolRides">Pool Rides</a></li>
            <li class="breadcrumb-item active">Driver Ride Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Ride Details</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button [disabled]="!rideDetails.vehicle_detail_id" class="btn btn-link text-white red" [routerLink]="['/dashboard/more-details-vehicle/',rideDetails.vehicle_detail_id]">View Vehicle Details</button>
          </div>
        </div>
        <!-- BEGIN ride details-->
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="created_at">Ride Booked On:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Booking Date"
                        value="{{rideDetails.created_at|date:'MMM d, y, h:mm:ss a'}}"
                        name="created_at"
                        id="created_at"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="startdate">Starting On:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Start Date"
                        value="{{rideDetails.start_time || 'N/A' | date:'MMM d, y, h:mm:ss a'}}"
                        name="first_name"
                        id="startdate"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="endDate">Ending On</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Ending on"
                        value="{{rideDetails.complete_time |date:'MMM d, y, h:mm:ss a'}}"
                        name="endDate"
                        id="endDate"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="duration">Ride Duration</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="duration"
                        value="{{rideDetails.duration || 'N/A'}}"
                        name="duration"
                        id="duration"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="fare">Base Fare:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="seats"
                        value="{{rideDetails.base_fare || 'N/A' |currency:' '}}"
                        name="fare"
                        id="fare"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="delay">Delay Charges/Minute:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="delay"
                        value="{{rideDetails.per_minute_wait_charge || 0 |currency:' '}}"
                        name="delay"
                        id="delay"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="distance">Total Distance To be Covered:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="distance"
                        value="{{rideDetails.distance || 0 |number}}km"
                        name="distance"
                        id="distance"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="total_fare">Total Payable Fare:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="total_fare"
                        value="{{rideDetails.total_fare || 0 |currency:' '}}"
                        name="total_fare"
                        id="total_fare"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="total_fare">Payment Method:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="payment_option"
                        value="{{rideDetails.payment_option | paymentMethod}}"
                        name="payment_option"
                        id="payment_option"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="total_fare">Total Drupp Earnings:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="drupp_earnings"
                        value="{{rideDetails.drupp_earnings | currency:' '}}"
                        name="drupp_earnings"
                        id="drupp_earnings"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="from">From</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="source"
                        value="{{rideDetails.source}}"
                        name="from"
                        id="from"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="destination">To:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Destination"
                        value="{{rideDetails.destination}}"
                        name="destination"
                        id="destination"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="Rider_name">Rider Name:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="currency"
                        value="{{rideDetails.Rider_name || 'N/A'}}"
                        name="Rider_name"
                        id="Rider_name"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="driver_name">Driver Name:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Driver name"
                        value="{{rideDetails.Driver_name || 'N/A'}}"
                        name="driver_name"
                        id="driver_name"
                        disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Ride Status:</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Status"
                        value="{{rideDetails.status | rideStatus}}"
                        name="status"
                        id="status"
                        disabled
                />
              </div>
            </div>

          </div>
        </form>
        <!-- END ride details-->

        <div class="card " style="margin-left:100px;margin-right:100px; padding:10px; margin-top: 20px;">
          <div class="card">
          <agm-map style='height: 400px;' [latitude]="lat" [longitude]="lng">
            <agm-direction [origin]="origin" [destination]="destination">
            </agm-direction>
          </agm-map>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

