<div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <a class="btn btn-primary" href="javascript:void(0)" (click)="goBack()"> <i class="nav-icon i-Back1"></i> Back </a>  <br>
          <div class="card-title text-center mb-3"><h5><b>EDIT VEHICLE</b></h5></div><br>
          <form ngNativeValidate [formGroup]="editDriverVehicle" (ngSubmit)="edit()">
            <div class="row">

<!--                  <div class="col-md-6 form-group mb-3">-->
<!--                      <label for="user-id">Vehicle Type Id</label>-->
<!--                      <input class="form-control" id="user-id" formControlName="vehicle_type_id" disabled>-->
<!--                    </div>-->
              <div class="col-md-6 form-group mb-3">
                <label for="vehicle_type_id">Vehicle Type</label>
                <select name="driver" id="vehicle_type_id" class="form-control" formControlName="vehicle_type_id" required>
                  <option value="" selected>Select Vehicle Type</option>
                  <option *ngFor="let name of vehicles;let index = index;" [value]="name.id">
                    <span *ngIf="name.id == 1">Non-Ac</span>
                    <span *ngIf="name.id == 2">AC</span>
                    <span *ngIf="name.id == 3">KEKE</span>
                  </option>
                </select>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="last-name">Vehicle Name</label>
                <input class="form-control" id="last-name" placeholder="Enter Vehicle Name" formControlName="vehicle_name" required>
              </div>

              <div class="col-md-6 form-group mb-3">
                <label for="email">Licence Plate Number</label>
                <input type="text" class="form-control" id="email" placeholder="Enter Licence Plate Number" formControlName="vehicle_number" required>
              </div>

              <div class="col-md-6 form-group mb-3">
                <label for="code">Vehicle Model Year</label>
                <input type="text" appDigitOnly class="form-control" id="code" placeholder="Enter Vehicle Model Year" formControlName="vehicle_model" required>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="password">Vehicle Brand </label>
                <input type="text" class="form-control" id="password"  placeholder="Enter Vehicle Brand " formControlName="vehicle_brand" required>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="phone">Vehicle Color</label>
                <input class="form-control" id="phone" placeholder="Enter Vehicle Color" formControlName="vehicle_color" required>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="city">Chassis Number </label>
                <input class="form-control" id="city" placeholder="Enter Chassis Number" formControlName="chassis_number" required>
              </div>
                  <div class="col-md-6 form-group mb-3">
                  <input type="hidden" formControlName="id" disabled>
                </div>
              <div class="col-md-12">
                <button class="btn btn-primary" >Update Details</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
