.highcharts-figure, .highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}
.rowR
{
    margin-right:0px !important;
    margin-left:0px !important;
}
.drupp_rides
{
    margin-bottom:20px;
}
.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
li span.new_visits {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #1889cb;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.unique_visits {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #abd037;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.stat_block.drupp_rides h6 {
    padding-bottom: 12px !important;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.stat_chart {
    width: auto;
    overflow: hidden;
    background: #fff;
    padding: 23px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: #ddd 1px solid;
  }
  li span.cancell {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #f4e0e9;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
li span.new_visits {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #1889cb;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
ol, ul {
    list-style: none;
}
.card-homepage {
    padding: 40px;
    margin-top: 10px;
}
.stat_chart .chart_label {
    text-align: left !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    width: 100%;
    padding-top: 0px;

}
.chart_label li {
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}
.stat_block tbody tr:nth-child(odd) td {
    background-color: #ffffff !important;
}
.stat_block table
{
  width:100%;
  margin-top:5%;
}
.stat_block table tr td {
    padding: 8px 10px;
    font-size: 12px;
    border-bottom: #ccc 1px solid;
    background: #fff;
}
