<style>
    #rider-statistics,
    #rides-comparisons,
    #driver-statistics{
        width:400px;
        height:400px;
    }
    #monthly-rides-bar,
    #yearly-rides-bar,
    #yearly-weekly-rides-bar,
    #thirty-days-rides-bar,#weekly-rides-bar{
        width: 1300px;
        height:600px;
    }

</style>
<div class="" *appAccessControl="['Subadmin','page']">
    <div class="content-header row">
        <div class="content-header-left col-md-12 col-12">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Analysis</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="d-flex justify-content-center my-1">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
    </div>

    <div class="row mt-2 mb-4 justify-content-center">

        <div class="col-md-3 text-white">
            <div class="card bg-success">
                <div class="card-body">
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <span class="font-weight-bolder">₦</span>
                        </div>
                    </div>
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <p class="text-uppercase"> Total Rides Today</p>
                        </div>
                    </div>
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <h4 class="font-weight-bold text-white">{{dailyRides || 0 | number}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <span class="font-weight-bolder">₦</span>
                        </div>
                    </div>
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <p class="text-uppercase"> Total Rides This Week</p>
                        </div>
                    </div>
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <h4 class="font-weight-bold text-white">{{34| number}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-warning">
                <div class="card-body">
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <span class="font-weight-bolder">₦</span>
                        </div>
                    </div>
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <p class="text-uppercase"> Total Rides This Month</p>
                        </div>
                    </div>
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <h4 class="font-weight-bold text-white">{{100| number}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-info">
                <div class="card-body">
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <span class="font-weight-bolder">₦</span>
                        </div>
                    </div>
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <p class="text-uppercase"> Total Rides This Year</p>
                        </div>
                    </div>
                    <div class="avatar p-50 mb-1">
                        <div class="text-white">
                            <h4 class="font-weight-bold text-white">{{340| number}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h6 class="text-center text-uppercase">RIDES COMPARISONS REPORT</h6>
                </div>
                <div class="card-body">
                    <div class="bg-white m-auto p-4" id="rides-comparisons"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h6 class="text-center text-uppercase">Rides report</h6>
                </div>
                <div class="card-body">
                    <div class="bg-white m-auto p-4" id="rider-statistics"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h6 class="text-center text-uppercase">Drivers report</h6>
                </div>
                <div class="card-body">
                    <div class="bg-white m-auto p-4" id="driver-statistics"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="text-center text-uppercase">Past 30 Days Rides Report</h6>
                </div>
                <div class="card-body">
                    <div class="bg-white m-auto p-4" id="thirty-days-rides-bar"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="row mt-5 mb-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="text-center text-uppercase">Weekly Rides Reports</h6>
                </div>
                <div class="card-body">
                    <div class="bg-white m-auto p-4" id="weekly-rides-bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="text-center text-uppercase">PAST WEEKLY PERFORMANCE INDEX FOR A YEAR</h6>
                </div>
                <div class="card-body">
                    <div class="bg-white m-auto p-4" id="yearly-weekly-rides-bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 mb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center text-uppercase">Monthly rides report</h5>
                </div>
                <div class="card-body">
                    <div class="bg-white m-auto p-4" id="monthly-rides-bar"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-2 mb-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center text-uppercase">Yearly rides report</h5>
                </div>
                <div class="card-body">
                    <div class="bg-white m-auto p-4" id="yearly-rides-bar"></div>
                </div>
            </div>
        </div>
    </div>

</div>
