
.analytics .rider-analytics{
    background-color: #267871;
}
.analytics .drivers-analytics{
    background-color: #BE5869;
}
.analytics .locations-analytics{
    background: #424242;
}
.analytics .car-types-analytics{
    background: #F7941D;
}
.analytics .total-earnings-analytics{
    background: #00A65A;
}
.analytics .admin-earnings-analytics{
    background: #2980B9;
}
.nav-pills > li > a{
    color: #0b0c10;
}
.nav-pills > li > a.active {
    background-color: #1DCF9F !important;
    color: #000000 !important;
}
.driver-rides-graph{
    background: #F8C600;
}

.earnings-area-chart{
    background: #1DCF9F;
}
hr{
    font-weight: bolder;
}
.no-margin
{
    margin: 0px !important;
}
