<div class="" *appAccessControl="['Dashboard','page']">
  <style>
    .card{
      margin-bottom: 3px;
      margin-top: 0;
    }
  </style>
  <h4 class="text-left p-2 m-2 font-weight-bold">Dashboard</h4>
  <hr>
  <!--BEGIN site statistics -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <!-- BEGIN statistics toggled navbar-->
          <div class="row">
            <div class="col-md-8"><h4 class="text-uppercase border-image">SITE STATISTICS</h4></div>
            <div class="col-md-4">
              <ul class="nav nav-pills mb-0 justify-content-end small" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active text-decoration-none border p-2 m-2" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Today</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border  p-2 m-2" id="pills-profile-tab " data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">This Week</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border p-2 m-2" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">This Month</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border p-2 m-2" id="pills-alltime-tab" data-toggle="pill" href="#pills-alltime" role="tab" aria-controls="pills-contact" aria-selected="false">All Time</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END site statistics toggled navbar-->
          <hr/>
          <div class="card-body text-left">
            <div class="analytics">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <!--begin today tab-->
                  <div class="row analytics">
                    <!-- BEGIN Riders -->
                    <div class="col-md-2 text-white">
                      <div class="card rider-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['users']" class="text-white stretched-link">New Riders</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_daily_riders'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Riders -->

                    <!-- BEGIN Drivers -->
                    <div class="col-md-2 text-white">
                      <div class="card drivers-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['drivers']" class="text-white stretched-link">New Drivers</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_daily_drivers'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Drivers -->

                    <!-- BEGIN Locations -->
                    <div class="col-md-2 text-white">
                      <div class="card locations-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['live-users']" class="text-white stretched-link">Happy Customers</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4  class="font-weight-bolder">{{siteStatistics['total_daily_happy_customers'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Locations -->

                    <!-- BEGIN car types -->
                    <div class="col-md-2 text-white">
                      <div class="card car-types-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white font-weight-bolder">
                              <i class="fas fa-car"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Distance Covered</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_daily_distance']|number}}KM</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END car types -->

                    <!-- BEGIN Total earnings -->
                    <div class="col-md-2 text-white">
                      <div class="card total-earnings-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <span class="font-weight-bolder">₦</span>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['earnings']" class="text-white stretched-link">Total Earnings</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_daily_drupp_earnings'] | currency:"₦"}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END total earnings -->

                    <!-- BEGIN Admin Earnings -->
                    <div class="col-md-2 text-white">
                      <div class="card admin-earnings-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['earnings']" class="text-white stretched-link">New Administrators</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_daily_admins']}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Admin Earnings -->
                  </div>
                  <!--END site statistics today tab-->
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <!--Begin Site statistics This week -->
                  <div class="row analytics">
                    <!-- BEGIN Riders -->
                    <div class="col-md-2 text-white">
                      <div class="card rider-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['users']" class="text-white stretched-link">New Riders</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_weekly_riders'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Riders -->

                    <!-- BEGIN Drivers -->
                    <div class="col-md-2 text-white">
                      <div class="card drivers-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['drivers']" class="text-white stretched-link">New Drivers</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_weekly_drivers'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Drivers -->

                    <!-- BEGIN Locations -->
                    <div class="col-md-2 text-white">
                      <div class="card locations-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['live-users']" class="text-white stretched-link">Happy Customers</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_weekly_happy_customers'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END happy customers -->

                    <!-- BEGIN car types -->
                    <div class="col-md-2 text-white">
                      <div class="card car-types-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white font-weight-bolder">
                              <i class="fas fa-car"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Distance Covered</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_weekly_distance'] | number}} KM</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END distance covered -->

                    <!-- BEGIN Total earnings -->
                    <div class="col-md-2 text-white">
                      <div class="card total-earnings-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <span class="font-weight-bolder">₦</span>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['earnings']" class="text-white stretched-link">Total Earnings</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_weekly_drupp_earnings'] | currency:'₦'}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END total earnings -->

                    <!-- BEGIN Admins counter-->
                    <div class="col-md-2 text-white">
                      <div class="card admin-earnings-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['earnings']" class="text-white stretched-link">New Administrators</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_weekly_admins'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Admin Earnings -->
                  </div>
                  <!--END This week -->
                </div>

                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <!-- BEGIN this month -->
                  <div class="row analytics">
                    <!-- BEGIN Riders -->
                    <div class="col-md-2 text-white">
                      <div class="card rider-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['users']" class="text-white stretched-link">New Riders</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_monthly_riders'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Riders -->

                    <!-- BEGIN Drivers -->
                    <div class="col-md-2 text-white">
                      <div class="card drivers-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['drivers']" class="text-white stretched-link">New Drivers</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_monthly_drivers'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Drivers -->

                    <!-- BEGIN happy customers -->
                    <div class="col-md-2 text-white">
                      <div class="card locations-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['live-users']" class="text-white stretched-link">Happy Customers</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_monthly_happy_customers']| number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Happy Customers -->

                    <!-- BEGIN distance covered -->
                    <div class="col-md-2 text-white">
                      <div class="card car-types-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white font-weight-bolder">
                              <i class="fas fa-car"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Distance Covered</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_monthly_distance'] | number}}KM</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END car types -->

                    <!-- BEGIN Total earnings -->
                    <div class="col-md-2 text-white">
                      <div class="card total-earnings-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <span class="font-weight-bolder">₦</span>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['earnings']" class="text-white stretched-link">Total Earnings</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_monthly_drupp_earnings'] | currency:"₦"}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END total earnings -->

                    <!-- BEGIN Admin counters -->
                    <div class="col-md-2 text-white">
                      <div class="card admin-earnings-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['earnings']" class="text-white stretched-link">New Administrators</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_monthly_admins']| number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Admin Earnings -->
                  </div>
                  <!-- END this month -->
                </div>
                <div class="tab-pane fade" id="pills-alltime" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <!-- BEGIN all time-->
                  <div class="row analytics">
                    <!-- BEGIN Riders -->
                    <div class="col-md-2 text-white">
                      <div class="card rider-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['users']" class="text-white stretched-link">Riders</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_all_time_riders'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Riders -->

                    <!-- BEGIN Drivers -->
                    <div class="col-md-2 text-white">
                      <div class="card drivers-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['drivers']" class="text-white stretched-link">Drivers</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_all_time_drivers'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Drivers -->

                    <!-- BEGIN happy customers -->
                    <div class="col-md-2 text-white">
                      <div class="card locations-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['live-users']" class="text-white stretched-link">Happy Customers</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_all_time_happy_customers'] | number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Locations -->

                    <!-- BEGIN car types -->
                    <div class="col-md-2 text-white">
                      <div class="card car-types-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white font-weight-bolder">
                              <i class="fas fa-car"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Distance Covered</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_all_time_distance'] | number}}KM</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END car types -->

                    <!-- BEGIN Total earnings -->
                    <div class="col-md-2 text-white">
                      <div class="card total-earnings-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <span class="font-weight-bolder">₦</span>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['earnings']" class="text-white stretched-link">Total Earnings</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_all_time_drupp_earnings'] | currency:"₦"}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END total earnings -->

                    <!-- BEGIN Admin counters -->
                    <div class="col-md-2 text-white">
                      <div class="card admin-earnings-analytics">
                        <div class="card-body">
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <i class="fas fa-user-friends"></i>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <a [routerLink]="['earnings']" class="text-white stretched-link">Total Administrators</a>
                            </div>
                          </div>
                          <div class="avatar p-50 mb-1">
                            <div class="text-white">
                              <h4 class="font-weight-bolder">{{siteStatistics['total_all_time_admins']| number}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END Admin counters -->
                  </div>
                  <!-- END all time-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END site statistics -->

  <!-- BEGIN Ride statistics -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <!-- BEGIN ride statistics toggled navbar-->
          <div class="row">
            <div class="col-md-8"><h4 class="text-uppercase border-image">Ride STATISTICS</h4></div>
            <div class="col-md-4">
              <ul class="nav nav-pills mb-0 justify-content-end small" id="ride-pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active text-decoration-none border  p-2 m-2" id="pills-ride-today-tab" data-toggle="pill" href="#ride-today" role="tab" aria-controls="pills-home" aria-selected="true">Today</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border  p-2 m-2" id="pills-ride-weekly-tab" data-toggle="pill" href="#ride-weekly" role="tab" aria-controls="pills-profile" aria-selected="false">This Week</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border  p-2 m-2" id="pills-ride-monthly-tab" data-toggle="pill" href="#ride-monthly" role="tab" aria-controls="pills-contact" aria-selected="false">This Month</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border  p-2 m-2" id="pills-ride-alltime-tab" data-toggle="pill" href="#ride-alltime" role="tab" aria-controls="pills-contact" aria-selected="false">All Time</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END ride statistics toggled navbar-->
          <hr/>
        </div>
        <div class="card-body text-left">
          <div class="analytics">
            <div class="tab-content" id="ridesStatistics">
              <div class="tab-pane fade show active" id="ride-today" role="tabpanel" aria-labelledby="pills-home-tab">
                <!--begin today tab-->
                <div class="row analytics">

                  <!-- BEGIN upcoming rides -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Upcoming Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_daily_upcoming_rides'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END upcoming Rides -->

                  <!-- BEGIN ongoing rides -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Ongoing Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_rides_started_today'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END ongoing rides -->

                  <!-- BEGIN completed rides -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Completed Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_daily_rides'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END completed rides -->

                  <!-- BEGIN cancelled Rides -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Cancelled Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_cancelled_rides_today'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END cancelled rides -->
                </div>
                <!--END today tab-->
              </div>
              <div class="tab-pane fade" id="ride-weekly" role="tabpanel" aria-labelledby="pills-profile-tab">
                <!--Begin This week ride statistics-->
                <div class="row analytics">

                  <!-- BEGIN upcoming rides -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Upcoming Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_weekly_upcoming_rides'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END upcoming Rides -->

                  <!-- BEGIN ongoing rides -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Ongoing Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_rides_started_this_week'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END ongoing rides -->

                  <!-- BEGIN completed rides -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Completed Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_weekly_rides'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END completed rides -->

                  <!-- BEGIN cancelled Rides -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Cancelled Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_cancelled_rides_this_week'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END cancelled rides -->
                </div>
                <!--END This week -->
              </div>

              <div class="tab-pane fade" id="ride-monthly" role="tabpanel" aria-labelledby="pills-contact-tab">
                <!-- BEGIN this month -->
                <div class="row analytics">
                  <!-- BEGIN upcoming rides -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Upcoming Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_monthly_upcoming_rides'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END upcoming Rides -->

                  <!-- BEGIN ongoing rides -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Ongoing Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_rides_started_this_month'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END ongoing rides -->

                  <!-- BEGIN completed rides -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Completed Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_monthly_rides'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END completed rides -->

                  <!-- BEGIN cancelled Rides -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Cancelled Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_cancelled_rides_this_month'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END cancelled rides -->
                </div>
                <!-- END this month -->
              </div>

              <div class="tab-pane fade" id="ride-alltime" role="tabpanel" aria-labelledby="pills-contact-tab">
                <!-- BEGIN all time-->
                <div class="row analytics">
                  <!-- BEGIN upcoming rides -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Upcoming Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_all_time_upcoming_rides'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END upcoming Rides -->

                  <!-- BEGIN ongoing rides -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Ongoing Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_rides_started_all_time'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END ongoing rides -->

                  <!-- BEGIN completed rides -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Completed Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_all_time_rides'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END completed rides -->

                  <!-- BEGIN cancelled Rides -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <i class="fas fa-car"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Cancelled Rides</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{rideStatistics['total_cancelled_rides_all_time'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END cancelled rides -->
                </div>
                <!-- END all time-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Ride statistics -->

  <!--BEGIN riders-->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <!-- BEGIN rider statistics toggled navbar-->
          <div class="row">
            <div class="col-md-8"><h4 class="text-uppercase border-image">Rider STATISTICS</h4></div>
            <div class="col-md-4">
              <ul class="nav nav-pills mb-0 justify-content-end small" id="rider-pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active text-decoration-none border  p-2 m-2" id="pills-rider-today-tab" data-toggle="pill" href="#rider-today" role="tab" aria-controls="pills-home" aria-selected="true">Today</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border  p-2 m-2" id="pills-rider-weekly-tab" data-toggle="pill" href="#rider-weekly" role="tab" aria-controls="pills-profile" aria-selected="false">This Week</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border  p-2 m-2" id="pills-rider-monthly-tab" data-toggle="pill" href="#rider-monthly" role="tab" aria-controls="pills-contact" aria-selected="false">This Month</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border  p-2 m-2" id="pills-rider-alltime-tab" data-toggle="pill" href="#rider-alltime" role="tab" aria-controls="pills-contact" aria-selected="false">All Time</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END rider statistics toggled navbar-->
          <hr/>
        </div>
        <div class="card-body text-left">
          <div class="analytics">
            <div class="tab-content" id="riderStatistics">
              <div class="tab-pane fade show active" id="rider-today" role="tabpanel" aria-labelledby="pills-home-tab">
                <!--begin today rider tab-->
                <div class="row analytics">
                  <!-- BEGIN verified Riders -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Verified Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_verified_users_today'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END verified Riders -->

                  <!-- BEGIN Unverified riders -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Unverified Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_unverified_users_today'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Drivers -->

                  <!-- BEGIN inactive users -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Inactive Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_inactive_users_today'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Locations -->

                  <!-- BEGIN rider wallets -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <span class="">₦</span>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Rider Wallet</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_riders_wallet_balance_today']|currency:'₦'}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END rider wallet -->
                </div>
                <!--END today tab-->
              </div>

              <div class="tab-pane fade" id="rider-weekly" role="tabpanel" aria-labelledby="pills-profile-tab">
                <!--Begin This week -->
                <div class="row analytics">
                  <!-- BEGIN verified Riders -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Verified Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_verified_users_this_week'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END verified Riders -->

                  <!-- BEGIN Unverified riders -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Unverified Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_unverified_users_this_week'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Drivers -->

                  <!-- BEGIN inactive users -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Inactive Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_inactive_users_this_week'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Locations -->

                  <!-- BEGIN rider wallets -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <span class="">₦</span>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Rider Wallet</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_riders_wallet_balance_this_week']|currency:'₦'}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END rider wallet -->
                </div>
                <!--END This week -->
              </div>

              <div class="tab-pane fade" id="rider-monthly" role="tabpanel" aria-labelledby="pills-contact-tab">
                <!-- BEGIN this month -->
                <div class="row analytics">
                  <!-- BEGIN verified Riders -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Verified Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_verified_users_this_month'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END verified Riders -->

                  <!-- BEGIN Unverified riders -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Unverified Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_unverified_users_this_month'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Drivers -->

                  <!-- BEGIN inactive users -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Inactive Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_inactive_users_this_month'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Locations -->

                  <!-- BEGIN rider wallets -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <span class="">₦</span>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Rider Wallet</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_riders_wallet_balance_this_month']|currency:'₦'}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END rider wallet -->
                </div>
                <!-- END this month -->
              </div>
              <div class="tab-pane fade" id="rider-alltime" role="tabpanel" aria-labelledby="pills-contact-tab">
                <!-- BEGIN all time-->
                <div class="row analytics">
                  <!-- BEGIN verified Riders -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Verified Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_verified_users_all_time'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END verified Riders -->

                  <!-- BEGIN Unverified riders -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Unverified Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_unverified_users_all_time'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Drivers -->

                  <!-- BEGIN inactive users -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Inactive Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_inactive_users_all_time'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END inactive riders -->

                  <!-- BEGIN rider wallets -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <span class="">₦</span>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Rider Wallet</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{riderStatistics['total_riders_wallet_balance_all_time']|currency:'₦'}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END rider wallet -->
                </div>
                <!-- END all time-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Riders -->

  <!--BEGIN drivers-->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <!-- BEGIN drivers statistics toggled navbar-->
          <div class="row">
            <div class="col-md-8"><h4 class="text-uppercase border-image">Driver STATISTICS</h4></div>
            <div class="col-md-4">
              <ul class="nav nav-pills mb-0 justify-content-end small" id="drivers-pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active text-decoration-none border  p-2 m-2" id="pills-drivers-today-tab" data-toggle="pill" href="#drivers-today" role="tab" aria-controls="pills-home" aria-selected="true">Today</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border  p-2 m-2" id="pills-drivers-weekly-tab" data-toggle="pill" href="#drivers-weekly" role="tab" aria-controls="pills-profile" aria-selected="false">This Week</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border  p-2 m-2" id="pills-drivers-monthly-tab" data-toggle="pill" href="#drivers-monthly" role="tab" aria-controls="pills-contact" aria-selected="false">This Month</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-decoration-none border  p-2 m-2" id="pills-drivers-alltime-tab" data-toggle="pill" href="#drivers-alltime" role="tab" aria-controls="pills-contact" aria-selected="false">All Time</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END driver statistics toggled navbar-->
          <hr/>
        </div>
        <div class="card-body text-left">
          <div class="analytics">
            <div class="tab-content" id="driverStatistics">
              <div class="tab-pane fade show active" id="drivers-today" role="tabpanel" aria-labelledby="pills-drivers-tab">
                <!--begin today tab-->
                <div class="row analytics">
                  <!-- BEGIN verified Riders -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Verified Drivers</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_verified_drivers_today'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END verified Drivers  -->

                  <!-- BEGIN Unverified Drivers -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Unverified Drivers</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_unverified_drivers_today'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Drivers -->

                  <!-- BEGIN inactive Drivers -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Inactive Drivers</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_inactive_drivers_today'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Drivers inactive -->

                  <!-- BEGIN rider wallets -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <span class="">₦</span>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Driver Wallet</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_drivers_wallet_balance_today']|currency:'₦'}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END rider wallet -->
                </div>
                <!-- END all time-->
              </div>

              <div class="tab-pane fade" id="drivers-weekly" role="tabpanel" aria-labelledby="pills-drivers-tab">
                <!--Begin This week -->
                <div class="row analytics">
                  <!-- BEGIN verified Riders -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Verified Drivers</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_verified_drivers_this_week'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END verified Riders -->

                  <!-- BEGIN Unverified riders -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Unverified Drivers</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_unverified_drivers_this_week'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Drivers -->

                  <!-- BEGIN inactive users -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Inactive Drivers</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_inactive_drivers_this_week'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Locations -->

                  <!-- BEGIN rider wallets -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <span class="">₦</span>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Driver Wallet</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_drivers_wallet_balance_this_week']|currency:'₦'}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END rider wallet -->
                </div>
                <!-- END all time-->
              </div>

              <div class="tab-pane fade" id="drivers-monthly" role="tabpanel" aria-labelledby="pills-contact-tab">
                <!-- BEGIN this month -->
                <div class="row analytics">
                  <!-- BEGIN verified Riders -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Verified Riders</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_verified_drivers_this_month'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END verified Riders -->

                  <!-- BEGIN Unverified riders -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Unverified Drivers</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_unverified_drivers_this_month'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Drivers -->

                  <!-- BEGIN inactive users -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Inactive Driver</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_inactive_drivers_this_month'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END inactive drivers -->

                  <!-- BEGIN rider wallets -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <span class="">₦</span>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Driver Wallet</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_drivers_wallet_balance_this_month']|currency:'₦'}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END rider wallet -->
                </div>
                <!-- END all time-->
              </div>
              <div class="tab-pane fade" id="drivers-alltime" role="tabpanel" aria-labelledby="pills-contact-tab">
                <!-- BEGIN all time-->
                <div class="row analytics">
                  <!-- BEGIN verified drivers -->
                  <div class="col-md-3 text-white">
                    <div class="card rider-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['users']" class="text-white stretched-link">Verified Drivers</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_verified_drivers_all_time'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END verified drivers -->

                  <!-- BEGIN Unverified riders -->
                  <div class="col-md-3 text-white">
                    <div class="card drivers-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['drivers']" class="text-white stretched-link">Unverified Drivers</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_unverified_drivers_all_time'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Drivers -->

                  <!-- BEGIN inactive users -->
                  <div class="col-md-3 text-white">
                    <div class="card locations-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <i class="fas fa-user-friends"></i>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['live-users']" class="text-white stretched-link">Inactive Drivers</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_inactive_drivers_all_time'] | number}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Locations -->

                  <!-- BEGIN rider wallets -->
                  <div class="col-md-3 text-white">
                    <div class="card car-types-analytics">
                      <div class="card-body">
                        <div class="avatar p-50 mb-1">
                          <div class="text-white font-weight-bolder">
                            <span class="">₦</span>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <a [routerLink]="['vehicle-details']" class="text-white stretched-link">Drivers Wallet</a>
                          </div>
                        </div>
                        <div class="avatar p-50 mb-1">
                          <div class="text-white">
                            <h4 class="font-weight-bolder">{{driverStatistics['total_drivers_wallet_balance_all_time']|currency:'₦'}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END rider wallet -->
                </div>
                <!-- END all time-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END drivers-->

  <!--BEGIN graphs-->
  <div class="row mt-5">
    <!--BEGIN rides graph-->
    <div class="col-md-6 p-0 card bg-dark">
      <div class="card-header">
        <h4 class="font-weight-bolder text-uppercase">Rides</h4>
      </div>
      <div class="card-body">
        <div class="bg-white m-auto p-4 w-100" id="rides-graph" style="width: 600px; height: 400px"></div>
      </div>
    </div>
    <!--END rides graph-->

    <!--BEGIN Drivers graph-->
    <div class="col-md-6 p-0 card driver-rides-graph">
      <div class="card-header">
        <h4 class="font-weight-bolder text-uppercase">Drivers</h4>
      </div>
      <div class="card-body">
        <div class="bg-white m-auto p-4 w-100" id="drivers-graph" style="width: 600px; height: 400px"></div>
      </div>
    </div>
    <!--END Drivers graph-->
  </div>

  <!--BEGIN earnings area charts-->
  <div class="row">
    <div class="col-md-12 p-4 earnings-area-chart">
      <div class="card-header">
        <h4 class="font-weight-bolder text-uppercase">Earnings</h4>
      </div>
      <hr/>
      <div class="card-body">
        <div class="bg-white m-auto p-4 w-100" id="earnings-graph" style="width: 600px; height: 400px"></div>
      </div>
    </div>
  </div>
  <!--END earnings area charts-->
  <!--END graphs-->

  <!--END statistics-->

</div>
