<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
<!--            <li class="breadcrumb-item"><a routerLink="../../drivers">Drivers</a></li>-->
            <li class="breadcrumb-item active">Documents and Notes</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div *ngIf="loading" class="d-flex justify-content-center my-1">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
  <div class="card-header">
    <h4 class="text-center text-uppercase font-weight-300">Notes and documents</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-center text-uppercase font-weight-300">Add Notes about <i>{{user['first_name']}} {{user['last_name']}}</i></h5>
        <form [formGroup]="notesForm" (ngSubmit)="onAddingUserNotes()">
          <div class="form-group">
            <label for="title" class="text-uppercase">Title<span class="text-danger">*</span></label>
            <input type="text" id="title" class="form-control" name="title" formControlName="title" required>
          </div>

          <div class="form-group">
            <label for="category" class="text-uppercase">Category<span class="text-danger">*</span></label>
            <select  id="category" class="form-control" name="category" formControlName="category" required>
              <option value="operational">Operational</option>
              <option value="operational">Personal</option>
              <option value="operational">Others</option>
            </select>
          </div>

          <div class="form-group">
            <label for="description" class="text-uppercase">Description<span class="text-danger">*</span></label>
            <textarea id="description" class="form-control w-100" rows="7" required name="description" formControlName="description"></textarea>
          </div>
          <button [disabled]="notesForm.invalid" *ngIf="!submitting" class="btn btn-success" type="submit">Add Notes</button>
          <button *ngIf="submitting" class="btn btn-info" type="submit">Adding...</button>
        </form>
      </div>
      <div class="col-md-8">
        <h5 class="text-center text-uppercase font-weight-300">Previous Notes about <i>{{user['first_name']}} {{user['last_name']}}</i></h5>
        <div class="table-responsive">
          <table class="table table-active table-striped table-bordered">
            <thead class="thead-light">
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Date</th>
              <th class="text-center">Title</th>
              <th class="text-center">Category</th>
              <th class="text-center">Description</th>
              <th class="text-center">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let note of notes;let i=index">
              <td>{{i+1}}</td>
              <td>{{note.created_at|date}}</td>
              <td class="text-capitalize">{{note.title}}</td>
              <td class="text-capitalize">{{note.category}}</td>
              <td class="text-capitalize">{{note.description}}</td>
              <td class='text-center'>
                <a (click)="removeUserNote(note.id)" class="btn red text-white" type="button">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
