<div *appAccessControl="['Subadmin','page']">
  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Add Staff</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-body">
    <!-- add roles-->
    <!-- Basic multiple Column Form section start -->
    <section id="multiple-column-form">
      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-header"><h4 class="text-center text-uppercase font-weight-300">Add New Staff</h4></div>

            <!--          <div class="row">-->
            <!--            <div class="col-md-4 text-center bd-highlight mb-2 p-2">-->
            <!--              <div class="form-group row ">-->
            <!--                <label class="font-weight-bolder col-sm-4 col-form-label col-form-label-sm">Show:</label>-->
            <!--                <select (change)="onTableSizeChange($event)" class="custom-select pages mr-sm-2" disabled>-->
            <!--                  <option *ngFor="let size of tableSizes" [ngValue]="size">-->
            <!--                    {{ size }}-->
            <!--                  </option>-->
            <!--                </select>-->
            <!--                <label class="">Entries</label>-->
            <!--              </div>-->
            <!--            </div>-->

            <!--            <div class="col-md-4 text-center bd-highlight mb-2 p-2">-->
            <!--              <div class="form-group row">-->
            <!--                <label class="font-weight-bolder col-sm-4 col-form-label col-form-label-sm" for="filter">Filter By:</label>-->
            <!--                <select class="custom-select w-2 mr-sm-2 filter" id="filter" [(ngModel)]="searchTerm">-->
            <!--                  <option value="{{undefined}}">All</option>-->
            <!--                </select>-->
            <!--              </div>-->
            <!--            </div>-->

            <!--            <div class="col-md-4 text-center bd-highlight mb-2 p-2">-->
            <!--              <div class="form-group row">-->
            <!--                <label class="font-weight-bolder col-sm-3 col-form-label col-form-label-sm " for="filter">Search:</label>-->
            <!--                <input type="search" class="search form-control w-2 mr-sm-2 box-shadow" placeholder="start typing..." [(ngModel)]="searchTerm">-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->

            <div class="card-body">
              <form class="form" [formGroup]="roleForm" (ngSubmit)="onAddingNewStaff()">
                <div class="row">
                  <div class="col-md-2 col-12">
                    <div class="form-group">
                      <label for="staff_first_name">First Name</label>
                      <input
                              type="text"
                              id="staff_first_name"
                              class="form-control"
                              placeholder="staff first name"
                              name="staff_first_name"
                              formControlName="first_name"
                      />
                    </div>
                  </div>

                  <div class="col-md-2 col-12">
                    <div class="form-group">
                      <label for="staff_middle_name">Middle Name</label>
                      <input
                              type="text"
                              id="staff_middle_name"
                              class="form-control"
                              placeholder="staff middle name"
                              name="staff_middle_name"
                              formControlName="middle_name"
                      />
                    </div>
                  </div>

                  <div class="col-md-2 col-12">
                    <div class="form-group">
                      <label for="staff_last_name">Last Name</label>
                      <input
                              type="text"
                              id="staff_last_name"
                              class="form-control"
                              placeholder="staff last name"
                              name="staff_last_name"
                              formControlName="last_name"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <label for="staffEmail">Email Address</label>
                      <input
                              type="text"
                              id="staffEmail"
                              class="form-control"
                              placeholder="staff Email"
                              name="staffEmail"
                              formControlName="staffEmail"
                      />
                    </div>
                  </div>

                  <div class="col-md-2 col-12">
                    <div class="form-group">
                      <label for="staffPassword">Password</label>
                      <input
                              type="password"
                              id="staffPassword"
                              class="form-control"
                              placeholder="staff password"
                              name="staffPassword"
                              formControlName="staffPassword"
                      />
                    </div>
                  </div>

                  <div class="col-md-3 col-6 p-1 mb-1 t mt-1 " *ngFor="let permission of permissions | filter:searchTerm">
                    <div class="custom-control custom-control-primary custom-checkbox">
                      <input
                              type="checkbox" [checked]="permission.checked"
                              [id]="permission.id"
                              (change)="permission.checked != permission.checked"
                              (click)="onPermissionCheckBoxChange($event)"
                              class="custom-control-input"
                      />
                      <label class="custom-control-label" [htmlFor]="permission.id">{{permission.module}}</label>
                      <div class="text-center">
                        <p *ngIf="(permissions | filter: searchTerm).length===0" class="font-weight-bolder text-center p-1">No results found</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                          *ngIf="!submitted"
                          [disabled]="this.roleForm.invalid"
                          type="submit"
                          class="btn red text-white " tabindex="4">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Create New Staff
                  </button>
                  <button
                          *ngIf="submitted"
                          type="submit"
                          class="btn red text-white " tabindex="4">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Adding New Admin...
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Basic Floating Label Form section end -->

    <!--end roles -->
  </div>

</div>
