<div class="row">
  <div class="col-md-12 mb-1">
    <div class="row">
      <div class="col-md-5">
        <div class="breadcrumb mb-0">
          <a (click)="goBack()" class="btn btn-primary btn-sm" href="javascript:void(0)"> <i class="nav-icon i-Back1"></i>Back </a>
          <ul>
        <li><a (click)="goBack()" href="javascript: void(0)"> Ride Details </a></li>  <li>Schedule Ride</li>
      </ul>
    </div>
      </div>
      <div class="col-md-6 text-leftr"><h5><b>SINGLE SCHEDULE RIDE DETAILS</b></h5></div>
    </div>
<!--      <div class="separator-breadcrumb border-top"></div>-->
    <div class="card text-left mt-1">
      <div class="card-body">
        <div class="row" >
          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Fare </div>
          <div class="col-"> :</div>
          <div class="col-md-3" style="font-weight: lighter; font-style: italic">&#8358;  {{schSingleRide.total_fare }}</div>

          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Status </div>
          <div class="col-"> :</div>
          <div class="col-md-3" style="font-weight: lighter; font-style: italic">{{schSingleRide.status | rideStatus}}<br>{{schSingleRide.cancel_reason}}</div>
        </div>

        <div class="row" >
          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Driver  </div>
          <div class="col-"> :</div>
          <div *ngIf="schSingleRide.driver_name" class="col-md-3" style="font-weight: lighter; font-style: italic"><a routerLink="../../driver-details/{{schSingleRide.driver_id}}" >{{schSingleRide.driver_name }}</a></div>
          <div *ngIf="schSingleRide.driver_name == null" class="col-md-3" style="font-weight: lighter; font-style: italic">NA</div>

          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Rider </div>
          <div class="col-"> : </div>
          <div *ngIf="schSingleRide.rider_name" class="col-md-3" style="font-weight: lighter; font-style: italic"><a routerLink="../../user-details/{{schSingleRide.user_id}}">{{schSingleRide.rider_name}}</a></div>
          <div *ngIf="schSingleRide.rider_name == null" class="col-md-3" style="font-weight: lighter; font-style: italic">NA</div>
        </div>

        <div class="row" >
          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Source </div>
          <div class="col-"> :</div>
          <div *ngIf="schSingleRide.source" class="col-md-3" style="font-weight: lighter; font-style: italic">{{schSingleRide.source}}</div>
          <div *ngIf="schSingleRide.source == null" class="col-md-3" style="font-weight: lighter; font-style: italic">NA</div>

          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Destination </div>
          <div class="col-"> :</div>
          <div *ngIf="schSingleRide.destination" class="col-md-3" style="font-weight: lighter; font-style: italic">{{schSingleRide.destination}}</div>
          <div *ngIf="schSingleRide.destination == null" class="col-md-3" style="font-weight: lighter; font-style: italic">NA</div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Ride Date & Time</div>
          <div class="col-"> :</div>
          <div class="col-md-3" style="font-weight: lighter; font-style: italic">{{schSingleRide.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY , hh:mm  a'}}</div>

          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Ride Distance</div>
          <div class="col-"> :</div>
          <div class="col-md-3" style="font-weight: lighter; font-style: italic">{{schSingleRide.distance}} Km</div>
        </div>
        <br>
        <!--Driver Vehicle Details and Edit Details-->
        <div class="card-title mb-3">
          Driver Vehicle Details
          <!--          <a class="btn  btn-primary " routerLink="../../edit-driver-vehicle/{{schSingleRide.id}}">-->
          <!--            <i class="nav-icon"><img src="./assets/images/icon/pen.png" width="10"/></i>-->
          <!--          </a>-->
        </div>
        <div class="row">
          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Vehicle Type</div>
          <div class="col-">:</div>
          <div *ngIf="schSingleRide.vehicle_type == 1" class="col-md-3" style="font-weight: lighter; font-style: italic" >AC</div>
          <div *ngIf="schSingleRide.vehicle_type == 2" class="col-md-3" style="font-weight: lighter; font-style: italic" > NON - AC</div>
          <div *ngIf="schSingleRide.vehicle_type == null" class="col-md-3" style="font-weight: lighter; font-style: italic" >NA</div>

          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Vehicle Number</div>
          <div class="col-">:</div>
          <div *ngIf="schSingleRide.vehicle_number" class="col-md-3" style="font-weight: lighter; font-style: italic">{{schSingleRide.vehicle_number}}</div>
          <div *ngIf="schSingleRide.vehicle_number == null" class="col-md-3" style="font-weight: lighter; font-style: italic">NA</div>
        </div>
        <div class="row">
          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Vehicle Color</div>
          <div class="col-">:</div>
          <div *ngIf="schSingleRide.vehicle_color" class="col-md-3" style="font-weight: lighter; font-style: italic">{{schSingleRide.vehicle_color}}</div>
          <div *ngIf="schSingleRide.vehicle_color == null" class="col-md-3" style="font-weight: lighter; font-style: italic">NA</div>

          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> License Number</div>
          <div class="col-">:</div>
          <div *ngIf="schSingleRide.license_number" class="col-md-3" style="font-weight: lighter; font-style: italic">{{schSingleRide.license_number}}</div>
          <div *ngIf="schSingleRide.license_number == null" class="col-md-3" style="font-weight: lighter; font-style: italic">NA</div>
        </div>
        <div class="row">
          <div class="col-md-2 mb-3 text-left" style="font-weight: bolder;"> Vehicle Name</div>
          <div class="col-">:</div>
          <div *ngIf="schSingleRide.vehicle_name" class="col-md-3" style="font-weight: lighter; font-style: italic">{{schSingleRide.vehicle_name}}</div>
          <div *ngIf="schSingleRide.vehicle_name == null" class="col-md-3" style="font-weight: lighter; font-style: italic">NA</div>

          <div class="col-md-2 mb-3 text-left " style="font-weight: bolder;"> Vehicle Brand & Model</div>
          <div class="col-">:</div>
          <div *ngIf="schSingleRide.vehicle_brand || schSingleRide.vehicle_model" class="col-md-3" style="font-weight: lighter; font-style: italic">{{schSingleRide.vehicle_brand}} {{schSingleRide.vehicle_model}}</div>
          <div *ngIf="schSingleRide.vehicle_brand == null && schSingleRide.vehicle_model == null" class="col-md-3" style="font-weight: lighter; font-style: italic">NA</div>
        </div>
        <br>
        <div class="card " style="margin-left:100px;margin-right:100px; margin-top: 20px; padding:10px;">
          <agm-map style='height:400px; border-radius : 1px' [latitude]="lat" [longitude]="lng">
            <agm-direction [origin]="origin" [destination]="destination"  [renderOptions]="renderOptions"
                           [markerOptions]="markerOption">
            </agm-direction>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>

