<div *appAccessControl="['Bus','page']">
  <style>
    table{
      font-size: 14px;
      cursor: pointer;
    }
  </style>

  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item"><a routerLink="/dashboard/bus">Buses</a></li>
              <li class="breadcrumb-item active">Add Buses</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="card-header"> <h4 class="text-center text-uppercase font-weight-300">Add Buses</h4></div>
          <form ngNativeValidate [formGroup]="addBusFormGroup" (ngSubmit)="addBus()" >
            <div class="row">
              <div class="col-md-6 form-group mb-3">
                <label for="bus_registration_no">Bus Registration Number</label>
                <input type="text" class="form-control" id="bus_registration_no" placeholder="Enter Bus Registration Number"
                       formControlName="bus_registration_number" required>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="bus_number">Bus Number</label>
                <input type="text" class="form-control" id="bus_number" placeholder="Enter Bus Number"
                       formControlName="bus_number" required>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="capacity">Capacity</label>
                <input type="number" class="form-control" id="capacity" placeholder="Enter Capacity"
                       formControlName="capacity" required>
              </div>
              <div class="col-md-12" *ngIf="disabled == true">
                <button disabled class="btn btn-primary">Loading...</button>
              </div>
              <div class="col-md-12" *ngIf="disabled == false">
                <button class="btn text-white red">Add Bus</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
