<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div *appAccessControl="['Bus','page']">
  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Buses</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-1">
      <div class="card">
        <div class="card-body">
          <div class=" card-title mb-0">
            <div class="col-md-12 text-center">
              <h4 class="text-center text-uppercase font-weight-300">Buses</h4>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 text-left">
              Total : {{ totalitems | number}}
            </div>
            <div class="col-md-4 justify-content-center">
              <input name="busSearch" class="form-control" id="" autocomplete="off" [(ngModel)]="busSearch" (change)="getBus()"placeholder="Search By Keyword" type="text">
            </div>
            <div class="col-md-4 text-right">
              <a class="btn red text-white" routerLink="../add-bus"> Add Bus </a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-active">
              <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center" >#</th>
                <th scope="col" class="text-center">Registration Number</th>
                <th scope="col" class="text-center">Bus Number</th>
                <th scope="col" class="text-center">Capacity</th>
                <th scope="col" class="text-center">Assign</th>
                <th scope="col" class="text-center">View</th>
                <th scope="col" class="text-center">Edit</th>
                <th scope="col" class="text-center">Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let details of bus |
            paginate: { itemsPerPage: 10, currentPage: busCurrentPage, totalItems:totalitems, id:'details'}  let i =index">
                <td>{{details.id}}</td>
                <td>{{details.bus_registration_number}}</td>
                <td class="text-right">{{details.bus_number | number}}</td>
                <td class="text-center">{{details.capacity | number}}</td>
                <td class="text-center">
                  <a class="btn btn-info" routerLink="../add-bus-rides/{{details.id}}" type="button">
                    <i class="fas fa-user-plus"></i>
                  </a>
                </td>
                <td class="text-center">
                  <a class="btn btn-success" routerLink="../bus-rides/{{details.id}}" type="button">
                    <i class="fas fa-eye"></i>
                  </a>
                </td>

                <td class="text-center">
                  <a class="btn btn-warning" routerLink="../edit-bus/{{details.id}}">
                    <i class="fas fa-edit"></i>
                  </a>
                </td>

                <td class="text-center">
                  <a (click)="delete(details.id)" class="btn red text-white" type="button">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
            <pagination-controls *ngIf="bus[0]" (pageChange)=pageChangedBus($event) id="details"></pagination-controls>
          </div>
          <div *ngIf="calling" class="d-flex justify-content-center my-1">
            <div class="spinner-border" role="status" aria-hidden="true"></div>
          </div>
          <div *ngIf="!bus[0] && calling == false" class="col-md-12 text-center">
            <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
            <h3 class="not-found">Not Found</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
