<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div *appAccessControl="['Bus','page']">
  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item"><a routerLink="/dashboard/bus">Buses</a></li>
              <li class="breadcrumb-item active">Edit Bus</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h4 class="text-center text-uppercase font-weight-300">Edit Bus</h4></div>
        <div class="card-body">
          <form  [formGroup]="editBusFormGroup" (ngSubmit)="editBus()">
            <div class="row">
              <div class="col-md-6 form-group mb-3">
                <label for="bus_registration_number">Bus Registration Number</label>
                <input type="text" class="form-control" id="bus_registration_number" placeholder="Enter Bus Registration Number" formControlName="bus_registration_number">
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="bus_number">Bus Number</label>
                <input type="text" class="form-control" id="bus_number" placeholder="Enter Bus Number" formControlName="bus_number">
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="capacity">Capacity</label>
                <input type="text" disabled class="form-control" id="capacity" placeholder="Enter Capacity" formControlName="capacity">
              </div>
              <div class="col-md-12">
                <button class="btn text-white red">Update Details</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
