
<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">General Notifications</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card text-left">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Send Notifications</h4>
      </div>
      <div class="card-body">
        <form ngNativeValidate (ngSubmit)="sendGeneralNotification()">
          <div class="row">
            <div class="col-md-3">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="sendObj.userType.type" name="messageWay">
                <mat-radio-button [value]="1" class="col-md-4" (click)="getUsers(1)">All Riders</mat-radio-button>
                <mat-radio-button [value]="2" class="col-md-4" (click)="getUsers(2)">All Drivers</mat-radio-button>
                <mat-radio-button [value]="''" class="col-md-4" (click)="getUsers('')">All Users</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-md-4">
              <span  *ngIf="sendObj.userType.type == 2">
                <input type="text" (change)="getUsers(sendObj.userType.type)" [(ngModel)]='nameSearchRider'
                       class="form-control" placeholder="Search Driver(s)">
              </span>
              <span *ngIf="sendObj.userType.type == 1">
                <input type="text" (change)="getUsers(sendObj.userType.type)" [(ngModel)]='nameSearchRider'
                       class="form-control" placeholder="Search Rider(s)">
              </span>
              <span  *ngIf="sendObj.userType.type == ''">
                <input type="text" (change)="getUsers(sendObj.userType.type)" [(ngModel)]='nameSearchRider'
                     class="form-control" placeholder="Search Any User(s)">
              </span>
            </div>
            <div class="col-md-4 text-center">
               <textarea class="form-control w-100" name="msg" id="msg" [(ngModel)]="sendGeneral.message"
                         placeholder="Enter message" required></textarea>
            </div>
            <div class="col-md-1 text-right">
              <button *ngIf="submitted==false" type="submit" class="btn btn-success">Send</button>
              <button *ngIf="submitted" type="submit" class="btn btn-success">Sending...</button>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12 table-responsive mt-3">
              <table class="table table-striped table-bordered table-active">
                <thead class="thead-light">
                <tr>
                  <th scope="col">
                    <mat-checkbox
                      (change)="checkAll($event)"
                      [(indeterminate)]="selectAllIndeterminate"
                      [(ngModel)]="selectAllChecked" name="check">
                    </mat-checkbox>
                  </th>
                  <th scope="col" class="text-center"> Users</th>
                  <th scope="col" class="text-center"> Email Address</th>
                  <th scope="col" class="text-center"> Phone Number</th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let user of uzers | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems:totalitems, id:'details'} let i =index;">
                  <td>
                    <mat-checkbox [(ngModel)]="user.checked" name="user" (change)="selectUser()"></mat-checkbox>
                  </td>
                  <td *ngIf="user.name">{{user.name}}</td>
                  <td *ngIf="!user.name">NA</td>
                  <td *ngIf="user.email">{{user.email}}</td>
                  <td *ngIf="!user.email">NA</td>
                  <td *ngIf="user.country_code && user.phone">+{{user.country_code}}-{{user.phone}}</td>
                  <td *ngIf="!user.country_code && !user.phone">NA</td>
                  <td *ngIf="!user.country_code || !user.phone">NA</td>
                </tr>
                </tbody>
              </table>
              <pagination-controls *ngIf="uzers[0]" (pageChange)=pageChangedRider($event)
                                   id="details"></pagination-controls>
            </div>
          </div>
        </form>
        <div *ngIf="calling" class="d-flex justify-content-center my-1">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
        <div *ngIf="!uzers[0] && calling == false" class="col-md-12 text-center">
          <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
          <h3 class="not-found">Not Found</h3>
        </div>
      </div>
    </div>
  </div>
</div>
