<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard/category-shop">Categories</a></li>
            <li class="breadcrumb-item active">Add Categories</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="add-category.component.ts"></script>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="text-uppercase">Add Categories</h4>
      </div>
      <div class="card-body">
        <form ngNativeValidate [formGroup]="addCategoryFormGroup" (ngSubmit)="addCategory()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="driver_id">Select Category</label>
              <select name="driver" class="form-control" formControlName="parent_id" id="driver_id" required>
                <option value="" selected>Select Category</option>
                <option value= 0 >New Category</option>
                <option *ngFor="let name of allCategories;let ind = index;"
                        [value]="name.id">{{name.category_name}}</option>
              </select>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="category_name">Category Name</label>
              <input type="text" class="form-control" id="category_name" placeholder="Enter Category Name"
                     formControlName="category_name" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="image">Images</label>
              <input class="form-control" formControlName="image" id="image"
                     placeholder="image"
                     type="file" (change)="uploadImageCategory($event.target.files[0])" required>
            </div>
            <div class="col-md-12" *ngIf="disabled == true">
              <button disabled class="btn btn-primary">Loading...</button>
            </div>
            <div class="col-md-12" *ngIf="disabled == false">
              <button class="btn text-white red">Add New Category</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

