<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Shop Categories</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card">
      <div class="card-header">
        <div class="col-md-12 text-center text-uppercase"><h6>CATEGORY DETAILS</h6></div>
      </div>
      <div class="card-body">
          <span class=" pl-1 pr-1 text-center" style=" position: relative; float: left;"><b>Total Categories : </b>
            {{ totalCategory}}</span>
          <div class="text-right">
            <a class="btn text-white red mb-2" routerLink="../add-category"> Add Category </a>
          </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-active">
            <thead class="text-center">
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Created On</th>
              <th scope="col" class="text-center">Category</th>
              <th scope="col" class="text-center">Edit</th>
              <th scope="col" class="text-center">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let details of allCategories|
            paginate: { itemsPerPage: 10, currentPage: categoryCurrentPage, totalItems:totalCategory, id:'details'}  let i =index">
              <td>{{i+1}}</td>
              <td>{{details.created_at | date}}</td>
              <td>{{details.category_name}}</td>
              <td class="text-center">
                <button (click)="onCategoryClick(details)" data-toggle="modal" data-target="#editCategoryModal" routerLink="../edit-category/{{details.id}}" class="btn btn-success">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
              <td class="text-center">
                <a (click)="removeCategory(details.id)" class="btn red text-white" type="button">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)=pageChangedCategory($event) id="details"></pagination-controls>
        </div>
        <div *ngIf="calling" class="d-flex justify-content-center my-1">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
        <div *ngIf="!allCategories[0] && calling == false" class="col-md-12 text-center">
          <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
          <h3 class="not-found">Not Found</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!--BEGIN edit category-->

<!-- Modal -->
<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCategoryModalLabel">Edit {{selectedCategory.category_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editCategoryForm" (ngSubmit)="onCategoryUpdate(selectedCategory.id)">
          <div class="form-group">
            <label for="category_name">Enter New Category Name</label>
            <input type="text" class="form-control" id="category_name" value="{{selectedCategory.category_name}}" formControlName="category_name">
          </div>
          <div class="form-group">
            <button class="btn text-white red" type="submit">Update Category</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END edit category-->
