<div class="card card-homepage">
  <div class="row">
    <div class="col-md-12 text-center">
                <h5><b>Mileages Travelled</b></h5>
    </div>
            
    <div class="col-md-5 w-25 stat_block drupp_rides" style="margin-right:16.33333%">
      <h6>Riders</h6>
      <dx-pie-chart
          id="pie"
          type="doughnut"
          palette="Soft Pastel"
          [dataSource]="riders_data">
          
          <dxo-title
              text="Riders Count">
              <dxo-subtitle
                text="Total count : {{ totalRiders  | number: '2.' }}">
              </dxo-subtitle>
          </dxo-title>

          <dxi-series
              argumentField="name" valueField="value">
              <dxo-label
                  [visible]="true" format="decimal">
                  <dxo-connector [visible]="true"></dxo-connector>
              </dxo-label>
          </dxi-series>
          <dxo-export [enabled]="true"></dxo-export>
          <dxo-legend
              [margin]="0"
              horizontalAlignment="right"
              verticalAlignment="top"></dxo-legend>
          <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizeTooltip">
          </dxo-tooltip>
      </dx-pie-chart>
      <!-- <div *ngIf="calling == true" class="col-md-12 text-center">
          <img src="../../../assets/images/91.gif">
        </div>
      <div class="row stat_chart" *ngIf="showChart==1">
        <div class="col-md-6" ><chart type="doughnut" [data]="riderChartOption.data" [options]="riderChartOption.options"></chart></div>
        
        <div class="col-md-6" >
          <table class="draw">
   <tbody>
      <tr>
         <td>
            Today                                        
         </td>
         <td>
            {{dayReports.ride_result.today}}                                        
         </td>
       </tr>
         <tr>
         <td>
            Week                                        
         </td>
         <td>
            {{dayReports.ride_result.week}}                                        
         </td>
      </tr>
      <tr>
         <td>
            This Month                                        
         </td>
         <td>
             {{dayReports.ride_result.month}}                                       
         </td>
      </tr>
      <tr>
         <td>
            This Year                                        
         </td>
         <td>
            {{dayReports.ride_result.year}}                                        
         </td>
      </tr>
   </tbody>
</table>
          <div class="chart_label">
                                <ul>
                                    <li><span class="new_visits"></span>Total Milesage: {{dayReports.ride_result.total|number}} </li>
                                    <li><span class="unique_visits"></span>This Year: {{dayReports.ride_result.year|number}} </li>
                                </ul>
                            </div>
        </div>
  </div> -->
    </div>
    
    <div class="col-md-5 w-25 stat_block drupp_rides">
      <h6>Vehicles</h6>
      <dx-pie-chart
          id="pie"
          type="doughnut"
          palette="Soft Pastel"
          [dataSource]="vhiecle_data">
          
          <dxo-title
              text="Vehicles Count">
              <dxo-subtitle
                text="Total count : {{ totalVheicles }}">
              </dxo-subtitle>
          </dxo-title>

          <dxi-series
              argumentField="name" valueField="value">
              <dxo-label
                  [visible]="true" format="decimal">
                  <dxo-connector [visible]="true"></dxo-connector>
              </dxo-label>
          </dxi-series>
          <dxo-export [enabled]="true"></dxo-export>
          <dxo-legend
              [margin]="0"
              horizontalAlignment="right"
              verticalAlignment="top"></dxo-legend>
          <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizeTooltip">
          </dxo-tooltip>
      </dx-pie-chart>
      <!-- <div *ngIf="calling == true" class="col-md-12 text-center">
          <img src="../../../assets/images/91.gif">
        </div>
      <div class="row stat_chart" *ngIf="showChart==1">
        <div class="col-md-6"><chart type="doughnut" [data]="driverChartOption.data" [options]="driverChartOption.options"></chart></div>
        
        <div class="col-md-6" >
          <table class="draw">
   <tbody>
      <tr *ngFor="let v of dayReports.vehicle_result">
         <td>
            {{v.name}}                                        
         </td>
         <td>
            {{v.total}}                                        
         </td>
      </tr>
      
   </tbody>
</table>
          <div class="chart_label">
                                <ul>
                                    <li><span class="new_visits"></span>Total Vehicle: {{dayReports.vehicle_result.length}} </li>
                                   
                                </ul>
                            </div>
        </div>
  </div> -->
</div>
    
    <!--<div class="col-md-5 w-25 stat_block drupp_rides" style="margin-right:16.33333%">
      <h6>Top 5 Riders Today</h6>
      <div class="row stat_chart" >
        
        <div *ngIf="calling == true" class="col-md-12 text-center">
          <img src="../../../assets/images/91.gif">
        </div>
        <div class="col-md-12" *ngIf="showChart==1">
         <table>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Travelled</th>
            
            </tr>
            <tbody>
              <tr *ngFor="let u of dayReports.topridersToday">
                <td>{{u.first_name}} {{u.last_name}}</td>
                  <td *ngIf="u.profile_picture"><img class="design" alt="" [src]="assetUrl + '/' + u.profile_picture"
                                                    width="50" height="50"></td>
              <td *ngIf="!u.profile_picture"><img class="design" alt=""
                                                     src="./assets/images/icon/noPhotoFound.png" width="50"
                                                     height="50"></td>
                   <td>{{u.travelled}}</td>
              </tr>
            </tbody>
          </table>
         
        </div>
  </div>
    </div>
    
    <div class="col-md-5 w-25 stat_block drupp_rides">
      <h6>Top 5 Drivers Month </h6>
      <div class="row stat_chart" >
        
        <div *ngIf="calling == true" class="col-md-12 text-center">
          <img src="../../../assets/images/91.gif">
        </div>
        <div class="col-md-12" >
          <table>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Travelled</th>
            
            </tr>
            <tbody>
              <tr *ngFor="let u of dayReports.topdriverMonth">
                <td>{{u.first_name}} {{u.last_name}}</td>
                  <td *ngIf="u.profile_picture"><img class="design" alt="" [src]="assetUrl + '/' + u.profile_picture"
                                                    width="50" height="50"></td>
              <td *ngIf="!u.profile_picture"><img class="design" alt=""
                                                     src="./assets/images/icon/noPhotoFound.png" width="50"
                                                     height="50"></td>
                   <td>{{u.travelled}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
    
  </div>  
        
        <div class="col-md-5 w-25 stat_block drupp_rides" style="margin-right:16.33333%">
      <h6>Top 5 Riders Month</h6>
      <div class="row stat_chart" >
        
        <div *ngIf="calling == true" class="col-md-12 text-center">
          <img src="../../../assets/images/91.gif">
        </div>
        <div class="col-md-12" *ngIf="showChart==1">
         <table>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Travelled</th>
            
            </tr>
            <tbody>
              <tr *ngFor="let u of dayReports.topridersMonth">
                <td>{{u.first_name}} {{u.last_name}}</td>
                  <td *ngIf="u.profile_picture"><img class="design" alt="" [src]="assetUrl + '/' + u.profile_picture"
                                                    width="50" height="50"></td>
              <td *ngIf="!u.profile_picture"><img class="design" alt=""
                                                     src="./assets/images/icon/noPhotoFound.png" width="50"
                                                     height="50"></td>
                   <td>{{u.travelled}}</td>
              </tr>
            </tbody>
          </table>
         
        </div>
  </div>
    </div>
    
    <div class="col-md-5 w-25 stat_block drupp_rides">
      <h6>Top 5 Drivers Month </h6>
      <div class="row stat_chart" >
        
        <div *ngIf="calling == true" class="col-md-12 text-center">
          <img src="../../../assets/images/91.gif">
        </div>
        <div class="col-md-12" >
          <table>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Travelled</th>
            
            </tr>
            <tbody>
              <tr *ngFor="let u of dayReports.topdriverMonth">
                <td>{{u.first_name}} {{u.last_name}}</td>
                  <td *ngIf="u.profile_picture"><img class="design" alt="" [src]="assetUrl + '/' + u.profile_picture"
                                                    width="50" height="50"></td>
              <td *ngIf="!u.profile_picture"><img class="design" alt=""
                                                     src="./assets/images/icon/noPhotoFound.png" width="50"
                                                     height="50"></td>
                   <td>{{u.travelled}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
    
  </div>
  
      
        <div class="col-md-5 w-25 stat_block drupp_rides" style="margin-right:16.33333%">
      <h6>Top 5 Riders year</h6>
      <div class="row stat_chart" >
        
        <div *ngIf="calling == true" class="col-md-12 text-center">
          <img src="../../../assets/images/91.gif">
        </div>
        <div class="col-md-12" *ngIf="showChart==1">
         <table>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Travelled</th>
              
            </tr>
            <tbody>
              <tr *ngFor="let u of dayReports.topriders">
                <td>{{u.first_name}} {{u.last_name}}</td>
                  <td *ngIf="u.profile_picture"><img class="design" alt="" [src]="assetUrl + '/' + u.profile_picture"
                                                    width="50" height="50"></td>
              <td *ngIf="!u.profile_picture"><img class="design" alt=""
                                                     src="./assets/images/icon/noPhotoFound.png" width="50"
                                                     height="50"></td>
                   <td>{{u.travelled}}</td>
              </tr>
            </tbody>
          </table>
         
        </div>
  </div>
    </div>
    
    <div class="col-md-5 w-25 stat_block drupp_rides">
      <h6>Top 5 Drivers year </h6>
      <div class="row stat_chart" >
        
        <div *ngIf="calling == true" class="col-md-12 text-center">
          <img src="../../../assets/images/91.gif">
        </div>
        <div class="col-md-12" >
          <table>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Travelled</th>
              <th>Count</th>
            </tr>
            <tbody>
              <tr *ngFor="let u of dayReports.topdriver">
                <td>{{u.first_name}} {{u.last_name}}</td>
                  <td *ngIf="u.profile_picture"><img class="design" alt="" [src]="assetUrl + '/' + u.profile_picture"
                                                    width="50" height="50"></td>
              <td *ngIf="!u.profile_picture"><img class="design" alt=""
                                                     src="./assets/images/icon/noPhotoFound.png" width="50"
                                                     height="50"></td>
                  <td>{{u.travelled}}</td>
                   
              </tr>
            </tbody>
          </table>
          
        </div>
  </div>
    </div>-->
 
  <div class="col-md-12 w-25 stat_block drupp_rides">
      <div class="">
      <h6>Mileage Filter</h6>
      <div class="row">
      <div class="col-md-12">
      <div style=" position: relative; float: right; ">
          <button class="btn btn-sm btn-outline-dark fontSize" (click)="resetFilter()">Reset Filter</button>
      </div>
        
      <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
          <button class="btn btn-primary btn-sm fontSize" data-target="#myDateModel" data-toggle="modal" type="button">Filter
            By Date
          </button>
      </div>
      
      <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
          <button class="btn btn-primary btn-sm fontSize" (click)="getData('year')"  type="button">year
          </button>
      </div>
      <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
          <button class="btn btn-primary btn-sm fontSize" (click)="getData('month')"  type="button">Month
          </button>
      </div>
      <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
          <button class="btn btn-primary btn-sm fontSize" (click)="getData('week')"  type="button">Week
          </button>
      </div>
      
      <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
          <button class="btn btn-primary btn-sm fontSize" (click)="getData('day')"  type="button">Today
          </button>
      </div>
      <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
          <select [(ngModel)]="driverCurrentPage" (change)="getData(filter)">
            <option value="5">5 users</option>
            <option value="10">10 users</option>
            <option value="15">15 users</option>
            <option value="20">20 users</option>
          </select>
      </div>
      <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
          <select [(ngModel)]="ride_type" (change)="getUsers()">
            <option value="0">Ride Type</option>
            <option value="1">REGULAR</option>
            <option value="2">LUXURY</option>
            <option value="3">KEKE</option>
            
          </select>
      </div>
    </div>
  </div>
       <div *ngIf="callingF == true" class="col-md-12 text-center">
          <img src="../../../assets/images/91.gif">
        </div>
      <div>
        <div class="row" *ngIf="!callingF">
                  <div class="col-md-5 w-25 stat_block drupp_rides" style="margin-right:16.33333%">
      <h6>Top {{driverCurrentPage}} Riders</h6>
      <div class="row stat_chart" >
        
        <div class="col-md-12" *ngIf="showChart==1">
         <table>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Image</th>
              <th>Travelled</th>
            
            </tr>
            <tbody>
              <tr *ngFor="let u of users.topriders">
                <td><a routerLink="../user-details/{{u.id}}">{{u.first_name}} {{u.last_name}}</a></td>
                <td>{{u.phone_code}} {{u.phone}}</td>
                  <td *ngIf="u.profile_picture"><img class="design" alt="" [src]="assetUrl + '/' + u.profile_picture"
                                                    width="50" height="50"></td>
              <td *ngIf="!u.profile_picture"><img class="design" alt=""
                                                     src="./assets/images/icon/noPhotoFound.png" width="50"
                                                     height="50"></td>
                   <td>{{u.travelled}}</td>
              </tr>
            </tbody>
          </table>
       </div>
      </div>  
        <br />
        <h6>Lowest {{driverCurrentPage}} Riders</h6>
       
        <div class="row stat_chart" >
        
        <div class="col-md-12" *ngIf="showChart==1">
         <table>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Image</th>
              <th>Travelled</th>
            
            </tr>
            <tbody>
              <tr *ngFor="let u of users.topridersRev">
                <td><a routerLink="../user-details/{{u.id}}">{{u.first_name}} {{u.last_name}}</a></td>
                <td>{{u.phone_code}} {{u.phone}}</td>
                  <td *ngIf="u.profile_picture"><img class="design" alt="" [src]="assetUrl + '/' + u.profile_picture"
                                                    width="50" height="50"></td>
              <td *ngIf="!u.profile_picture"><img class="design" alt=""
                                                     src="./assets/images/icon/noPhotoFound.png" width="50"
                                                     height="50"></td>
                   <td>{{u.travelled}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
        
  </div>
    
    <div class="col-md-5 w-25 stat_block drupp_rides">
      <h6>Top {{driverCurrentPage}} Drivers  </h6>

      <div class="row stat_chart" >
        
      
        <div class="col-md-12" >
          <table>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Image</th>
              <th>Travelled</th>
            
            </tr>
            <tbody>
              <tr *ngFor="let u of users.topdriver">
               <td><a routerLink="../driver-details/{{u.id}}">{{u.first_name}} {{u.last_name}}</a></td>
                <td>{{u.phone_code}} {{u.phone}}</td>
                  <td *ngIf="u.profile_picture"><img class="design" alt="" [src]="assetUrl + '/' + u.profile_picture"
                                                    width="50" height="50"></td>
              <td *ngIf="!u.profile_picture"><img class="design" alt=""
                                                     src="./assets/images/icon/noPhotoFound.png" width="50"
                                                     height="50"></td>
                   <td>{{u.travelled}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  <br />
  <h6>Lowest {{driverCurrentPage}} Drivers  </h6>
  
    <div class="row stat_chart" >
        
        <div class="col-md-12" *ngIf="showChart==1">
          <table>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Image</th>
              <th>Travelled</th>
            
            </tr>
            <tbody>
              <tr *ngFor="let u of users.topdriverRev">
                <td><a routerLink="../driver-details/{{u.id}}">{{u.first_name}} {{u.last_name}}</a></td>
                <td>{{u.phone_code}} {{u.phone}}</td>
                  <td *ngIf="u.profile_picture"><img class="design" alt="" [src]="assetUrl + '/' + u.profile_picture"
                                                    width="50" height="50"></td>
              <td *ngIf="!u.profile_picture"><img class="design" alt=""
                                                     src="./assets/images/icon/noPhotoFound.png" width="50"
                                                     height="50"></td>
                   <td>{{u.travelled}}</td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
  </div>
 </div>
     
    <div class="row  stat_block drupp_rides" style="margin-top:15px">
      <div class="stat_chart col-sm-12">
      <h6>Last 12 Month Mileage</h6>
       <div *ngIf="calling == true" class="col-md-12 text-center">
          <img src="../../../assets/images/91.gif">
        </div>
      <div *ngIf="showChart==1">
      <chart type="line" [data]="revenueChartOption.data" [options]="revenueChartOption.options"></chart>
     </div>
    </div>
    </div>
  
    <br />
  <br />
   <br />
  <br />
  </div>
</div>





<!-- Trigger the modal with a button -->

<!--Date Modal -->
<div class="modal fade" id="myDateModel" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Mileage</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="getData('day')" [formGroup]="dateFilterForm" ngNativeValidate>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="start">Start Date</label>
              <input class="form-control" formControlName="start" id="start" required type='date'>
            </div>
            <div class="form-group col-md-6">
              <label for="end">End Date</label>
              <input class="form-control" formControlName="end" id="end" required type="date">
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
            </button>
          </div>
        </form>
      </div>
      <!--      </div>-->
      <!--      <div class="modal-footer">-->
      <!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--      </div>-->
    </div>
  </div>
</div>


