<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div *appAccessControl="['Notification','page']">
  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Notifications</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-1">
      <div class="card text-left">
        <div class="card-header">
          <h4 class="text-center text-uppercase font-weight-300">Notifications</h4>
        </div>
        <div class="card-body">
        <span class=" pl-1 pr-1 text-center" style="border: 0px solid; border-radius: 0px; position: relative; float: left;">Total:
          {{ totalnotify}}</span>
          <div style=" position: relative; float: right; margin-bottom: 10px ">
            <button class="btn btn-primary btn-sm mr-2" data-target="#myDateModel" data-toggle="modal" type="button">
              Filter
              By Date
            </button>
            <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
              Sort By
            </button>
            <div class="dropdown-menu">
              <a (click)='sortDataNotify(1)'  href="javascript:void(0)"  class="dropdown-item">Oldest First</a>
              <a (click)='sortDataNotify(2)'  href="javascript:void(0)" class="dropdown-item">Latest First</a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-active table-bordered">
              <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">Notification Type</th>
                <th scope="col" class="text-center">Message</th>
                <th scope="col" class="text-center">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let notification of notifications |
            paginate: { itemsPerPage: 10, currentPage: notificationCurrentPage, totalItems: totalnotify, id:'details'} let i =index">
                <td>{{notification.id}}</td>
                <td class="text-center">{{notification["created_at"] | date : 'MMM d, y, h:mm:ss a'}}</td>
                <td>{{notification["notification_type"]}}</td>
                <td>{{notification["notification_message"]}}</td>
                <td class="text-center">
                  <span *ngIf="notification['read_status']==1" class="badge badge-success font-weight-lighter text-uppercase"><i class="fas fa-check-circle"></i> {{notification["read_status"] | notification}}</span>
                  <span *ngIf="notification['read_status']==0" class="badge badge-danger font-weight-bolder text-uppercase"><i class="fas fa-times-circle"></i> {{notification["read_status"] | notification}}</span>
                </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="calling" class="d-flex justify-content-center my-1">
              <div class="spinner-border" role="status" aria-hidden="true"></div>
            </div>
            <div *ngIf="!notifications[0] && calling == false" class="col-md-12 text-center">
              <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
              <h3 class="not-found">Not Found</h3>
            </div>
            <pagination-controls (pageChange)=pageChangedNotify($event) id="details"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--modal-->
  <div class="modal fade" id="myDateModel" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Filter Notifications by Date</h4>
          <button class="close" data-dismiss="modal" type="button">&times;</button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate (ngSubmit)="getData()" [formGroup]="dateFilterForm">
            <div class="row">
              <div class="col-md-6">
                <label for="start">Start Date</label>
                <input class="form-control" formControlName="start" id="start" type='date' required>
              </div>
              <div class="col-md-6">
                <label for="end">End Date</label>
                <input class="form-control" formControlName="end" id="end" type="date" required>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
