<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">KEKE Rides</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card text-left">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">KEKE Rides</h4>
      </div>
      <div class="card-body">
        <div class="card-body p-1">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="profile-basic-tab" data-toggle="tab" href="#byRider" role="tab"
                 aria-controls="profileBasic" aria-selected="false">Posted by User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " id="home-basic-tab" data-toggle="tab" href="#byDriver" role="tab"
                 aria-controls="homeBasic" aria-selected="true">Posted by Driver</a>
            </li>

          </ul>
          <!-- User Tab-->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="byRider" role="tabpanel" aria-labelledby="home-basic-tab">
               <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total User Posted Rides : </b>
                 {{ kekeUserTotal}}</span>
              <div style=" position: relative; float: right;">
                <button class="btn btn-sm btn-outline-dark" (click)="resetFilterUser()">Reset Filter</button>
              </div>
              <div style=" position: relative; float: right;">
                <input type="text" class="mr-2" placeholder="Search By Keyword" [(ngModel)]='kekeUserSearch' (change)="getKekeUserRides()">
              </div>
              <div style="position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myDateModel">
                  Filter By Date
                </button>
              </div>
              <div *ngIf="kekeUserRides[0]" style=" position: relative; float: left">
                <a class='btn btn-outline-dark btn-sm'
                   href="https://api.qualwebs.com/drupp/api/admin/download-user-single-rides">
                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="20">Export File</a>
              </div>
              <div style=" position: relative; float: right; margin-right: 10px">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                  Filter By
                </button>
                <div class="dropdown-menu">
                  <a (click)='getKekeUserFilter("")' href="javascript:void(0)" class="dropdown-item">All</a>
                  <a (click)='getKekeUserFilter(1)' href="javascript:void(0)" class="dropdown-item">Posted</a>
                  <a (click)='getKekeUserFilter(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                  <a (click)='getKekeUserFilter(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                  <a (click)='getKekeUserFilter(4)' href="javascript:void(0)" class="dropdown-item">Finished</a>
                  <a (click)='getKekeUserFilter(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                  <a (click)='getKekeUserFilter(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table" *ngIf="kekeUserRides[0]">
                  <thead>
                  <tr>
                    <th scope="col"> Ride ID</th>
                    <th scope="col"> Driver</th>
                    <th scope="col"> Rider</th>
                    <th scope="col"> Source</th>
                    <th scope="col"> Destination</th>
                    <th scope="col"> Status</th>
                    <th scope="col"> Date</th>
                    <th scope="col">Fare</th>
                    <th scope="col">Comm</th>
                    <th scope="col">Tax</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let ride of kekeUserRides |
                paginate: { itemsPerPage: 10, currentPage: kekeUserPage ,totalItems:kekeUserTotal ,id:'user'} let i =index">
                    <td>{{ride.id}}</td>
                    <td *ngIf="ride.Driver_name">
                      <a routerLink="../driver-details/{{ride.driver_id}}">
                        {{ride.Driver_name}}
                      </a>
                    </td>
                    <td *ngIf="!ride.Driver_name">NA</td>
                    <td *ngIf="ride.Rider_name"><a routerLink="../user-details/{{ride.user_id}}">{{ride.Rider_name}}</a>
                    </td>
                    <td *ngIf="ride.Rider_name == null">NA</td>
                    <td data-title="'{{ride.source}}'">
                      {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}
                    </td>
                    <td data-title="'{{ride.destination}}'">
                      {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}
                    </td>
                    <td data-title="'{{ride.cancel_reason}}'">
                      {{ride.status| rideStatus}}
                    </td>
                    <td>{{ride.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
                    <td> &#8358;  {{ride.total_fare}}</td>
                    <td *ngIf="ride.drupp_earnings"> &#8358;  {{ride.drupp_earnings}}</td>
                    <td *ngIf="!ride.drupp_earnings">NA</td>
                     <td *ngIf="ride.total_fare">{{(ride.total_fare*7.5/100)|number}}</td>
                    <td *ngIf="!ride.total_fare">NA</td>
                    <td><a class="btn blue" routerLink="../ride-details/{{ride.id}}">
                      <i class="nav-icon i-Eye"></i>
                    </a></td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="kekeUserRides[0]" (pageChange)=pageChangedKekeUser($event) id='user'></pagination-controls>
              </div>
              <div *ngIf="calling" class="d-flex justify-content-center my-1">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
              </div>
              <div *ngIf="!kekeUserRides[0] && calling == false" class="col-md-12 text-center">
                <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                <h3 class="not-found">Not Found</h3>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myDateModel" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Filter Single Rides</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="dateFilterFormKekeUser" ngNativeValidate>
                      <div class="row">
                        <div class="col-md-6">
                          <label for="startDate">Start Date</label>
                          <input class="form-control" formControlName="start" id="startDate" type='date' required>
                        </div>
                        <div class="col-md-6">
                          <label for="endDate">End Date</label>
                          <input class="form-control" formControlName="end" id="endDate" type="date" required>
                        </div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;" type="submit">Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Driver Tab-->
            <div class="tab-pane fade" id="byDriver" role="tabpanel" aria-labelledby="profile-basic-tab">
               <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total Driver Posted Rides : </b>
                 {{ kekeDriverTotal}}</span>
              <div style=" position: relative; float: right;">
                <button class="btn btn-sm btn-outline-dark" (click)="resetFilterDriver()">Reset Filter</button>
              </div>
              <div style=" position: relative;float: right;">
                <input type="button" *ngIf='tempDriver == false' value="Download">
                <input type="text" class="mr-2" placeholder="Search By Keyword" [(ngModel)]='kekeDriverSearch'
                       (change)="getKekeDriverRides()" autofocus>
              </div>
              <div style=" position: relative; float: left; " *ngIf="kekeDriverRides[0]">
                <a class='btn btn-outline-dark btn-sm'
                   href="https://api.qualwebs.com/drupp/api/admin/download-driver-single-rides">
                  <img alt="" class="p-1" src="./assets/images/icon/export.png" width="20">Export File</a>
              </div>
              <div style=" position: relative;
                  float: right; margin-right: 10px; margin-bottom: 10px;">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#myDateModelDriver">Filter By Date
                </button>
              </div>
              <div style=" position: relative; float: right; margin-right: 10px ">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                  Filter By
                </button>
                <div class="dropdown-menu">
                  <a (click)='getKekeFilterDriver("")' href="javascript:void(0)" class="dropdown-item">All</a>
                  <a (click)='getKekeFilterDriver(1)' href="javascript:void(0)" class="dropdown-item">Posted</a>
                  <a (click)='getKekeFilterDriver(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                  <a (click)='getKekeFilterDriver(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                  <a (click)='getKekeFilterDriver(4)' href="javascript:void(0)" class="dropdown-item">Finished</a>
                  <a (click)='getKekeFilterDriver(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                  <a (click)='getKekeFilterDriver(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table" *ngIf="kekeDriverRides[0]">
                  <thead>
                  <tr>
                    <th scope="col">Ride ID</th>
                    <th scope="col"> Driver</th>
                    <th scope="col"> Rider</th>
                    <th scope="col"> Source</th>
                    <th scope="col"> Destination</th>
                    <th scope="col"> Status</th>
                    <th scope="col"> Date</th>
                    <th scope="col">Fare</th>
                     <th scope="col">Comm</th>
                    <th scope="col">Tax</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="let ride of kekeDriverRides |
                   paginate: { itemsPerPage: 10, currentPage: kekeDriverPage ,totalItems:kekeDriverTotal,id:'driver'} let i =index">
                    <td>{{ride.id}}</td>
                    <td *ngIf="ride.Driver_name"><a
                      routerLink="../driver-details/{{ride.driver_id}}">{{ride.Driver_name}}</a></td>
                    <td *ngIf="!ride.Driver_name">NA</td>
                    <td *ngIf="ride.Rider_name"><a routerLink="../user-details/{{ride.user_id}}">{{ride.Rider_name}}</a>
                    </td>
                    <td *ngIf="ride.Rider_name == null">NA</td>
                    <td data-title="'{{ride.source}}'">
                      {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}
                    </td>
                    <td data-title="'{{ride.destination}}'">
                      {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}
                    </td>
                    <td>{{ride.status| rideStatus}}<br>{{ride.cancel_reason}}</td>
                    <td>{{ride.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
                    <td>  &#8358;  {{ride.driver_fare}}</td>
                    <td *ngIf="ride.drupp_earnings"> &#8358;  {{ride.drupp_earnings}}</td>
                    <td *ngIf="!ride.drupp_earnings">NA</td>
                     <td *ngIf="ride.total_fare">{{(ride.total_fare*7.5/100)|number}}</td>
                    <td *ngIf="!ride.total_fare">NA</td>
                    <td><a class="btn blue" routerLink="../driver-ride-details/{{ride.id}}">
                      <i class="nav-icon i-Eye">
                        <!--                      <img src="./assets/images/icon/visible.png" width="20"/>-->
                      </i>
                    </a></td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="kekeDriverRides[0]" (pageChange)=pageChangedKekeDriver($event) id='driver'></pagination-controls>
              </div>
              <div *ngIf="calling == true" class="col-md-12 text-center">
                <img src="./assets/images/91.gif">
              </div>
              <div *ngIf="!kekeDriverRides[0] && calling == false" class="col-md-12 text-center">
                <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                <h3 class="not-found">Not Found</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myDateModelDriver" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Single Rides</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dateFilterFormKekeDriver" ngNativeValidate>
          <div class="row">
            <div class="col-md-6">
              <label for="start">Start Date</label>
              <input class="form-control" formControlName="start" id="start" type='date' required>
            </div>
            <div class="col-md-6">
              <label for="end">End Date</label>
              <input class="form-control" formControlName="end" id="end" type="date" required>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-sm " data-dismiss="modal"
                    style="margin-top: 10px; margin-left: 1px;" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

