<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Started Rides</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card">
      <div class="card-header"><h5 class="text-uppercase text-center">Started Rides</h5></div>
      <div class="card-body">
        <span class=" pl-1 pr-1 text-center" style=" position: relative; float: left;">Total:{{ totalStartedRides}}</span>
        <div style=" position: relative;
          float: right;">
          <input [(ngModel)]='nameSearch' placeholder="Search By Keyword" (change)="getRides()" type="text">
        </div>
        <div style=" position: relative;
          float: right;">
          <button class="btn btn-primary btn-sm mr-1 mb-1" data-target="#myDateModal" data-toggle="modal" type="button">Filter By
            Date
          </button>
        </div>
      <!--  <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
          <a class='btn btn-outline-dark btn-sm'
             href="https://api.qualwebs.com/drupp/api/admin/download-started-rides">
            <img alt="" class="p-1" src="./assets/images/icon/export.png" width="20">Export File</a>
        </div>-->
        <div style=" position: relative; float: right; ">
          <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
            <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"
               href="https://api.qualwebs.com/drupp/api/admin/download-started-rides">Export PDF File</a>
            <a class="dropdown-item" href="https://api.qualwebs.com/drupp/api/admin/excel/started-rides">Export Excel File</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-active table-bordered">
            <thead class="thead-light">
            <tr>
              <th scope="col" class="text-center"> #</th>
              <th scope="col" class="text-center"> Driver</th>
              <th scope="col" class="text-center"> Rider</th>
              <th scope="col" class="text-center"> Source</th>
              <th scope="col" class="text-center"> Destination</th>
              <th scope="col" class="text-center"> Status</th>
              <th scope="col" class="text-center"> Date</th>
              <th scope="col" class="text-center">Fare</th>
              <th scope="col" class="text-center">Track Ride</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ride of rides |
                   paginate: { itemsPerPage: 10, currentPage: startedRidePage ,totalItems:totalStartedRides,id:'started'}  let i = index">
              <td>{{i+1}}</td>
              <td><a routerLink="../driver-details/{{ride.driver_id}}">{{ride.driver_name}}</a></td>
              <td><a routerLink="../user-details/{{ride.user_id}}">{{ride.rider_name}}</a></td>
              <td
                data-title="'{{ride.source}}'">{{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}
              </td>
              <td
                data-title="'{{ride.destination}}'">{{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}
              </td>
              <td class="text-center"><span class="badge badge-danger">{{ride.status| rideStatus}}</span></td>
              <td>{{ride.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
              <td class="text-right">{{ride.total_fare | currency:' '}}</td>
              <td class="text-center"><a routerLink="../started-ride-details/{{ride.id}}" class="btn btn-link text-white btn-success"><i class="fas fa-map"></i></a></td>
            </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="rides[0]" (pageChange)=pageChangedStartedRides($event) id="started"></pagination-controls>
        </div>
        <div *ngIf="calling" class="d-flex justify-content-center my-1">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
        <div *ngIf="!rides[0] && calling == false" class="col-md-12 text-center">
          <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
          <h3 class="not-found">Not Found</h3>
        </div>
      </div>
    </div>
  </div>

<!-- Trigger the modal with a button -->

<!-- Modal -->
<div class="modal fade" id="myDateModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Ride</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="getData()" [formGroup]="dateFilterForm">
          <div class="row">
            <div class="col-md-6">
              <label for="start">Start Date</label>
              <input class="form-control" formControlName="start" id="start" type='date'>
            </div>
            <div class="col-md-6">
              <label for="end">End Date</label>
              <input class="form-control" formControlName="end" id="end" type="date">
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button (click)='getData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                    style="margin-top: 10px; margin-left: 1px;"
                    type="button">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

