<!-- BEGIN: Content-->
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row"></div>
    <div class="content-body">
      <!-- Not authorized-->
      <div class="misc-wrapper">
        <a class="brand-logo" href="javascript:void(0);">
          <div class="misc-inner p-2 p-sm-3">
            <div class="w-100 text-center">
              <h2 class="mb-1">You are not authorized! 🔐</h2>
              <img class="img-fluid" src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/images/pages/not-authorized.svg" alt="Not authorized page"/>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
