<ng-snotify></ng-snotify>
<router-outlet></router-outlet>

<footer class="navbar footer footer-light footer-shadow content container-fluid mt-10 p-2 justify-content-center">
    <p class="text-white bg-dark text-capitalize text-center">copyright &#169; 2021 Drupp Harmony Limited, All Rights Reserved.</p>
</footer>
