<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <a class="btn btn-primary" routerLink="../../vehicle-details"> <i class="nav-icon i-Back1"></i> Back </a> <br><br>
        <div class="card-title mb-3 text-center"><h5><b>EDIT VEHICLE DETAILS</b></h5></div>
        <form  [formGroup]="editVehicleDetailsFormGroup" (ngSubmit)="editVehicleDetails()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="vehicle_type_id">Vehicle Type</label>
              <select name="driver" class="form-control" formControlName="vehicle_type_id" required>
                <option value="" selected>Select Vehicle Type</option>
                <option *ngFor="let name of vehicles;let index = index;" id="vehicle_type_id" [value]="name.id">
                  <span *ngIf="name.id == 1">Regular</span>
                  <span *ngIf="name.id == 2">Luxury</span>
                  <span *ngIf="name.id == 3">KEKE</span>
                </option>
              </select>
            </div>
<!--            <div class="col-md-6 form-group mb-3">-->
<!--              <label for="license_number">License Number</label>-->
<!--              <input type="text" class="form-control" id="license_number" placeholder="Enter Vehicle Name" formControlName="license_number">-->
<!--            </div>-->
            <div class="col-md-6 form-group mb-3">
              <label for="bus_number">Vehicle Name</label>
              <input type="text" class="form-control" id="bus_number" placeholder="Enter Vehicle Name" formControlName="vehicle_name">
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="model">Vehicle Model</label>
              <input type="text" class="form-control" id="model" placeholder="Enter Vehicle Mode" formControlName="vehicle_model">
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="license">License Plate Number</label>
              <input type="text" class="form-control" id="license" placeholder="Enter License Plate Number" formControlName="vehicle_number">
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="color">Color</label>
              <input type="text" class="form-control" id="color" placeholder="Enter Color" formControlName="vehicle_color">
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="Chassis">Chassis Number</label>
              <input type="text" class="form-control" id="Chassis" placeholder="Enter Chassis Number" formControlName="chassis_number">
            </div>
              <div class="col-md-6 form-group mb-3">
              <label for="Brand">Brand</label>
              <input type="text" class="form-control" id="Brand" placeholder="Enter Brand" formControlName="vehicle_brand">
            </div>
<!--            <div class="col-md-6 form-group mb-3">-->
<!--              <label for="image">Images</label>-->
<!--              <input class="form-control "   id="image" formControlName="vehicle_images" placeholder="image"-->
<!--                     type="file">-->
<!--            </div>-->
            <div class="col-md-12">
              <button class="btn btn-primary" >Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
