
<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="../.././vehicle-details">Vehicles</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['../../driver-details/',moreDetails['user_id']]">{{moreDetails['driver_name']}}</a></li>
            <li class="breadcrumb-item active">{{moreDetails.vehicle_name}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div *ngIf="loading" class="d-flex justify-content-center my-1">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <h6 class="text-uppercase text-left  p-2 m-2">Exterior Front</h6>
          <img class="" [src]="assetUrl + '/' + moreDetails['vehicle_images'][0]['exterior_front']" style="width: 100%; height: 100%"/>
        </div>
        <div class="col-md-4">
          <h6 class="text-uppercase text-left p-2 m-2">Exterior back</h6>
          <img class="" [src]="assetUrl + '/' + moreDetails['vehicle_images'][0]['exterior_back']" style="width: 100%; height: 100%"/>
        </div>
        <div class="col-md-4 btn-gray-100">
          <h6 class="text-uppercase text-center p-2 m-2">Vehicle Details</h6>
          <!--details-->
          <span class="text-info font-weight-bold">{{moreDetails['driver_name']}} registered  {{moreDetails['vehicle_name']}} on  {{moreDetails['created_at']}}</span>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
              Brand
              <span class="badge badge-primary badge-pill"> {{moreDetails['vehicle_brand']}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
              Color
              <span class="badge badge-primary badge-pill">{{moreDetails['vehicle_color']}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
              Condition
              <span class="badge badge-primary badge-pill">{{moreDetails['vehicle_condition']}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
              Model
              <span class="badge badge-primary badge-pill">{{moreDetails['vehicle_model']}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
              Number
              <span class="badge badge-primary badge-pill">{{moreDetails['vehicle_number']}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
              Chassis Number
              <span class="badge badge-primary badge-pill">{{moreDetails['chassis_number']}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
              License Number
              <span class="badge badge-primary badge-pill">{{moreDetails['license_number'] || 'N/A'}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
              Model Year:
              <span class="badge badge-primary badge-pill">{{moreDetails['model_year'] || 'N/A'}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <h6 class="text-uppercase text-left  p-2 m-2">Exterior Left</h6>
          <img class="" [src]="assetUrl + '/' + moreDetails['vehicle_images'][0]['exterior_left']" style="width: 100%; height: 100%"/>
        </div>
        <div class="col-md-4">
          <h6 class="text-uppercase text-right p-2 m-2">Exterior Right</h6>
          <img class="" [src]="assetUrl + '/' + moreDetails['vehicle_images'][0]['exterior_right']" style="width: 100%; height: 100%"/>
        </div>

        <div class="col-md-4 btn-gray-100">
          <h6 class="text-uppercase text-center p-2 m-2">Driver Details</h6>
          <!--driver details-->
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
              Name
              <span class="badge badge-primary badge-pill"> {{moreDetails['driver_name']}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
              Date Of Registration
              <span class="badge badge-primary badge-pill">{{moreDetails['created_at']}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
              Reason For Applying
              <span class="badge badge-primary badge-pill">{{moreDetails['reason_for_applying']|| 'N/A'}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
              Experience Details
              <span class="badge badge-primary badge-pill">{{moreDetails['experience_details']}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
              Functional Account
              <span class="badge badge-primary badge-pill">{{moreDetails['functional_acc'] || 'N/A'}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
              Driver License
              <span class="badge badge-primary badge-pill">{{moreDetails['driver_license'] || 'N/A'}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
              Reason For No Account
              <span class="badge badge-primary badge-pill">{{moreDetails['reason_for_no_ac'] || 'N/A'}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
              Remittances:
              <span class="badge badge-primary badge-pill">{{moreDetails['remittances'] || 0 | currency:" "}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <h6 class="text-uppercase text-left p-2 m-2">Interior Front</h6>
          <img class="" [src]="assetUrl + '/' + moreDetails['vehicle_images'][0]['interior_front']" style="width: 100%; height: 100%"/>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase text-center p-2 m-2">Interior Back</h5>
          <img class="" [src]="assetUrl + '/' + moreDetails['vehicle_images'][0]['interior_back']" style="width: 100%; height: 100%"/>
        </div>
        <div class="col-md-4">
          <h6 class="text-uppercase text-center p-2 m-2">Status</h6>
          <!--driver details-->
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
              Is the Driver Experienced?
              <span class="badge badge-primary badge-pill"> {{moreDetails['experienced'] || 'Not Known!'}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
              {{moreDetails['driver_name'] || 'driver'}} Years of Experience:
              <span class="badge badge-primary badge-pill">{{moreDetails['experience_year'] || 'Not Known' | number}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
              Is the License Authenticated?
              <span class="badge badge-primary badge-pill">{{moreDetails['authenticated_license']|| 'Not Known'}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
              Additional Information
              <span class="badge badge-primary badge-pill">{{moreDetails['comments']|| 'no comments'}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--View vehcile image profile -->
<div class="disabled-backdrop-ex">
  <!-- Modal -->
  <div
          class="modal fade text-left"
          id="avatar"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel2"
          aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="rounded" [src]="assetUrl + '/' + imageUrl"
               width="" height="" alt="avatar">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END user profile view-->

