
<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Vehicle Inventory</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">vehicle details</h4>
      </div>
      <div class="card-body">
        <span class=" pl-1 pr-1 text-center" style="position: relative; float: left;">Total :
          {{ totalItems}}</span>
        <div style=" position: relative; float: right;">
          <button class="btn btn-sm btn-outline-dark" (click)="resetFilterVehicle()">Reset Filter</button>
        </div>
        <div style=" position: relative; float: right; margin-bottom: 10px;">
          <input type="text" class="mr-2" [(ngModel)]="searchName" (change)="getVehicleDetails()"
                 placeholder="Search By Keyword">
        </div>
<!--        <div style=" position: relative; float: right; margin-bottom: 10px;">-->
<!--        <a class='btn btn-outline-dark btn-sm mr-2' *ngIf="vehDetails[0]"-->
<!--           href="https://api.qualwebs.com/drupp/api/admin/download-vehicle-details">-->
<!--          <img alt="" class="p-1" src="./assets/images/icon/export.png" width="20">Export File</a>-->
<!--        </div>-->

        <div style=" position: relative; float: right; margin-right: 10px;">
          <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
            Filter By
          </button>
          <div class="dropdown-menu">
            <a (click)='filterVehicles("")' href="javascript:void(0)" class="dropdown-item">All</a>
            <a (click)='filterVehicles(1)' href="javascript:void(0)" class="dropdown-item">Luxury</a>
            <a (click)='filterVehicles(2)' href="javascript:void(0)" class="dropdown-item">Regular</a>
            <a (click)='filterVehicles(3)' href="javascript:void(0)" class="dropdown-item">KEKE</a>
          </div>
        </div>
        <div style=" position: relative; float: right; " *ngIf="vehDetails[0]">
          <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
            <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"
               href="https://api.qualwebs.com/drupp/api/admin/download-vehicle-details">Export PDF File</a>
            <a class="dropdown-item" href="https://api.qualwebs.com/drupp/api/admin/excel/vehicle-details">Export Excel File</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-active table-bordered table-striped" *ngIf="vehDetails[0]">
            <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Driver Name</th>
              <th scope="col" class="text-center">Name</th>
              <th scope="col" class="text-center">Model</th>
              <th scope="col" class="text-center">Number</th>
              <th scope="col" class="text-center">Color</th>
              <th scope="col" class="text-center">Image</th>
              <th scope="col" class="text-center">Chassis No</th>
              <th scope="col" class="text-center">Brand</th>
              <th scope="col" class="text-center">View</th>
              <th scope="col" class="text-center">Edit</th>
              <th scope="col" class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vehicle of vehDetails |
            paginate: { itemsPerPage: 10, currentPage: vehCurrentPage, totalItems:totalItems, id:'details'} let i =index">
              <td>{{vehicle.id}}</td>
              <td>
                <span  *ngIf="vehicle.name" class=""><a routerLink="../driver-details/{{vehicle['user_id']}}" >{{vehicle.name}}</a></span>
                <span  *ngIf="!vehicle.name" class="">N/A</span>
              </td>
              <td>
                <span *ngIf="vehicle.vehicle_name">{{vehicle.vehicle_name}}</span>
                <span *ngIf="!vehicle.vehicle_name">N/A</span>
              </td>
              <td>
                <span *ngIf="vehicle.vehicle_model"> {{vehicle.vehicle_model}}</span>
                <span *ngIf="!vehicle.vehicle_model"> N/A</span>
              </td>
              <td>
                <span *ngIf="vehicle.vehicle_number">{{vehicle.vehicle_number}}</span>
                <span *ngIf="!vehicle.vehicle_number">N/A</span>
              </td>
              <td>
                <span *ngIf="vehicle.vehicle_color" class="">{{vehicle.vehicle_color}}</span>
                <span *ngIf="!vehicle.vehicle_color" class="">N/A</span>
              </td>
              <td>
                <span *ngIf="vehicle.vehicle_images[0]">
                  <img
                    [src]="assetUrl + '/' + vehicle.vehicle_images[0].exterior_front"
                    class="img-fluid imageSize" width="30" alt="no image">
                </span>
              </td>
              <td>
                <span *ngIf="vehicle.chassis_number">{{vehicle.chassis_number}}</span>
                <span *ngIf="!vehicle.chassis_number">N/A</span>
              </td>
              <td>
                <span *ngIf="!vehicle.vehicle_brand">{{vehicle.vehicle_brand}}</span>
                <span *ngIf="!vehicle.vehicle_brand">N/A</span>
              </td>
              <td class="text-center">
                <a class="btn btn-success" routerLink="../more-details-vehicle/{{vehicle.id}}">
                  <i class="fas fa-eye"></i>
                </a>
              </td>
              <td class="text-center">
                <a class="btn btn-info" routerLink="../edit-vehicle-details/{{vehicle.id}}">
                  <i class="fas fa-user-edit"></i>
                </a>
              </td>
              <td class="text-center">
                <a (click)="delete(vehicle.id)" class="btn btn-warning text-dark" type="button">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="vehDetails[0]" (pageChange)=pageChangedVehicle($event)
                               id="details"></pagination-controls>
        </div>
        <div *ngIf="calling" class="d-flex justify-content-center my-1">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
        <div *ngIf="!vehDetails[0] && calling == false" class="col-md-12 text-center">
          <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
          <h3 class="not-found">Not Found</h3>
        </div>
      </div>
    </div>
  </div>
</div>

