<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <a class="btn btn-primary" routerLink="../../news"> <i class="nav-icon i-Back1"></i> Back </a> <br>
        <div class="card-title text-center mb-3"><h5><b>EDIT NEWS</b></h5></div><br>
        <form [formGroup]="EditNewsGroup" (ngSubmit)="editNews()">
          <div class="row">



            <div class="col-md-6 form-group mb-3">
              <label for="catList">Select Category</label>
              <select class="form-control" (change)="changeCategory(catId)" [(ngModel)]="catId" name="catId"
                      formControlName="category_id" id="catList">
                <option value = "" selected>Select Category</option>
                <option [value]="name.id" *ngFor="let name of newsCategory">{{name.category_name}}</option>
              </select>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="subCat">Select Sub Category</label>
              <select class="form-control" name="subCat" formControlName="sub_category_id" id="subCat">
                <option value = "" selected>Select Sub Category</option>
                <option [value]="name.id" *ngFor="let name of newsSubCategory">{{name.news_subcategory}}</option>
              </select>
            </div>





           <!-- <div class="col-md-6 form-group mb-3">
              <label for="catList">Select Category</label>
              <select class="form-control" [(ngModel)]="catId" formControlName="category_id" id="catList" required>
                <option>Select Category</option>
                <option [value]="name.id" *ngFor="let name of newsCategory">{{name.category_name}}</option>
              </select>
            </div>-->
            <div class="col-md-6 form-group mb-3">
              <label for="headline">Headline</label>
              <input type="text" class="form-control" id="headline"  placeholder="Enter News Headline"
                     formControlName="headline" required>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="news_image">Upload Image</label>
              <input style="display: none" #news_image id="news_image" formControlName="news_image" type="file" accept='image/*'
                     required (change)="preview(news_image.files)" />
              <br>
              <a class="btn btn-primary anchor" (click)="news_image.click()">Browse..</a>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="news_detail">Description</label>
              <editor formControlName='description' id="news_detail" class="form-control description" [init]="{height : 319 }">
              </editor>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="img" *ngIf="img!=null">Image</label>
              <img src='https://api.qualwebs.com/drupp/storage/app/public/{{img}}' class="newsImg" *ngIf="img!=null">
            <img [src]="imgURL" class="newsImg" *ngIf="imgURL" id="img"></div>
            <div class="col-md-12">
              <button class="btn btn-primary" [disabled]="EditNewsGroup.invalid" >Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
