<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }

  #rider-rating,#driver-rating{
    width: 250px;
    height:200px;
    text-align: center;
  }
</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Rating &amp; Reviews</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="">
  <div class="">
    <div class="card">
      <div class="card-header"><h4 class="text-center text-uppercase font-weight-300">Rating Review</h4></div>
      <div class="card-body">

        <div class="row p-4 m-6 justify-content-center">
          <div class="col-md-6 text-center">
            <h6 class="text-uppercase p-2 m-2">Riders</h6>
            <div id="rider-rating"></div>
          </div>

          <div class="col-md-6 text-center float-right">
            <h6 class="text-uppercase p-2 m-2">Drivers</h6>
            <div id="driver-rating"></div>
          </div>
        </div>

        <div class="row mt-4 m-6">
          <div class="col-md-6">
            <div *ngIf="calling" class="d-flex justify-content-center my-1">
              <div class="spinner-border" role="status" aria-hidden="true"></div>
            </div>
            <h6>Top 3 Riders</h6>
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-active">
                <thead class="thead-light">
                <tr>
                  <th>Name</th>
                  <th>Avatar</th>
                  <th>Rating</th>
                  <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let u of dayReports.rider_ride.topuser">
                  <td>{{u.rider_name}}</td>
                  <td *ngIf="u.image"><img class="design" alt="" [src]="assetUrl + '/' + u.image"
                                           width="50" height="50"></td>
                  <td *ngIf="!u.image"><img class="design" alt=""
                                            src="./assets/images/icon/noPhotoFound.png" width="50"
                                            height="50"></td>
                  <td>{{u.avg_rate|number}}/5</td>
                  <td>{{u.count}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-6">
            <h6>Top 3 Drivers</h6>
            <div *ngIf="calling" class="d-flex justify-content-center my-1">
              <div class="spinner-border" role="status" aria-hidden="true"></div>
            </div>
            <div class="table-responsive">
              <table class="table table-active table-striped table-bordered">
                <thead class="thead-light">
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Avatar</th>
                  <th class="text-center">Rating</th>
                  <th class="text-center">Count</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let u of dayReports.driver_ride.topuser;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{u.driver_name}}</td>
                  <th *ngIf="u.image"><img class="design" alt="" [src]="assetUrl + '/' + u.image"
                                           width="50" height="50"></th>
                  <th *ngIf="!u.image"><img class="design" alt=""
                                            src="./assets/images/icon/noPhotoFound.png" width="50"
                                            height="50"></th>
                  <td>{{u.avg_rate|number}}/5</td>
                  <td>{{u.count}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12 w-25">
            <h6>Ratings Filter</h6>
            <div class="row">
              <div class="col-md-12">
                <div style=" position: relative; float: right; ">
                  <button class="btn btn-sm btn-outline-dark fontSize" (click)="resetFilterR()">Reset Filter</button>
                </div>

                <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
                  <button class="btn btn-primary btn-sm fontSize" data-target="#myDateModelR" data-toggle="modal" type="button">Filter
                    By Date
                  </button>
                </div>
                <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
                  <button class="btn btn-primary btn-sm fontSize" (click)="getDataR('week')"  type="button">Week
                  </button>
                </div>
                <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
                  <button class="btn btn-primary btn-sm fontSize" (click)="getDataR('month')"  type="button">Month
                  </button>
                </div>
                <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
                  <button class="btn btn-primary btn-sm fontSize" (click)="getDataR('year')"  type="button">year
                  </button>
                </div>
                <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
                  <button class="btn btn-primary btn-sm fontSize" (click)="getDataR('day')"  type="button">Today
                  </button>
                </div>
                <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
                  <select [(ngModel)]="page" (change)="getDataR(filter)">
                    <option value="5">5 users</option>
                    <option value="10">10 users</option>
                    <option value="15">15 users</option>
                    <option value="20">20 users</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="calling" class="d-flex justify-content-center my-1">
              <div class="spinner-border" role="status" aria-hidden="true"></div>
            </div>
            <div>
              <div class="row">
                <div class="col-md-5 w-25 stat_block drupp_rides" style="margin-right:16.33333%">
                  <h6>Top {{page}} Riders</h6>
                  <div class="row stat_chart" >

                    <div class="col-md-12 table-responsive">
                      <table class="table table-active table-striped table-bordered">
                        <thead class="thead-light">
                        <tr>
                          <th>Name</th>
                          <th>Image</th>
                          <th>Rating</th>
                          <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let u of users.topriders">
                          <td>{{u.driver_name}}</td>
                          <th *ngIf="u.image"><img class="design" alt="" [src]="assetUrl + '/' + u.image"
                                                   width="50" height="50"></th>
                          <th *ngIf="!u.image"><img class="design" alt=""
                                                    src="./assets/images/icon/noPhotoFound.png" width="50"
                                                    height="50"></th>
                          <td>{{u.avg_rate|number}}/5</td>
                          <td>{{u.count}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <br />
                  <h6>Lowest {{page}} Riders</h6>

                  <div class="row stat_chart" >

                    <div class="col-md-12 table-responsive">
                      <table class="table table-striped table-bordered table-active">
                        <thead class="thead-light">
                        <tr>
                          <th>Name</th>
                          <th>Image</th>
                          <th>Rating</th>
                          <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let u of users.topridersRev">
                          <td>{{u.driver_name}}</td>
                          <th *ngIf="u.image"><img class="design" alt="" [src]="assetUrl + '/' + u.image"
                                                   width="50" height="50"></th>
                          <th *ngIf="!u.image"><img class="design" alt=""
                                                    src="./assets/images/icon/noPhotoFound.png" width="50"
                                                    height="50"></th>
                          <td>{{u.avg_rate|number}}/5</td>
                          <td>{{u.count}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>

                <div class="col-md-5 w-25 stat_block drupp_rides">
                  <h6>Top {{page}} Drivers  </h6>

                  <div class="row stat_chart" >


                    <div class="col-md-12" >
                      <table>
                        <tr>
                          <th>Name</th>
                          <th>Image</th>
                          <th>Rating</th>
                          <th>Count</th>
                        </tr>
                        <tbody>
                        <tr *ngFor="let u of users.topdriver">
                          <td>{{u.driver_name}}</td>
                          <th *ngIf="u.image"><img class="design" alt="" [src]="assetUrl + '/' + u.image"
                                                   width="50" height="50"></th>
                          <th *ngIf="!u.image"><img class="design" alt=""
                                                    src="./assets/images/icon/noPhotoFound.png" width="50"
                                                    height="50"></th>
                          <td>{{u.avg_rate|number}}/5</td>
                          <td>{{u.count}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <br />
                  <h6>Lowest {{page}} Drivers  </h6>

                  <div class="row stat_chart" >

                    <div class="col-md-12 table-responsive">
                      <table class="table table-active table-responsive table-bordered">
                        <thead class="thead-light">
                        <tr>
                          <th>Name</th>
                          <th>Image</th>
                          <th>Rating</th>
                          <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let u of users.topdriverRev">
                          <td>{{u.driver_name}}</td>
                          <th *ngIf="u.image"><img class="design" alt="" [src]="assetUrl + '/' + u.image"
                                                   width="50" height="50"></th>
                          <th *ngIf="!u.image"><img class="design" alt=""
                                                    src="./assets/images/icon/noPhotoFound.png" width="50"
                                                    height="50"></th>
                          <td>{{u.avg_rate|number}}/5</td>
                          <td>{{u.count}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <br />

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a aria-controls="homeBasic" aria-selected="true" class="nav-link active" data-toggle="tab"
                     href="#driver-support"
                     id="home-basic-tab" role="tab"> Driver Rating</a>
                </li>
                <li class="nav-item">
                  <a aria-controls="profileBasic" aria-selected="false" class="nav-link" data-toggle="tab"
                     href="#rider-support"
                     id="profile-basic-tab" role="tab">Rider Rating</a>
                </li>

              </ul>
              <!-- Driver -->
              <div class="tab-content" id="myTabContent">
                <div aria-labelledby="home-basic-tab" class="tab-pane fade show active" id="driver-support" role="tabpanel">
            <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total Driver Support Messages : </b>
              {{ totalDrivers}}</span>
                  <div style=" position: relative;
          float: right; ">
                    <input [(ngModel)]='nameSearch' placeholder="Search By Keyword" type="text">
                  </div>
                  <!-- <div style=" position: relative;
                 float: left; margin-bottom: 10px; ">
                     <a class='btn btn-outline-dark btn-sm'
                        href="https://api.qualwebs.com/drupp/api/admin/download-driver-action-ratings">
                       <img alt="" class="p-1" src="./assets/images/icon/export.png" width="20">Export File</a>
                   </div>-->
                  <div style=" position: relative; float: left; margin-bottom: 10px; " *ngIf="driverRating[0]">
                    <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                      <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item"
                         href="https://api.qualwebs.com/drupp/api/admin/download-driver-action-ratings">Export PDF File</a>
                      <a class="dropdown-item"
                         href="https://api.qualwebs.com/drupp/api/admin/excel/driver-action-ratings">Export Excel File</a>
                    </div>
                  </div>

                  <div style=" position: relative;
          float: right; margin-right: 10px;">
                    <button class="btn btn-primary btn-sm" data-target="#myDateModel" data-toggle="modal" type="button">Filter
                      By Date
                    </button>
                  </div>
                  <div style=" position: relative;
    float: right; margin-right: 10px;">
                    <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                      Sort By
                    </button>
                    <div class="dropdown-menu">
                      <a (click)='sortDataDriver(1)' class="dropdown-item">High to Low Rating</a>
                      <a (click)='sortDataDriver(2)' class="dropdown-item">Low to High Rating</a>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered table-active table-striped">
                      <thead class="thead-light">
                      <tr>
                        <th scope="col"> #</th>
                        <th scope="col"> Driver Name</th>
                        <th scope="col"> Rider Name</th>
                        <th scope="col"> Date</th>
                        <th scope="col"> Rating</th>
                        <th scope="col"> Comment</th>
                        <th scope="col"> Source</th>
                        <th scope="col">Destination</th>
                        <th scope="col"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let rides of driverRating |
            paginate: { itemsPerPage: 10, currentPage: driverCurrentPage, totalItems:totalDrivers, id:'details'}  let i =index">
                        <td>{{rides.id}}</td>
                        <td *ngIf="rides.driver_name">{{rides.driver_name}}</td>
                        <td *ngIf="!rides.driver_name" title="Not Found">NA</td>
                        <td *ngIf="rides.rider_name">{{rides.rider_name}}</td>
                        <td *ngIf="!rides.rider_name" title="Not Found">NA</td>
                        <td>{{rides.created_at | date : 'MMM d, y, h:mm:ss a'}}</td>
                        <td *ngIf="rides.rate">{{rides.rate }} / 5</td>
                        <td *ngIf="!rides.rate" title="Not Found">NA</td>
                        <td *ngIf="rides.review">{{rides.review}}</td>
                        <td *ngIf="!rides.review" title="Not Found">NA</td>
                        <td *ngIf="rides.ride_source"
                            data-title="'{{rides.ride_source}}'">{{(rides.ride_source.length > 15) ? (rides.ride_source | slice:0:20) + '...' : (rides.ride_source)}}</td>
                        <td *ngIf="!rides.ride_source" title="Not Found">NA</td>

                        <td *ngIf="rides.destination"
                            data-title="'{{rides.ride_destination}}'">{{(rides.ride_destination.length > 15) ? (rides.ride_destination | slice:0:20) + '...' : (rides.ride_destination)}}</td>
                        <td *ngIf="!rides.destination" title="Not Found">NA</td>
                        <td><a class="btn btn-success" routerLink="../ride-details/{{rides.ride_id}}">
                          <i class="fas fa-eye"></i>
                        </a></td>
                      </tr>
                      </tbody>
                    </table>
                    <div *ngIf="calling" class="d-flex justify-content-center my-1">
                      <div class="spinner-border" role="status" aria-hidden="true"></div>
                    </div>
                    <div *ngIf="!driverRating[0] && calling == false" class="col-md-12 text-center">
                      <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                      <h3 class="not-found">Not Found</h3>
                    </div>
                    <pagination-controls (pageChange)=pageChangedDriver($event) id="details"></pagination-controls>
                  </div>
                </div>
                <!--Model For Driver date Filtering-->
                <!-- Modal -->
                <div class="modal fade" id="myDateModel" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Filter Driver Rating by Date</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                      </div>
                      <div class="modal-body">

                        <form (ngSubmit)="getDataDriver()" [formGroup]="dateFilterFormDriver">
                          <div class="row">
                            <div class="col-md-6">
                              <label for="start">Start Date</label>
                              <input class="form-control" formControlName="start" id="start" type='date'>
                            </div>
                            <div class="col-md-6">
                              <label for="end">End Date</label>
                              <input class="form-control" formControlName="end" id="end" type="date">
                            </div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button (click)='getData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                                    style="margin-top: 10px; margin-left: 1px;"
                                    type="button">Submit
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Rider-->
                <div aria-labelledby="profile-basic-tab" class="tab-pane fade" id="rider-support" role="tabpanel">
            <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total Rider Support Messages : </b>
              {{ totalUsers}}</span>
                  <div style=" position: relative;
                float: right; ">
                    <input [(ngModel)]='riderSearch' placeholder="Search By Keyword " type="text">
                  </div>
                  <div style=" position: relative;
                float: right; margin-right: 10px;">
                    <button class="btn btn-primary btn-sm" data-target="#myDateModelDriver" data-toggle="modal" type="button">
                      Filter By Date
                    </button>
                  </div>
                  <div style=" position: relative;
          float: right; margin-right: 10px;">

                    <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                      Sort By
                    </button>
                    <div class="dropdown-menu">
                      <a (click)='sortDataUser(1)' class="dropdown-item">High to Low Rating</a>
                      <a (click)='sortDataUser(2)' class="dropdown-item">Low to High Rating</a>
                    </div>

                  </div>
                  <div style=" position: relative; float: left; margin-bottom: 10px; ">
                    <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                      <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item"
                         href="https://api.qualwebs.com/drupp/api/admin/download-user-action-ratings">Export PDF File</a>
                      <a class="dropdown-item"
                         href="https://api.qualwebs.com/drupp/api/admin/excel/user-action-ratings">Export Excel File</a>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped table-active">
                      <thead class="thead-light">
                      <tr>
                        <th scope="col"> #</th>
                        <th scope="col"> Rider Name</th>
                        <th scope="col"> Driver Name</th>
                        <th scope="col"> Date</th>
                        <th scope="col"> Rating</th>
                        <th scope="col"> Comment</th>
                        <th scope="col"> Source</th>
                        <th scope="col">Destination</th>
                        <th scope="col"></th>
                        <!-- <th scope="col">-->
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let rides of userRating |
            paginate: { itemsPerPage: 10, currentPage: userCurrentPage, totalItems:totalUsers, id:'detail'}  let i =index">
                        <td>{{rides.id}}</td>
                        <td *ngIf="rides.rider_name">{{rides.rider_name}}</td>
                        <td *ngIf="!rides.rider_name" title="Not Found">NA</td>
                        <td *ngIf="rides.driver_name">{{rides.driver_name}}</td>
                        <td *ngIf="!rides.driver_name" title="Not Found">NA</td>
                        <td>{{rides.created_at | date : 'MMM d, y, h:mm:ss a'}}</td>
                        <td *ngIf="rides.rate">{{rides.rate }} / 5</td>
                        <td *ngIf="!rides.rate" title="Not Found">NA</td>
                        <td *ngIf="rides.review">{{rides.review}}</td>
                        <td *ngIf="!rides.review" title="Not Found">NA</td>
                        <td *ngIf="rides.ride_source"
                            data-title="'{{rides.ride_source}}'">{{(rides.ride_source.length > 15) ? (rides.ride_source | slice:0:20) + '...' : (rides.ride_source)}}</td>
                        <td *ngIf="!rides.ride_source" title="Not Found">NA</td>

                        <td *ngIf="rides.destination"
                            data-title="'{{rides.ride_destination}}'">{{(rides.ride_destination.length > 15) ? (rides.ride_destination | slice:0:20) + '...' : (rides.ride_destination)}}</td>
                        <td *ngIf="!rides.destination" title="Not Found">NA</td>
                        <td><a class="btn blue" routerLink="../ride-details/{{rides.ride_id}}">
                          <i class="nav-icon i-Eye"></i>
                        </a></td>
                      </tr>
                      </tbody>
                    </table>
                    <div *ngIf="calling" class="d-flex justify-content-center my-1">
                      <div class="spinner-border" role="status" aria-hidden="true"></div>
                    </div>
                    <div *ngIf="!userRating[0] && calling == false" class="col-md-12 text-center">
                      <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                      <h3 class="not-found">Not Found</h3>
                    </div>
                    <pagination-controls *ngIf="userRating[0]" (pageChange)=pageChangedUser($event) id="detail"></pagination-controls>
                  </div>
                  <!--Model For Driver date Filtering-->
                  <!-- Modal -->
                  <div class="modal fade" id="myDateModelDriver" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Filter Rider Rating by Date</h4>
                          <button class="close" data-dismiss="modal" type="button">&times;</button>
                        </div>
                        <div class="modal-body">
                          <form (ngSubmit)="getData()" [formGroup]="dateFilterForm">
                            <label for="start">Start Date</label>
                            <input class="form-control" formControlName="start" id="start1" type='date'>
                            <label for="end">End Date</label>
                            <input class="form-control" formControlName="end" id="end1" type="date">
                            <button (click)='getData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                                    style="margin-top: 10px; margin-left: 1px;"
                                    type="button">Submit
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- filter for rating -->
                  <div class="modal fade" id="myDateModelR" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Filter  Rating by Date</h4>
                          <button class="close" data-dismiss="modal" type="button">&times;</button>
                        </div>
                        <div class="modal-body">
                          <form (ngSubmit)="getDataR('day')" [formGroup]="dateFilterFormR">
                            <label for="start">Start Date</label>
                            <input class="form-control" formControlName="startR" id="start1r" type='date'>
                            <label for="end">End Date</label>
                            <input class="form-control" formControlName="endR" id="end1r" type="date">
                            <button (click)="getDataR('day')" class="btn btn-primary btn-sm " data-dismiss="modal"
                                    style="margin-top: 10px; margin-left: 1px;"
                                    type="button">Submit
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- filter end rating -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

