<div class="row">
  <div class="col-md-12">
    <div class="card mb-1">
      <div class="card-body">
        <a class="btn btn-primary" routerLink="../news"> <i class="nav-icon i-Back1"></i> Back </a> <br>
        <div class="card-title text-center mb-3"><h5><b>ADD NEWS</b></h5></div><br>
        <form [formGroup]="addNewsGroup" (ngSubmit)="addNews()" name="myform" >
          <div class="row">
            <div class="col-md-6 form-group mb-3">
            <label for="catList">Select Category</label>
            <select class="form-control" (change)="changeCategory(catId)" [(ngModel)]="catId" name="catId" formControlName="category_id" id="catList" >
              <option value = "" selected>Select Category</option>
              <option [value]="name.id" *ngFor="let name of newsCategory">{{name.category_name}}</option>
            </select>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="subCat">Select Sub Category</label>
              <select class="form-control" name="subCat" formControlName="sub_category_id" id="subCat" >
                <option value = "" selected>Select Sub Category</option>
                <option [value]="name.id" *ngFor="let name of newsSubCategory">{{name.news_subcategory}}</option>
              </select>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="headline">Headline</label>
              <input type="text" class="form-control" id="headline" placeholder="Enter News Headline" formControlName="headline" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="file">Upload Image</label>
              <input style="display: none" #file id="file" formControlName="file" type="file" accept='image/*' required (change)="preview(file.files)" />
              <br>
              <a class="btn btn-primary anchor" (click)="file.click()">Browse..</a>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="description">Description</label>
              <editor id="description" class="form-control description" formControlName='description' [init]="{height : 319}">
              </editor>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label *ngIf="imgURL" for="image">Image</label>
              <img [src]="imgURL" class="newsImg w-100" id="image" *ngIf="imgURL">
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary" [disabled]="addNewsGroup.invalid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
