.boxes ul li {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  margin-top: 1rem;
}

span._r_block-dot {
  display: block;
  margin: 2px 0;
}

._dot {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}

.bg-success {
  background-color: #4caf50 !important;
}

._r_btn {
  border: 1px solid #e8ecfa;
}

.btn:focus {
  box-shadow: none;
}
.spacing {
  margin-left: 10px;
}
