<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div *appAccessControl="['Subadmin','page']">
  <div>
    <div class="content-header row">
      <div class="content-header-left col-md-12 col-12">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Staff</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card text-left mt-1">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Staff</h4>
      </div>
      <div class="card-body">
        <div class="col-md-12 ">
          <div class="text-right">
            <!--        <button type="button" (click)="getModules()" class="btn btn-primary btn-sm mr-2" data-toggle="modal"-->
            <!--                data-target="#myModelLocation"> Add New-->
            <!--        </button>-->
          </div>
          <div class="table-responsive mt-1">
            <table class="table table-bordered table-active table-striped">
              <thead>
              <tr>
                <th scope="col" class="text-center"> #</th>
                <th scope="col" class="text-center"> Name</th>
                <th scope="col" class="text-center"> Email</th>
                <th scope="col" class="text-center"> Created On</th>
                <th scope="col" class="text-center"> Updated On</th>
                <th scope="col" class="text-center"> Status</th>
                <th scope="col" class="text-center"> Edit</th>
                <th scope="col" class="text-center"> Activate/Deactivate</th>
                <th scope="col" class="text-center"> Remove</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let all of allSubAdmin  | paginate :{
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                  };let i=index">
                <td>{{i+1}}</td>
                <td>{{all['first_name']}} {{all['middle_name']}} {{all['last_name']}}</td>
                <td>{{all.email}}</td>
                <td>{{all.created_at | date : 'MMM d, y, h:mm:ss a'}}</td>
                <td>{{all.updated_at | date : 'MMM d, y, h:mm:ss a'}}</td>
                <td class="text-center">
                  <span *ngIf="all.status == 1" class="badge badge-success">active</span>
                  <span *ngIf="all.status == 0" class="badge badge-danger">blocked</span>
                </td>

                <td class="text-center text-white">
                  <a class="btn btn-success"  (click)="getSingleSubAdmin(all.id)">
                    <i class="fas fa-user-edit"></i>
                  </a>
                </td>
                <td class="text-center text-dark">
              <span *ngIf="all.status == 0">
                 <a class="btn btn-info" title="activate this user" (click)="activateSubAdmin(all.id)"><i class="fas fa-unlock-alt"></i></a>
              </span>
                  <span class="" *ngIf="all.status == 1" >
                <a class="btn btn-warning" title="deactivate this user"  (click)="deactivateSubAdmin(all.id)"><i class="fas fa-user-lock"></i></a>
              </span>
                </td>
                <td class="text-center">
                  <a class="btn text-white red" (click)="removeAdmin(all)"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              <div class="text-center">
                <p *ngIf="allSubAdmin.length==0" class="font-weight-bolder text-center p-1">No staff found</p>
              </div>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-left mt-3 font-weight-bolder">
            <pagination-controls
                    responsive="true"
                    previousLabel="Prev"
                    nextLabel="Next"
                    maxSize="9"
                    directionLinks="true"
                    autoHide="true"
                    screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page"
                    (pageChange)="onTableDataChange($event)">
            </pagination-controls>
          </div>
          <div *ngIf="loading" class="d-flex justify-content-center my-1">
            <div class="spinner-border" role="status" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>

    <!--.................................... modal Edit sub admin........................................-->

    <div class="modal fade" id="editModalSubAdmin" role="dialog">
      <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit Staff Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form ngNativeValidate name="editSubAdmin" (submit)="editSubAdmin()">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Enter Name</label>
                    <input name="subAdminName" type="text" class="form-control" placeholder="John Smith" [(ngModel)]="SinglesubadminDetails.last_name" disabled/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Enter email</label>
                    <input name="subAdminEmail" type="email" class="form-control" [(ngModel)]="SinglesubadminDetails.email"
                           placeholder="John@gmail.com" autocomplete="off" disabled/>
                  </div>
                </div>
              </div>
              <div class="boxes">
                <label class="col-form-label">Update Roles</label>
                <hr>
                <div class="row">
                  <div class="col-md-4" *ngFor="let mode of SinglesubadminDetails.Modules">
                    <label>
                      <mat-checkbox name="module" [value]="mode.id" [checked]="mode.access" (change)="SelectModules($event, mode.id)"></mat-checkbox><span class="spacing">{{mode.module}}</span>
                      <span></span></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button *ngIf="!submitting" type="submit" class="btn text-white red">Update Admin</button>
              <button *ngIf="submitting" type="submit" class="btn btn-success">Processing...</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
