<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <a class="btn btn-primary" routerLink="../coupon"> <i class="nav-icon i-Back1"></i> Back </a> <br>
        <div class="card-title text-center mb-3"><h5><b>ADD COUPON CATEGORY</b></h5></div><br>
        <form ngNativeValidate [formGroup]="addBusFormGroup" (ngSubmit)="addCouponCategory()" >
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="bus_registration_no">Name</label>
              <input type="text" class="form-control" id="bus_registration_no" placeholder="Enter Name"
                     formControlName="name" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="bus_number">Price</label>
              <input type="text" class="form-control" id="bus_number" placeholder="Enter Price"
                     formControlName="price" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="capacity">Status</label>
              <select formControlName="status" class="form-control">
                <option value="1">Active</option>
                <option value="0">In Active</option>
              </select>
            </div>
            <div class="col-md-12" *ngIf="disabled == true">
              <button disabled class="btn btn-primary">Loading...</button>
            </div>
            <div class="col-md-12" *ngIf="disabled == false">
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

