<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Coupon Categories</h4>
      </div>
      <div class="card-body">
        <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total Category : </b>
          {{ bus.length}}</span>
        <div class=" text-left" style=" position: relative; float: right;width:100%; ">

        <div class="mb-2 mr-2" style=" position: relative; float: right;">
          <a class="btn btn-primary btn-sm" routerLink="../add-coupon"> Add Coupon Category </a>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-active table-bordered">
            <thead class="thead-light">
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Tag</th>
              <th scope="col" class="text-center">Value</th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let details of bus;let i =index">
              <td>{{details.id}}</td>
              <td>{{details.name}}</td>
              <td>{{details.price}}</td>
              <td *ngIf="details.status==1">Active</td>
               <td *ngIf="details.status==0">Inactive</td>

              <td>
                <a class="btn btn-success" routerLink="../edit-coupon/{{details.id}}">
                  <i class="fas fa-user-edit"></i>
                </a>

              </td>
            </tr>
            </tbody>
          </table>

        </div>
          <div *ngIf="calling" class="d-flex justify-content-center my-1">
            <div class="spinner-border" role="status" aria-hidden="true"></div>
          </div>
        <div *ngIf="bus.length==0 && calling == false" class="col-md-12 text-center">
          <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
          <h3 class="not-found">Not Found</h3>
        </div>
      </div>
    </div>
    <!--- coupon transaction history-->
    <div class="card">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Coupon History</h4>
      </div>
      <div class="card-body">
        <span class=" pl-1 pr-1 text-center" style="border: 1px solid; border-radius: 5px; position: relative; float: left;"><b>Total Coupon : </b>
          {{ totalitems}}</span>
        <div class=" text-left" style=" position: relative; float: right;width:100%; ">
        <div style=" position: relative; float: right;margin-bottom:5px; ">
          <button class="btn btn-primary btn-sm" (click)="changeCoupon('coupon')">Show Coupon</button>
        </div>
        <div style=" position: relative; float: right;margin-bottom:5px;margin-right:10px; ">
          <button class="btn btn-primary btn-sm" (click)="changeCoupon('transaction')">Show Coupon History</button>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-striped table-active">
            <thead class="thead-light">
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">User</th>
              <th scope="col" class="text-center">Category</th>
              <th scope="col" class="text-center">Coupon</th>
              <th scope="col" class="text-center">Value</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col" class="text-center">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let details of coupon;let i =index">
              <td>{{details.id}}</td>
              <td>{{details.first_name}} {{details.last_name}}</td>
              <td>{{details.name}}</td>
              <td>{{details.coupon_code}}</td>
              <td>{{details.price}}</td>
              <td>{{details.created_at|amDateFormat:'DD/MM/YYYY hh:mmA'}}</td>
              <td><button  (click)='removeCoupon(details.id,i)' class="btn btn-danger btn-sm mr-2"
                        type="button">Block Coupon
                </button>
              </td>

            </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="transactions.length>0" (pageChange)=pageChangedBus($event) id="details"></pagination-controls>
        </div>
        <div class="table-responsive">
          <table class="table table-active table-striped table-bordered">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Alpha Rider</th>
              <th scope="col">Kappa User</th>
              <th scope="col">Date</th>
              <th scope="col">Coupon</th>
              <th scope="col">Tag</th>
              <th scope="col">Value</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let details of transactions |
            paginate: { itemsPerPage: 10, currentPage: busCurrentPage, totalItems:totalitems, id:'details'}  let i =index">
              <td>{{details.cid}}</td>
              <td>{{details.user}}</td>
              <td>{{details.connected_user}}</td>
               <td>{{details.date|amDateFormat:'DD/MM/YYYY hh:mmA'}}</td>
               <td>{{details.coupon_number}}</td>
               <td>{{details.category}}</td>
               <td>{{details.price}}</td>

            </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="transactions.length>0" (pageChange)=pageChangedBus($event) id="details"></pagination-controls>
        </div>

          <div *ngIf="calling" class="d-flex justify-content-center my-1">
            <div class="spinner-border" role="status" aria-hidden="true"></div>
          </div>
        <div *ngIf="transactions.length==0 && callingT == false" class="col-md-12 text-center">
          <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
          <h3 class="not-found">Not Found</h3>
        </div>
      </div>
    </div>
  </div>
</div>

