<div class="bg-admin bg-login">
  <div class="displayLogin">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center"><img alt="Drupp" class="login-logo" src="./assets/images/login/logo.png" /></div>
        <form ngNativeValidate (ngSubmit)="doSignIn()" class="px-4 py-2 login-box" name="signInform">
          <h1>Welcome, Please login</h1>
          <div class="form-group field-email">
            <input [(ngModel)]="signInObj.email" autocomplete="off" class="form-control" id="email" name="email" placeholder="Email Address" required type="email">
          </div>
          <div class="form-group field-password">
            <input [(ngModel)]="signInObj.password" autocomplete="off" class="form-control" id="password" name="password" placeholder="Password" required type="password">
          </div>
          <div class="row">
            <div class="col-md-6">
              <a href="#">Forgot your password?</a>
            </div>
            <div class="col-md-6">
              <button *ngIf="!signInObj.disabled" class="btn btn-red btn-block">
                Log In
              </button>
              <button *ngIf="signInObj.disabled" class="btn btn-red btn-block">
                Signing In...
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
