div {
  box-sizing: border-box;
}

.bg-login {
  background-image: url('../../../assets/images/login/bg.png');
}

.auth-layout-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-color: rgba(0,0,0,.7);
}

.auth-layout-wrap .auth-content {
  min-width: 660px;
}

.auth-layout-wrap .auth-content {
  max-width: 660px;
  margin: auto;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.o-hidden {
  overflow: hidden;
}

.displayLogin {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
}

.card {
  border: none !important;
  width: 560px;
  margin: auto;
  border-radius: 0px;
  border: 0;
  background-color: transparent;
  box-shadow: none !important;
}

.login-logo {
  width: 115px;
}

.text-18 {
  font-size: 18px;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}

.card-title, .text-title, h1, h2, h3, h4, h5, h6 {
  color: #332e38;
}

.h1, h1 {
  font-size: 2.0325rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.card-title, .text-title, h1, h2, h3, h4, h5, h6 {
  color: #332e38;
}

.h1, h1 {
  font-size: 2.0325rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

*, :after, :before {
  box-sizing: border-box;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.p-4 {
  padding: 1.5rem !important;
}

.text-center {
  text-align: center !important;
}

.mb-4, .my-4 {
  margin-bottom: 0.5rem !important;
}

.mt-3, .my-3 {
  margin-top: 1rem !important;
}

.btn-outline-email {
  background: hsla(0, 0%, 93%, .6);
}

.btn-block {
  display: block;
  width: 100%;
}


.form-group label {
  font-size: 12px;
  color: #000000;
  margin-bottom: 4px;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-control {
  background: #f8c747;
  border: 1px solid #f8c747;
  color: #000;
  border-radius: 3px;
}


.input-group-text{
  background-color: #f0eef0 !important;
  border-color: #f0eef0 !important;
  border-left: none !important;
  height: 50px;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 18px !important;
  line-height: 1.5;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-right: none !important;
  height: 58px !important;
  padding-right: 60px;
}

.form-control::placeholder {
  color: #000;
}

.form-control.form-control-rounded, .form-control.rounded {
  border-radius: 20px;
}

.auth-logo img {
  width: 100px;
  height: 100px;
}

img {
  max-width: 100%;
}

img, svg {
  vertical-align: middle;
}

.auth-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pr-3, .px-3 {
  padding-right: 1rem !important;
}

.btn.btn-rounded, .btn.rounded {
  border-radius: 40px !important;
}

.btn-block + .btn-block {
  margin-top: .5rem;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #639;
  border-color: #639;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

a, a:focus, a:hover {
  text-decoration: none;
}

a:hover {
  color: #402060;
  text-decoration: underline;
}

.btn-outline-google {
  color: #ec412c !important;
  border-color: #ec412c;
  background: hsla(0, 0%, 93%, .6);
}

.btn-outline-primary {
  color: #639;
  background-color: transparent;
  background-image: none;
  border-color: #639;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: .813rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}


.btn-outline-facebook {
  color: #3765c9 !important;
  border-color: #3765c9;
  background: hsla(0, 0%, 93%, .6);
}

.btn-icon-text .icon, .btn-icon-text [class^=i-], .btn-icon .icon, .btn-icon [class^=i-] {
  vertical-align: middle;
  margin: 0 2px;
  -webkit-font-smoothing: subpixel-antialiased;
}

i {
  font-family: 'iconsmind' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, :after, :before {
  box-sizing: border-box;
}

.btn-icon-text .icon, .btn-icon-text [class^=i-], .btn-icon .icon, .btn-icon [class^=i-] {
  vertical-align: middle;
  margin: 0 2px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.i-Facebook-2:before {
  content: "\ea9c";
}

.i-Google-Plus:before {
  content: "\eaa6";
}

.i-Mail-with-At-Sign:before {
  content: "\ee9f";
}

.btn-outline-google:hover {
  background: #e92c15;
  border-color: #e92c15;
  color: #fff !important;
}

u {
  text-decoration: underline;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button, input, select, textarea {
  vertical-align: baseline;
}

button, input {
  font-size: 11px!important;
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

html {
  font-size: 16px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.video-bg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.bg-admin{
  background-size: cover;
  height: 98vh;
  overflow: hidden;
  background-position: bottom;
}

.login-footer {
  background-image: url('../../../assets/images/login/footer.png');
  background-repeat: repeat-x;
  height:2vh;
  width: 100%;
}

.login-box {
  background: #000000;
  margin-top: 80px;
  padding: 45px 60px !important;
  border-radius: 5px;
}

.login-box h1 {
  color: #fff;
  font-size: 32px;
  line-height: 37.5px;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0px;
}

.login-box a {
  color: #fff;
  margin-top: 16px;
  display: block;
}

.login-box .form-group {
  margin-bottom: 25px;
}

.btn-red {
  background-color: #FF0000;
  color: #fff;
  padding: 16px;
  font-size: 16px !important;
  font-weight: normal;
}

.field-email::after {
  background-image: url('../../../assets/images/login/user.png');
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  z-index: 99999;
  position: absolute;
  right: 0;
  visibility: visible;
  display: block;
  top: 0;
}

.field-password::after {
  background-image: url('../../../assets/images/login/lock.png');
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  z-index: 99999;
  position: absolute;
  right: 0;
  visibility: visible;
  display: block;
  top: 0;
}

@media screen and (max-width: 1356px) {

  .login-logo {
    width: 85px;
  }

  .card {
    width: 500px;
  }

  .login-box {
    background: #000000;
    margin-top: 65px;
    padding: 30px 45px !important;
    border-radius: 4px;
  }

  .login-box h1 {
    font-size: 28px;
    line-height: 30.5px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .login-box .form-group {
    margin-bottom: 15px;
  }

  .field-email::after {
    background-image: url('../../../assets/images/login/user.png');
    width: 48px;
    height: 48px;
  }

  .field-password::after {
    background-image: url('../../../assets/images/login/lock.png');
    width: 48px;
    height: 48px;
  }

  .btn-red {
    padding: 12px;
    font-size: 14px !important;
    font-weight: normal;
  }

  .form-control {
    font-size: 14px !important;
    height: 48px !important;
    padding-right: 48px;
  }

  .login-box a {
    margin-top: 14px;
    font-size: 14px;
  }

}

@media screen and (max-width: 720px) {

  .login-box h1 {
    font-size: 24px;
    line-height: 30.5px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .login-box {
    margin-left: 30px;
    margin-right: 30px;
  }

}
