<style>
    table{
        font-size: 14px;
        cursor: pointer;
    }
</style>

<div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Live Rides Tracker</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header"><h4 class="text-center text-uppercase font-weight-300">Track Live Rides</h4></div>
    <agm-map #gm style="height:650px;" [latitude]="cpos.lat" [longitude]="cpos.lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true"
             (mapClick)="$event">
        <agm-marker *ngFor="let point of points let id = index" [latitude]="point.lat" [longitude]="point.lng" [iconUrl] ="
          {
            url: '../../../assets/images/icon/vehicle.png',
            scaledSize: {
                width: 20,
                height: 30
            }
        }"
                    (mouseOver)="onMouseOver(point.lat, point.lng, infoWindow,gm,point.id)" >

            <agm-info-window [disableAutoPan]="false" #infoWindow>
                <div>
                    <b>Current Location </b> : {{this.source}}
                    <br>
                    <!--        destination:{{this.destination}}-->
                </div>
                <div>
                    <a (click)="onClickInfoView(point.id)" class="btn btn-success pull-right">Info<i class=""></i></a>
                </div>
            </agm-info-window></agm-marker>
    </agm-map>
</div>

