<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div *appAccessControl="['Riders','page']">
  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Riders</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center text-uppercase font-weight-300">Riders</h4>
        </div>
        <div class="card-body">
        <span class=" pl-1 pr-1 text-center" style="border: 0; border-radius: 0; position: relative; float: left;">Total:
          {{ totalitems}}
        </span>
          <div class="text-right" style=" position: relative; float: right; margin-bottom: 10px ">
            <button class="btn btn-primary btn-sm mr-2" data-target="#myDateModel" data-toggle="modal" type="button">
              Filter By Date
            </button>
            <button class="btn btn-primary btn-sm mr-2" data-target="#myModelLocation" data-toggle="modal"
                    type="button">Filter By Location
            </button>
            <input class="mr-2" (change)="getUsers(1)" [(ngModel)]='nameSearchRider' placeholder="Search By Keyword" type="text">
            <button class="btn btn-sm btn-outline-dark" (click)="resetFilter()">Reset Filter</button>
          </div>
          <div style=" position: relative; float: right; " *ngIf="users[0]">
            <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
              <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item"
                 href="https://api.qualwebs.com/drupp/api/admin/download-users-details">Export PDF File</a>
              <a class="dropdown-item" href="https://api.qualwebs.com/drupp/api/admin/excel/users">Export Excel File</a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-active table-bordered" *ngIf="users">
              <thead class="thead-light">
              <tr>
                <th scope="col"class="text-center">#</th>
                <th scope="col" class="text-center"> Name</th>
                <th scope="col" class="text-center">Avatar</th>
                <th scope="col" class="text-center"> Phone</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Documents</th>
                <th scope="col" class="text-center">View</th>
                <th scope="col" class="text-center">Edit</th>
                <th scope="col" class="text-center">Block</th>
              </tr>
              </thead>
              <tbody>
              <tr
                      *ngFor=" let user of users | paginate: { itemsPerPage: 10, currentPage: riderCurrentPage, totalItems:totalitems, id:'details'} let i =index;">
                <td>{{user.id}}</td>
                <td>
                  <a class="btn-link text-capitalize text-info text-decoration-none"[routerLink]="['../user-details/',user.id]">{{user.name}}</a>
                </td>
                <td
                        data-toggle="tooltip"
                        data-placement="top"
                        title="click to view driver profile photo"
                        class="text-nowrap pointer-event">
                  <a
                          class="btn"
                          data-toggle="modal"
                          data-backdrop="false"
                          (click)="onCurrentDriverDocument(user.profile_picture, user)"
                          data-target="#avatar"
                  >
                    <img class="rounded-circle" [src]="assetUrl + '/' + user.profile_picture"
                         width="40" height="40" alt="avatar">
                  </a>
                </td>
                <td>+{{user.country_code}}-{{user.phone}}</td>
                <td>{{user.email}}</td>

                <td class="text-center">
                  <span *ngIf="user.status == 0" class="badge badge-danger p-1">blocked</span>
                  <span  *ngIf="user.status == 1" class="badge badge-success p-1">active</span>
                </td>

                <td class="text-center"><a class="btn btn-info" routerLink="../document-view/{{user.id}}">
                  <i class="fas fa-file-word"></i>
                </a>
                </td>

                <td class="text-center">
                  <a class="btn btn btn-success" routerLink="../user-details/{{user.id}}">
                    <i class="fas fa-eye"></i>
                  </a>
                </td>

                <td class="text-center text-dark">
                  <a class="btn btn-warning" routerLink="../edit-user/{{user.id}}">
                    <i class="fas fa-user-edit"></i>
                  </a>
                </td>

                <td class="text-center text-white">
                <span *ngIf="user.status == 1" >
                  <a (click)='getValue(user.id)' class="btn red">
                  <i class="fas fa-ban"></i>
                </a>
                </span>
                  <span  *ngIf="user.status == 0" class="">
                  <a (click)='unBlock(user.id)' class="btn btn-success">
                  <i class="fas fa-unlock"></i>
                </a>
                </span>
                </td>

              </tr>
              </tbody>
            </table>
            <pagination-controls *ngIf="users[0]" (pageChange)=pageChangedRider($event)
                                 id="details">

            </pagination-controls>
          </div>
          <div *ngIf="calling" class="d-flex justify-content-center my-1">
            <div class="spinner-border" role="status" aria-hidden="true"></div>
          </div>
          <div *ngIf="!users[0] && calling == false" class="col-md-12 text-center">
            <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
            <h3 class="not-found">Not Found</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="blockUserModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center text-uppercase font-weight-300">Block User</h4>
          <button class="close" data-dismiss="modal" type="button">&times;</button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate [formGroup]="blockUserForm" (ngSubmit)="blockUser()">
            <div class="form-group col-md-12">
              <label for="user">Select Date Till You Want Block User</label>
              <input class="form-control" formControlName="activation_date" id="user" type="datetime-local" required>
            </div>
            <button class="btn red text-white" style="margin-top: 10px; margin-left: 1px;">Block
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Trigger the modal with a button -->
  <!-- Modal -->
  <div class="modal fade" id="myDateModel" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Filter Riders by Date</h4>
          <button class="close" data-dismiss="modal" type="button">&times;</button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate (ngSubmit)="getData()" [formGroup]="dateFilterForm">
            <div class="row">
              <div class="col-md-6">
                <label for="start">Start Date</label>
                <input class="form-control" formControlName="start" id="start" type='date' required>
              </div>
              <div class="col-md-6">
                <label for="end">End Date</label>
                <input class="form-control" formControlName="end" id="end" type="date" required>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--Location Modal -->
  <div class="modal fade" id="myModelLocation" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Filter By Location</h4>
          <button class="close" data-dismiss="modal" type="button">&times;</button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate (ngSubmit)="getLocationData()" [formGroup]="locationFilterForm">
            <label for="location">Enter Your Location</label>
            <input class="form-control" formControlName="location" id="location" placeholder="Enter the Location"
                   type='text' required>
            <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--View user profile -->
  <div class="disabled-backdrop-ex">
    <!-- Modal -->
    <div
            class="modal fade text-left"
            id="avatar"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel2"
            aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel2">{{riderDetails['name']}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="rounded" [src]="assetUrl + '/' + avatar_url"
                 width="" height="" alt="avatar">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END user profile view-->



</div>
