<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <a class="btn btn-primary" routerLink="../news"> <i class="nav-icon i-Back1"></i> Back </a> <br>
        <div class="card-title text-center mb-3"><h5><b>ADD NEWS SUBCATEGORY</b></h5></div>
        <br>
        <form [formGroup]="addNewsSubCategoryFormGroup" (ngSubmit)="addNewsSubCategory()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="catList">News Category</label>
              <select class="form-control" [(ngModel)]="category.catId" formControlName="category_id" id="catList"
                      required>
                <option value='' selected>Select Category</option>
                <option [value]="name.id" *ngFor="let name of newsCategory">{{name.category_name}}</option>
              </select>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="news-sub-cat">News Sub-Category</label>
              <input type="text" class="form-control" id="news-sub-cat" placeholder="Enter News Sub Category"
                     formControlName="news_subcategory">
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
