<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Search Results</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Matched Search Results</h4>
      </div>
      <div class="card-body">
        <span class=" pl-1 pr-1 text-center" style="border: 0; border-radius: 0; position: relative; float: left;">Total:
          {{ totalSearchResults}}
        </span>
        <div class="table-responsive">
          <table class="table table-striped table-active table-bordered">
            <thead class="thead-light">
            <tr>
              <th scope="col"class="text-center">#</th>
              <th scope="col" class="text-center"> Name</th>
              <th scope="col" class="text-center">Avatar</th>
              <th scope="col" class="text-center"> Phone</th>
              <th scope="col" class="text-center">Email</th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col" class="text-center">Documents</th>
              <th scope="col" class="text-center">View</th>
              <th scope="col" class="text-center">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr
                    *ngFor=" let userSearchResult of userSearchResults | paginate: { itemsPerPage: 10, currentPage: riderCurrentPage, totalItems:totalSearchResults, id:'details'} let i =index;">
              <td>{{userSearchResult['id']}}</td>
              <td>
                <a class="btn-link text-capitalize text-info text-decoration-none"[routerLink]="['../user-details/',userSearchResult['id']]">{{userSearchResult['first_name']}} {{userSearchResult['last_name']}}</a>
              </td>
              <td
                      data-toggle="tooltip"
                      data-placement="top"
                      title="click to view driver profile photo"
                      class="text-nowrap pointer-event">
                <a
                        class="btn"
                        data-toggle="modal"
                        data-backdrop="false"
                        (click)="onCurrentDriverDocument(userSearchResult)"
                        data-target="#avatar"
                >
                  <img class="rounded-circle" [src]="assetUrl + '/' + userSearchResult['profile_picture']"
                       width="40" height="40" alt="avatar">
                </a>
              </td>
              <td>+{{userSearchResult['country_code']}}-{{userSearchResult['phone']}}</td>
              <td>{{userSearchResult['email']}}</td>

              <td class="text-center">
                <span *ngIf="userSearchResult['status'] == 0" class="badge badge-success p-1">blocked</span>
                <span  *ngIf="userSearchResult['status'] == 1" class="badge badge-success p-1">active</span>
              </td>

              <td class="text-center"><a class="btn btn-info" routerLink="../document-view/{{userSearchResult['id']}}">
                <i class="fas fa-file-word"></i>
              </a>
              </td>

              <td class="text-center">
                <a class="btn btn btn-success" routerLink="../user-details/{{userSearchResult['id']}}">
                  <i class="fas fa-eye"></i>
                </a>
              </td>

              <td class="text-center text-dark">
                <a class="btn btn-warning" routerLink="../edit-user/{{userSearchResult['id']}}">
                  <i class="fas fa-user-edit"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls
                  *ngIf="userSearchResults[0]" (pageChange)=pageChangedRider($event)
                               id="details">

          </pagination-controls>
        </div>
        <div *ngIf="loading" class="d-flex justify-content-center my-1">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
        <div *ngIf="!userSearchResults[0] && loading == false" class="col-md-12 text-center">
          <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
          <h3 class="not-found">Not Found</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Trigger the modal with a button -->
