<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card text-left">
      <div class="card-body">
        <div class="card-title mb-0">
          <div class="col-md-12 text-center"><h5><b>NEWS LETTER</b></h5></div>
        </div>
<!--        <form [formGroup]="sendNewsLetterFormGroup" (ngSubmit)="sendNewsletter()">-->
        <form>
          <div class="row">
            <div class="col-md-12 form-group mb-1">
              <input type="text" placeholder="Subject" name="subject" id="subject" class="form-control">
            </div>
            <div class="col-md-12 form-group mb-1">
              <textarea class="form-control" name="msg" id="msg" placeholder="Enter your message"></textarea>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
<!--                  <th><input type="checkbox" name="select-all" (click)="selectAllNews()"> Select All</th>-->
                  <th><input type="checkbox" name="select-all"> Select All</th>
                  <th>ID</th>
                  <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><input type="checkbox" name="n" class="news" value="1" ></td>
                  <td>221</td>
                  <td>andy@gmail.com</td>
                </tr>
                <tr>
                  <td><input type="checkbox" name="n" class="news" value="2"></td>
                  <td>632</td>
                  <td>hi@gmail.com</td>
                </tr>
                <div class="col-md-2">
                  <button class="btn btn-primary">Send</button>
                </div>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
