<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div *appAccessControl="['Bus','page']">
  <div>
    <div class="content-header row">
      <div class="content-header-left col-md-12 col-12">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a routerLink="/dashboard/bus">Buses</a></li>
                <li class="breadcrumb-item active text-capitalize">Adding Bus Ride Details</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header"> <h4 class="text-center text-uppercase font-weight-300">Add Bus Ride Details</h4></div>
          <div class="card-body">
            <form (ngSubmit)="addBusRides()" [formGroup]="addBusRidesFormGroup" ngNativeValidate>
              <div class="row">
                <div class="col-md-6 form-group mb-3">
                  <label for="source">Source</label>
                  <input (atSelect)="selectCitySource($event)" appGooglePlaces class="form-control"
                         formControlName="source" id="source" placeholder="Enter Source" required type="text">
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label for="destination">Destination </label>
                  <input (atSelect)="selectCityDestination($event)" appGooglePlaces class="form-control"
                         formControlName="destination" id="destination" placeholder="Enter Destination" required>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label for="driver_id">Select Driver</label>
                  <select (change)="onDriverSelect($event.path[0])" class="form-control" formControlName="driver_id"
                          id="driver_id" name="driver" required>
                    <option selected value="">Select Driver</option>
                    <option *ngFor="let name of busDriver;let ind = index;" [value]="name.id">
                      {{name.first_name}}{{name.last_name}} Mobile number : {{name.phone}}
                    </option>
                  </select>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label for="datetimepicker">Start Time</label>
                  <input (dateChange)="atDateSelect($event)" [min]="startMin" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                         autocomplete="off" class="form-control"
                         formControlName="start_time" id="datetimepicker"
                         placeholder="Enter Start Time" required type="text">
                  <owl-date-time #dt2></owl-date-time>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label for="time">Finish Time</label>
                  <input [min]="startMin" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" autocomplete="off"
                         class="form-control"
                         formControlName="finish_time" id="time"
                         placeholder="Enter Finish Time" required="">
                  <owl-date-time #dt1></owl-date-time>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label for="source">Price</label>
                  <input class="form-control"
                         formControlName="per_seat_price" id="price" placeholder="Enter Price" required type="text">
                </div>
                <div *ngIf="disabled" class="col-md-12">
                  <button class="btn btn-primary" disabled>Loading...</button>
                </div>
                <div *ngIf="!disabled" class="col-md-12">
                  <button class="btn text-white red">Add Ride Details</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
