<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div *appAccessControl="['Bus','page']">
  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item"><a routerLink="/dashboard/bus">Buses</a></li>
              <li class="breadcrumb-item active">Bus Rides</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-1">
      <div class="card text-left mt-1">
        <div class="card-header">
          <div class="col-md-12 text-center">
            <h4 class="text-center text-uppercase font-weight-300">Bus Rides</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="col-md-6 mb-2" style="position: relative; float: left; ">
            <div class="row">
              <div class="col-md-5 mr-2 p-1 text-center">Reg No.:<span class="text-uppercase font-weight-bolder">{{busDetails.bus_registration_number}}{{busDetails.bus_number}}</span></div>
              <div class="col-md-5 p-1 text-center">Capacity:<span class="font-weight-bolder">{{busDetails.capacity}}</span></div>
            </div>
          </div>
          <div class="ml-2" style="position: relative; float: right;">
            <input [(ngModel)]="rideSearch" id="fullLength" (change)="getSingleBusRides()"
                   placeholder="Search By Keyword" type="text">
          </div>
          <div style="position: relative; float: right;">
            <button class="btn btn-primary btn-sm dropdown-toggle mr-2" data-toggle="dropdown" type="button">
              Filter By
            </button>
            <div class="dropdown-menu">
              <a (click)='filterBusRide("")' href="javascript:void(0)" class="dropdown-item">All</a>
              <a (click)='filterBusRide(1)' href="javascript:void(0)" class="dropdown-item">Upcoming</a>
              <a (click)='filterBusRide(2)' href="javascript:void(0)" class="dropdown-item">Started</a>
              <a (click)='filterBusRide(3)' href="javascript:void(0)" class="dropdown-item">Completed</a>
            </div>
          </div>
          <div style="position: relative; float: right;">
            <button class="btn btn-primary btn-sm mr-2" data-target="#myRideDateModel" data-toggle="modal"
                    type="button">
              Filter By Date
            </button>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-active" *ngIf="singleBusRides[0]">
              <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Start Time</th>
                <th scope="col" class="text-center">End Time</th>
                <th scope="col" class="text-center">Source</th>
                <th scope="col" class="text-center">Destination</th>
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center">Available Seats</th>
                <th scope="col" class="text-center">Driver Name</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">View</th>
                <th scope="col" class="text-center">Passengers</th>
                <th scope="col" class="text-center">Edit</th>
                <th scope="col" class="text-center">Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let details of singleBusRides |
             paginate: { itemsPerPage: 10, currentPage: rideCurrentPage, totalItems:totalRides, id:'det'}  let i =index">
                <td>{{i+1}}</td>
                <td>{{details.start_time | date:'MMM d, y, h:mm a'}}</td>
                <td>{{details.finish_time | date:'MMM d, y, h:mm a'}}</td>
                <td data-title="'{{details.source}}'">
                  {{(details.source.length > 20) ? (details.source | slice:0:20) + '...' : (details.source)}}
                </td>

                <td data-title="'{{details.destination}}'">
                  {{(details.destination.length > 20) ? (details.destination | slice:0:20) + '...' : (details.destination)}}
                </td>

                <td class="text-right">{{details.per_seat_price | currency:" "}}</td>
                <td class="text-right">{{details.remaining_seats | number}}</td>
                <td>{{details.driver_name}}</td>
                <td class="text-center">
                  <span *ngIf="details.status == 1" class="badge badge-info">Upcoming</span>
                  <span *ngIf="details.status == 2" class="badge badge-danger">Started</span>
                  <span *ngIf="details.status == 3" class="badge badge-success">Completed</span>
                </td>
                <td class="text-center"><a routerLink="../../track-single-bus-ride/{{details.id}}" class="btn red text-white"><i class="fas fa-eye"></i></a></td>
                <td class="text-center">
                  <a (click)="viewPassengers(details.id)" class="btn btn-success text-white"><i class="fas fa-eye"></i></a>
                </td>
                <td class="text-center"><a (click)="editModal(details)" class="btn btn-warning"><i class="fas fa-edit"></i></a></td>
                <td class="text-center"><a (click)="delete(details.id)" class="btn red text-white"><i class="fas fa-trash"></i></a></td>
              </tr>
              </tbody>
            </table>
            <pagination-controls *ngIf="singleBusRides[0]" (pageChange)=pageChangedRides($event)
                                 id="det"></pagination-controls>
          </div>
          <div *ngIf="calling" class="d-flex justify-content-center my-1">
            <div class="spinner-border" role="status" aria-hidden="true"></div>
          </div>
          <div *ngIf="!singleBusRides[0] && calling == false" class=" text-center">
            <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
            <h3 class="not-found">No Rides Found</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- edit ride modal -->
  <div aria-hidden="true" aria-labelledby="Label" class="modal fade" id="editRide" role="dialog"
       tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Label">Update Ride</h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="editSingleRide(singleBusRides)" [formGroup]="editRideFormGroup">
          <div class="row">
            <div class="col-md-11 form-group modal_fix ml-3">
              <label for="source">Source</label>
              <input class="form-control " (atSelect)="selectCitySource($event)" appGooglePlaces
                     formControlName="source" id="source" placeholder="Enter Source" required type="text">
            </div>
            <div class="col-md-11 form-group ml-3 modal_fix">
              <label for="destination">Destination </label>
              <input class="form-control" (atSelect)="selectCityDestination($event)" appGooglePlaces
                     formControlName="destination" id="destination" placeholder="Enter Destination" required>
            </div>

            <div class="col-md-11 form-group modal_fix ml-3">
              <label for="driver_id">Select Driver</label>
              <!--              <input class="form-control" formControlName="driver_id" id="driver_id" placeholder="Enter Driver ID"-->
              <!--                     required>-->
              <select class="form-control" formControlName="driver_id" name="driver" required>
                <option selected value="">Select Driver</option>
                <option *ngFor="let name of busDriver;let index = index;" [value]="name.id"
                        id="driver_id">{{name.first_name}}{{name.last_name}}</option>
              </select>
            </div>
            <div class="col-md-11 form-group modal_fix ml-3 ">
              <label for="datetimepicker">Start Time</label>
              <input [min]="startMin" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" class="form-control"
                     formControlName="start_time"
                     id="datetimepicker" placeholder="Enter Start Time" type="text">
              <owl-date-time #dt2></owl-date-time>
            </div>
            <div class="col-md-11 form-group modal_fix ml-3">
              <label for="dt1">Finish Time</label>
              <input [min]="startMin" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" class="form-control "
                     formControlName="finish_time" id="dt1"
                     placeholder="Enter Finish Time">
              <owl-date-time #dt1 class="datetime"></owl-date-time>
            </div>
            <div class="col-md-11 form-group modal_fix ml-3">
              <label for="price">Price</label>
              <input class="form-control" formControlName="per_seat_price" id="price"
                     placeholder="Enter Price" required>
            </div>
            <div class="col-md-12 text-center mb-3">
              <button class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--get Passengers Modal-->
  <div aria-hidden="true" aria-labelledby="Label" class="modal fade" id="getpassengers" role="dialog"
       tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="col-md-12 modal-header">
          <h6 class="modal-title" id="passengers" style="margin-left:145px">Passengers List</h6>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="col-md-12 text-right mt-2 mb-2">
          <span class="dropdown">
          <button class="col-md-2 mr-2 btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
            Sort By
          </button>
          <div class="dropdown-menu">
            <a (click)='sortPassengers(1)' class="dropdown-item">Newest To Oldest</a>
            <a (click)='sortPassengers(2)' class="dropdown-item">Oldest To Newest</a>
          </div>
        </span>
          <span class="dropdown">
          <button class="col-md-2 mr-2 pl-1 btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
            Filter By
          </button>
          <div class="dropdown-menu">
            <a (click)='filterPassengers("")' href="javascript:void(0)" class="dropdown-item">All</a>
            <a (click)='filterPassengers(1)' href="javascript:void(0)" class="dropdown-item">Booked</a>
            <a (click)='filterPassengers(2)' href="javascript:void(0)" class="dropdown-item">Not Boarded</a>
            <a (click)='filterPassengers(3)' href="javascript:void(0)" class="dropdown-item">Boarded</a>
          </div>
          </span>
          <input class="col-md-6" [(ngModel)]="searchPass" size="27" (change)="viewPassengers(busRideId)"
                 placeholder="Search By Keyword" type="text">
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-active">
            <thead class="thead-light">
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Passenger</th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col" class="text-center">Cancel</th>
            </tr>
            </thead>
            <tbody>
            <tr
                    *ngFor="let details of getPassengers | paginate: { itemsPerPage: 10, currentPage: passCurrentPage, totalItems:totalPass, id:'detai'} let i = index;">
              <!--            <td>{{details.bus_ride_id}}</td>-->
              <td>{{i+1}}</td>
              <td>{{details.user_name}}</td>
              <td class="text-center">
                <span  *ngIf="details.status == 1" class="badge badge-success">Booked</span>
                <span  *ngIf="details.status == 2" cl.ass="badge badge-warning">Not Boarded</span>
                <span  *ngIf="details.status == 3" class="badge badge-info">OnBoard</span>
                <span  *ngIf="details.status == 4" class="badge badge-danger">Cancelled</span>
              </td>
              <td>
                <a href="javascript:void(0)" class="text-decoration-none" (click)="deletePassengers(details.id, details.user_id)"
                   *ngIf="details.status!= 4"> <span class="text-white btn red"><i class="fas fa-trash"></i> </span></a>
                <a *ngIf="details.status == 4"></a>
                <a *ngIf="details.status == null"></a>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="getPassengers[0]" (pageChange)=pageChangedPass($event) id="detai"></pagination-controls>
        </div>
        <div *ngIf="calling" class="d-flex justify-content-center my-1">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
        <div *ngIf="getPassengers[0]" class="col-md-12 text-right mb-3">
          <button (click)="downloadPassengers()" class="btn btn-primary btn-sm">Download List</button>
        </div>
        <div *ngIf="!getPassengers[0] && calling == false" class="col-md-12 mt-2 text-center">
          <img alt="" class="mb-3" height="150" src="../../../assets/images/not-found.png">
          <h3 class="not-found">No Passengers Found</h3>
        </div>
      </div>
    </div>
  </div>


  <!--Date Modal -->
  <div class="modal fade" id="myRideDateModel" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Filter Rides</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="getDateData()" [formGroup]="rideDateFilterForm">
            <div class="row">
              <div class="col-md-6">
                <label for="start">Start Date</label>
                <input class="form-control" formControlName="start" id="start" type='date'>
              </div>
              <div class="col-md-6">
                <label for="end">End Date</label>
                <input class="form-control" formControlName="end" id="end" type="date">
              </div>
            </div>
            <div class="col-md-12 text-center">
              <button (click)='getDateData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                      style="margin-top: 10px; margin-left: 1px;"
                      type="button">Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
