<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Orders</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card text-left">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Orders</h4>
      </div>
      <div class="card-body">
        <span class=" pl-1 pr-1 mb-1 text-center" style="position: relative; float: left;"><b>Total Orders : </b>
          {{totalOrders}}</span>
        <div class="table-responsive">
          <table class="table table-active table-bordered table-striped table-hover">
            <thead class="thead-light">
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Ordered On</th>
              <th scope="col" class="text-center">Customer</th>
              <th scope="col" class="text-center">Items</th>
              <th scope="col" class="text-center">Shipping Address</th>
              <th scope="col" class="text-center">Total Price</th>
              <th scope="col" class="text-center">Payment Method</th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col" class="text-center">View</th>
              <th scope="col" class="text-center">Edit</th>
              <th scope="col" class="text-center">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let history of orders |
            paginate: { itemsPerPage: 10, currentPage: orderCurrentPage, totalItems:totalOrders, id:'details'}  let i =index">
              <td>{{i+1}}</td>
              <td>{{history.created_at || 'N/A' | date:'medium'}}</td>
              <td>{{history.name || 'N/A'}}</td>
              <td class="text-right">{{history.count || 0 | number}}</td>
              <td>{{history.city|| 'N/A'}}</td>
              <td class="text-right">{{history.total_price || 0 | currency:"₦"}}</td>
              <td class="text-center"><span class="badge badge-info">{{history.payment_method | paymentMethod}}</span></td>
              <td class="text-center">
                <span *ngIf="history.status == 1" class="badge badge-info">Ordered</span>
                <span *ngIf="history.status == 2" class="badge badge-warning">Shipped</span>
                <span *ngIf="history.status == 3" class="badge badge-success">Delivered</span>
                <span *ngIf="history.status == 4" class="badge badge-danger">Cancelled</span>
                <span *ngIf="history.status == 5" class="badge badge-danger">Failed</span>
                <span *ngIf="history.status == 6" class="badge badge-danger">Applied For Return</span>
                <span *ngIf="history.status == 6" class="badge badge-danger">Returned</span>
              </td>
              <td class="text-center"><a  routerLink="../single-order-history/{{history.id}}" class="btn btn-success " type="button"><i class="fas fa-eye"></i></a></td>
              <td class="text-center">
                <button (click)="getCurrentOrder(history)"  class="btn btn-info text-white" data-toggle="modal" data-target="#editOrderStatus"><i class="fas fa-edit"></i></button>
              </td>
              <td class="text-center">
                <button  class="btn red text-white" (click)="removeOrder(history.id)"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls *ngIf="orders[0]" (pageChange)=pageChangedOrder($event) id="details"></pagination-controls>
        </div>
        <div *ngIf="calling" class="d-flex justify-content-center my-1">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
        <div *ngIf="!orders[0] && calling == false" class="col-md-12 text-center">
          <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
          <h3 class="not-found">Not Found</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--BEGIN edit order status-->

<!-- Modal -->
<div class="modal fade" id="editOrderStatus" tabindex="-1" role="dialog" aria-labelledby="editOrderStatusLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editOrderStatusLabel">{{currentOrder.name || "N/A"}} Order Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="changeDeliveryStatus(currentOrder.id,orderStatus.value)">
          <label for="status">Update Order Status</label>
          <select id="status" class="form-control" #orderStatus>
            <option value="1">Ordered</option>
            <option value="2">Shipped</option>
            <option value="3">Delivered</option>
            <option value="4">Cancelled</option>
            <option value="5">Failed</option>
          </select>
          <button class="btn text-white red mt-2" type="submit">Update Status</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END edit order status-->
