<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard/order-history">Orders</a></li>
            <li class="breadcrumb-item active">Order Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="text-center text-uppercase font-weight-300">Orders Details</h4>
  </div>
  <div class="card-body">
    <div *ngIf="loading" class="d-flex justify-content-center my-1">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item">

            <div class="business-item">
              <div class="d-flex align-items-center justify-content-between">
                <span><i class="fas fa-check text-success"></i> Ordered By: </span>
                <div class="badge badge-info">{{singleOrder['name'] || "N/A"}}</div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="business-item">
              <div class="d-flex align-items-center justify-content-between">
                <span><i class="fas fa-check text-success"></i> Payment Method:</span>
                <div class="badge badge-warning">{{singleOrder.payment_method || "N/A" | paymentMethod}}</div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="business-item">
              <div class="d-flex align-items-center justify-content-between">
                <span><i class="fas fa-check text-success"></i> Ordered On:</span>
                <div class="badge badge-danger">{{singleOrder.created_at || "N/A" | date:'medium'}}</div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="business-item">
              <div class="d-flex align-items-center justify-content-between">
                <span><i class="fas fa-check text-success"></i> Order Status</span>
                <div class="badge badge-success">{{singleOrder.status || "N/A" | orderStatus}}</div>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="business-item">
              <div class="d-flex align-items-center justify-content-between">
                <span><i class="fas fa-check text-success"></i> Total Order Amount</span>
                <div class="badge badge-info">{{singleOrder.total_price || 0 | currency:" "}}</div>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="business-item">
              <div class="d-flex align-items-center justify-content-between">
                <span><i class="fas fa-check text-success"></i> Transaction Code:</span>
                <div class="badge badge-secondary">{{singleOrder.transaction_id || 'N/A'}}</div>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="business-item">
              <div class="d-flex align-items-center justify-content-between">
                <span><i class="fas fa-check text-success"></i> Delivery Address</span>
                <div class="badge badge-danger text-capitalize">Code {{singleOrder.postal_code}},{{singleOrder.street}} {{singleOrder.state}},{{singleOrder.city}},{{singleOrder.country}},</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-striped table-active table-bordered">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Ordered On</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Payment Method</th>
              <th class="text-center">View Product</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of singleOrder.order_details;let i=index">
              <td>{{i+1}}</td>
              <td>
                <span>{{product["updated_at"]}}</span>
              </td>
              <td class="text-right">
                <span>{{product["quantity"] || 0 | number}}</span>
              </td>
              <td class="text-center">
                <span class="badge badge-success">{{product["payment_method"] | paymentMethod}}</span>
              </td>
              <td class="text-center"><span class="btn btn-success"><i class="fas fa-eye"></i></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
