

.pin
{
  background-color:  black;
  border: none;
  color: white;
  padding: 6px 42px;
}

.t-btn
{
  float: right;
  border: 2px solid rgba(128,128,128,.3);
  /* border: none; */
  background-color: white;
  padding: 2px 11px;
}

i.fas.fa-map-marker-alt.Track {
  color: black;
}


.total
{
  float: right;
  font-size: 14px;
  color: grey;
}



.s
{
  text-align: center;
  margin-top: 71px;
}


.honor
{
  font-size: 15px;
}

.para
{
  color: grey;
  font-size: 14px;
  margin-bottom: 2px;
}

.rupee
{
  float: right;
  font-size: 15px;
}

.return
{
  color: gray;
  font-size: 14px;
  margin-left: 60px;
}

.on
{
  margin-left: 59px;
  font-size: 15px;
}

.shared
{
  font-size: 14px;
  color: grey;
}


.order
{
  font-size: 14px;
  color: grey;
}


.on
{
  border-radius: 4px;
  padding: 5px 86px;;
  /* width: 42%; */
  font-size: 24px;
  color: white;
  border: none;
  background-color: #36d0c9;
}

.box {
  margin-top: 32px;
  margin-bottom: 12px;
  position: relative;
  width: 100%;
  padding: 5px 20px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  border-radius: 5px;
}

.box {
  border: 2px solid rgba(128,128,128,.2);
}
imageOrder {
  min-height: 130px;
  max-height: 130px;
  width: 100%;
}
h1, h2 {
  font-family: "Utopia Std Display";
  font-weight: 700;
}
h2 {
  font-size: 16px;
  color: black;
  margin-top: 3px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}
