item.active, .layout-sidebar-large .sidebar-left .navigation-left .nav-item.active .nav-item-hold {
  color: #000000 !important;
}

.layout-sidebar-large .sidebar-left .navigation-left .nav-item.active .triangle {
  border-color: transparent transparent #000;
}

.layout-sidebar-large .sidebar-left-secondary .childNav li.nav-item a.open {
  color: #000;
}

.nav-tabs {
  border-bottom: 1px solid #000;
}

.nav-tabs .nav-item .nav-link.active {
  border: 1px solid transparent;
  background: rgba(215, 215, 215, 0.72);
}

.ngx-pagination li.current {
  background: #000;
}

.card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
  height: 65px;
  width: 70px;
  border-radius: 15px;
}

.material-icons {
  vertical-align: middle;
}

.btn-primary {
  font-size: 11px;
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-danger {
  font-size: 11px;
}

.badge-primary {
  background-color: #000000;
}

.yellow {
  background-color: #f4e3c9 !important;
}

.purple {
  background-color: #f4efec !important;
}

.indigo {
  background-color: #f4e0e9 !important;
}
.brown {
  background-color: #F4E2AF !important;
}
.strong-green{
  background-color: #97c95c !important;
}


.datetime {
  position: fixed !important;
  z-index: 10000 !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}
.layout-sidebar-large .sidebar-left.open {
  left: 3px;
  overflow-y: auto;
}

.layout-sidebar-large .sidebar-left .navigation-left .nav-item .nav-item-hold .nav-icon {
  font-size: 24px;
  height: 20px;
  width: 32px;
  display: block;
  margin: 0 auto 6px;
  font-weight: 600;
}

/*.layout-sidebar-large .sidebar-left .navigation-left .nav-item.active, .layout-sidebar-large .sidebar-left .navigation-left .nav-item.active .nav-item-hold {*/
/*  color: #2f47c2;*/
/*  border: 1px solid;*/
/*}*/
.layout-sidebar-large .sidebar-left .navigation-left .nav-item .nav-item-hold {
  display: block;
  width: 100%;
  padding: 20px 0;
  color: #474d6d;
}

.layout-sidebar-large .sidebar-left .navigation-left .nav-item .nav-item-hold .nav-text {
  font-size: 13px;
  display: block;
  font-weight: bold;
}

.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.card .card-icon, .card .card-text {
  box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff !important;
}

.card-stats .card-header .card-category:not([class*="text-"]) {
  color: #000 !important;
}

.card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
  color: #000 !important;
  padding-bottom: 2rem;
}

.Registered-1 {
  background-color: #b5dce1 !important;
}

.Rides-2 {
  background-color: #cfdaf0 !important;
}

.Rides-3 {
  background-color: #CFDBAA !important
 }

.traveled-3 {
  background-color: #fff8dc !important;
}

.customer-4 {
  background-color: #ddecef !important;
}

.dark-purple {
  background-color: #EEF9A6 !important;
}
#fullLength {
  width: 100%;
}
.buttonArrangeRight {
  position: relative;
  float: right;
}
.buttonArrangeLeft {
  position: relative;
  float: left;
}
.card [class*="card-header-"] .card-icon,
.card [class*="card-header-"] .card-text {
  margin-right: 0px!important;
}
button, input {
  font-size: 11px;
  overflow: visible;
}
.dropdown-toggle.btn {
  font-size: 11px;
}
.btn-outline-dark {
  font-size: 11px;
}
h5 {
  margin-bottom: 0;
}
.tab-content {
  padding: 0.5rem;
}
.nav-tabs .nav-item .nav-link {
  padding: 0.5rem;
  font-size: 15px;
}
.card-title {
  margin-bottom: 0;
}
.blue {
  font-size: 11px;
}
.btn-secondary {
  font-size: 11px;
}
/************* arul ****************/
.highcharts-figure, .highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}
.rowR
{
    margin-right:0px !important;
    margin-left:0px !important;
}
.drupp_rides
{
    margin-bottom:20px;
}
.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
li span.new_visits {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #1889cb;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.unique_visits {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #abd037;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.stat_block.drupp_rides h6 {
    padding-bottom: 12px !important;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.stat_chart {
    width: auto;
    overflow: hidden;
    background: #fff;
    padding: 23px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: #ddd 1px solid;
  }
  li span.cancell {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #f4e0e9;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
li span.new_visits {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #1889cb;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
ol, ul {
    list-style: none;
}
.card-homepage {
    padding: 40px;
    margin-top: 10px;
}
.stat_chart .chart_label {
    text-align: left !important;
    width: 100%;
    padding-left: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px;
    padding-left: 0px;
}
.chart_label ul{
   padding-left: 0px !important;
  margin-left: 0px !important;
  }
.chart_label li {
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}
.stat_block tbody tr:nth-child(odd) td {
    background-color: #ffffff !important;
}
.stat_block table
{
  width:100%;

}
.stat_block table tr td {
    padding: 8px 10px;
    font-size: 12px;
    border-bottom: #ccc 1px solid;
    background: #fff;
}
.header__logo{
   height: 25px;
   max-width: 100%;
   margin-left:15%;
}
