<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <a class="btn btn-primary" routerLink="../news"> <i class="nav-icon i-Back1"></i> Back </a> <br>
        <div class="card-title text-center mb-3"><h5><b>ADD NEWS CATEGORY</b></h5></div><br>
        <form [formGroup]="addNewsCategoryFormGroup" (ngSubmit)="addNewsCategory()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="news-cat">News Category</label>
              <input type="text" class="form-control" id="news-cat" placeholder="Enter News Category" formControlName="category_name">
            </div>
            <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
