<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Messaging</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card text-left">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Messaging Service</h4>
      </div>
      <div class="card-body">
        <form (submit)="sendToAll()">
          <div class="row">
            <div class="col-md-12">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="sendObj.sendingWay.type" name="way">
                <div class="row justify-content-center">
                  <div class="col-md-6 text-center">
                    <mat-radio-button [value]="1" class="col-md-4">Send Message</mat-radio-button>
                  </div>
                  <div class="col-md-6 text-center">
                    <mat-radio-button [value]="2" class="col-md-4">Send Email</mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
            </div>
            <hr>
            <div class="col-md-12">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="sendObj.userType.type" name="messageWay">
                <div class="row justify-content-center">
                  <div class="col-md-6 text-center">
                    <mat-radio-button [value]="1" class="col-md-4">All Riders</mat-radio-button>
                  </div>
                  <div class="col-md-6 text-center">
                    <mat-radio-button [value]="2" class="col-md-4">All Drivers</mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
            </div>
            <div class="col-md-12" *ngIf="sendObj.sendingWay.type == 1">
              <div class="col-md-6 form-group mb-3">
                <label for="source">Message</label>
                <textarea class="form-control" id="source" placeholder="Enter Message"
                          [(ngModel)]="sendObj.sendingWay.message"
                          name="message" required type="text"></textarea>
              </div>
            </div>
            <div class="col-md-12 form-group mb-3" *ngIf="sendObj.sendingWay.type == 2">
              <div class="col-md-6 form-group mb-3">
                <label for="source">Type your email content</label>
                <textarea class="form-control" id="email" placeholder="Enter Email"
                          [(ngModel)]="sendObj.sendingWay.email_content"
                          name="message" required type="text"></textarea>
              </div>
            </div>
            <div class="col-md-12">
            <div class="col-md-1">
            <button type="submit" class="btn btn-sm btn-success">Send Now</button>
            </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

