<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Support</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-1">
    <div class="card text-left">
      <div class="card-header">
        <h4 class="text-center text-uppercase font-weight-300">Support</h4>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a aria-controls="driverBasic" aria-selected="true" class="nav-link active" data-toggle="tab"
               href="#driver-support"
               id="driver-support-tab" role="tab"> Driver Enquiry</a>
          </li>
          <li class="nav-item">
            <a aria-controls="riderBasic" aria-selected="false" class="nav-link" data-toggle="tab" href="#rider-support"
               id="rider-support-tab" role="tab">Rider Enquiry</a>
          </li>
          <li class="nav-item">
            <a (click)="getContactUsWeb()" aria-controls="webBasic" aria-selected="false" class="nav-link"
               data-toggle="tab" href="#web-support"
               id="web-support-tab" role="tab">Web Enquiry</a>
          </li>

        </ul>
        <!-- Driver -->
        <div class="tab-content" id="myTabContent">
          <div aria-labelledby="driver-support-tab" class="tab-pane fade show active" id="driver-support"
               role="tabpanel">
<!--            <div style=" position: relative; float: left; margin-right: 10px; margin-bottom: 10px">-->
<!--              <a class='btn btn-outline-dark btn-sm'-->
<!--                 href="https://api.qualwebs.com/drupp/api/admin/get-support-pdf">-->
<!--                <img alt="" class="p-1" src="./assets/images/icon/export.png" width="20">Export File</a>-->
<!--            </div>-->
            <div style=" position: relative; float: left; " *ngIf="DriverSupport[0]">
              <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item"
                   href="https://api.qualwebs.com/drupp/api/admin/get-support-pdf">Export PDF File</a>
                <a class="dropdown-item"
                   href="https://api.qualwebs.com/drupp/api/admin/excel/supports">Export Excel File</a>
              </div>
            </div>
            <div style=" position: relative; float: right; ">
              <input [(ngModel)]='nameSearch' autofocus placeholder="Search By Keyword" type="text">
            </div>
            <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px">
              <button class="btn btn-primary btn-sm" data-target="#myDateModel" data-toggle="modal" type="button">Filter
                By Date
              </button>
            </div>
            <table class="table table-active table-striped table-bordered">
              <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center"> Date</th>
                <th scope="col" class="text-center"> Name</th>
                <th scope="col" class="text-center"> Contact</th>
                <th scope="col" class="text-center"> Issue</th>
                <th scope="col" class="text-center"> Status</th>
                <th scope="col" class="text-center"> Edit</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let rides of DriverSupport |
                paginate: { itemsPerPage: 10, currentPage: currentPageDriver ,totalItems:DriverTotal , id:'driver'}
                | filter :nameSearch  let i =index">
                <td>{{rides.id}}</td>
                <td>{{rides.date | amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
                <td>{{rides.Rider_name}}</td>
                <td>{{rides.phone}}</td>
                <td>{{rides.issue}}</td>
                <td>{{rides.support_status | supportStatus}}</td>
                <td>
                  <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                    Change Status
                  </button>
                  <div class="dropdown-menu">
                    <a (click)='changeSupportStatus(rides.id,1)' class="dropdown-item">Under Review</a>
                    <a (click)='changeSupportStatus(rides.id,2)' class="dropdown-item">Treated</a>
                    <a (click)='changeSupportStatus(rides.id,3)' class="dropdown-item">Decline</a>
                    <a (click)='changeSupportStatus(rides.id,4)' class="dropdown-item">Resolved</a>
                  </div>
                </td>
                <td><a routerLink="../ride-details/{{rides.ride_id}}">View Details</a></td>
              </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)=pageChangedDriver($event) id='driver'></pagination-controls>

            <!-- Modal -->
            <div class="modal fade" id="myDateModel" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Filter Driver Enquiry by Date</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                  </div>
                  <div class="modal-body">

                    <form (ngSubmit)="getDataDriver()" [formGroup]="dateFilterFormDriver">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="start">Start Date</label>
                          <input class="form-control" formControlName="start" id="start" type='date'>
                        </div>
                        <div class="col-md-6">
                          <label for="end">End Date</label>
                          <input class="form-control" formControlName="end" id="end" type="date">
                        </div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button (click)='getData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                                style="margin-top: 10px; margin-left: 1px;"
                                type="button">Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <!--                <div class="modal-footer">-->
                <!--                  <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>-->
                <!--                </div>-->
              </div>
            </div>
          </div>

          <!--Rider-->
          <div aria-labelledby="rider-support-tab" class="tab-pane fade" id="rider-support" role="tabpanel">
            <div style=" position: relative;
              float: right; ">
              <input [(ngModel)]='riderSearch' placeholder="Search By Keyword " type="text">
            </div>
            <div style=" position: relative;
              float: right; margin-right: 10px;">
              <button class="btn btn-primary btn-sm" data-target="#myModel" data-toggle="modal" type="button">Filter By
                Date
              </button>
            </div>
            <div class="table-responsive">
            <table class="table table-bordered table-striped table-active">
              <thead class="thead-light">
              <tr>
                <th scope="col"> #</th>
                <th scope="col"> Name</th>
                <th scope="col"> Contact</th>
                <th scope="col"> Date</th>
                <th scope="col"> Issue</th>
                <th scope="col"> Status</th>
                <th scope="col">Action</th>
                <th scope="col"></th>
                <!-- <th scope="col">-->
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let rides of UserSupport |
                paginate: { itemsPerPage: 10, currentPage: currentPageUser ,totalItems: UserTotal,id:'user'}  |
                 filterRider :riderSearch let i =index">
                <td>{{rides.id}}</td>
                <td>{{rides.Rider_name}}</td>
                <td>{{rides.phone}}</td>
                <td>{{rides.date | amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
                <td>{{rides.issue}}</td>
                <td>{{rides.support_status | supportStatus}}</td>
                <td>
                  <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                    Change Status
                  </button>
                  <div class="dropdown-menu">
                    <a (click)='changeSupportStatus(rides.id,1)' class="dropdown-item">Under Review</a>
                    <a (click)='changeSupportStatus(rides.id,2)' class="dropdown-item">Treated</a>
                    <a (click)='changeSupportStatus(rides.id,3)' class="dropdown-item">Decline</a>
                    <a (click)='changeSupportStatus(rides.id,4)' class="dropdown-item">Resolved</a>
                  </div>
                </td>
                <td><a routerLink="../ride-details/{{rides.ride_id}}">View Details</a></td>
              </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)=pageChangedUser($event) id="user"></pagination-controls>
          </div>
            <!-- Modal -->
            <div class="modal fade" id="myModel" role="dialog">

              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Filter Rider Enquiry by Date</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                  </div>
                  <div class="modal-body">

                    <form (ngSubmit)="getData()" [formGroup]="dateFilterForm">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="start">Start Date</label>
                          <input class="form-control" formControlName="start" id="start1" type='date'>
                        </div>
                        <div class="col-md-6">
                          <label for="end">End Date</label>
                          <input class="form-control" formControlName="end" id="end1" type="date">
                        </div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button (click)='getData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                                style="margin-top: 10px; margin-left: 1px;"
                                type="button">Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <!--                <div class="modal-footer">-->
                <!--                  <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>-->
                <!--                </div>-->
              </div>
            </div>
          </div>


          <!---------------------------------Web----------------------------------->

          <div aria-labelledby="rider-support-tab" class="tab-pane fade" id="web-support" role="tabpanel">
            <div style=" position: relative;
              float: right; ">
              <input [(ngModel)]='webSearch' placeholder="Search By Keyword " type="text">
            </div>
            <div style=" position: relative; float: right; margin-right: 10px;">
              <button class="btn btn-primary btn-sm" data-target="#myModel" data-toggle="modal" type="button">Filter By
                Date
              </button>
            </div>
            <table class="table">
              <thead>
              <tr>
                <th scope="col"> ID</th>
                <th scope="col"> Email</th>
                <th scope="col"> Message</th>
                <th scope="col"> Created_at</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let query of WebSupport |
                 paginate: { itemsPerPage: 10, currentPage: currentPageWeb, totalItems: webTotal, id:'web'}  |
                 filterRider :webSearch let i =index">
                <td>{{query.id}}</td>
                <td>{{query.email}}</td>
                <td>{{query.message}}</td>
                <td>{{query.created_at | date : 'MMM d, y, h:mm:ss a'}}</td>
              </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)=pageChangedUser($event) id="web"></pagination-controls>
            <!-- Modal -->
            <div class="modal fade" id="mywebModel" role="dialog">

              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Filter Rider Enquiry by Date</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                  </div>
                  <div class="modal-body">

                    <form (ngSubmit)="getData()" [formGroup]="dateFilterForm">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="start">Start Date</label>
                          <input class="form-control" formControlName="start" id="start2" type='date'>
                        </div>
                        <div class="col-md-6">
                          <label for="end">End Date</label>
                          <input class="form-control" formControlName="end" id="end2" type="date">
                        </div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button (click)='getData()' class="btn btn-primary btn-sm " data-dismiss="modal"
                                style="margin-top: 10px; margin-left: 1px;"
                                type="button">Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

