<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="../../drivers">Drivers</a></li>
            <li class="breadcrumb-item active text-capitalize">{{driverDetails.first_name}} {{driverDetails.last_name}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
    <div class="card text-left mt-1">
      <div class="card-body">

        <div class="row">
          <div class="row" *ngIf="driverDetails" style="cursor: pointer">
            <a
                    class="btn btn-link ml-3"
                    data-toggle="modal"
                    data-backdrop="false"
                    (click)="onCurrentDriverDocumentClick(driverDetails.profile_picture)"
                    data-target="#avatar"
            >
              <img class="rounded-circle" [src]="assetUrl + '/' + driverDetails.profile_picture"
                   width="60" height="60" alt="avatar">
            </a>
          </div>
        </div>

        <div class="media mb-2">
          <div class="media-body mt-50">
            <button class="btn btn-success">Total Earnings: {{0 | currency:" "}}</button>
          </div>
          <div class="media-body mt-50">
            <button class="btn btn-info"> Total Payouts: {{0 | currency:" "}}</button>
          </div>
          <div class="media-body mt-50">
            <button class="btn btn-dark text-white">Unpaid: {{0 | currency:" "}}</button>
          </div>

          <div class="media-body mt-50">
            <button class="btn red text-white">A/C Balance: {{driverDetails.wallet_balance | currency:" "}}</button>
          </div>

          <div class="media-body mt-50">
            <button class="btn btn-warning">{{driverDetails.average_rating | number}} Ratings </button>
          </div>
          <div class="demo-inline-spacing">
            <a class="btn btn-link text-decoration-none bg-success text-white p-1 m-2 " data-title="Chat with {{driverDetails.first_name }}"  routerLink="../../../dashboard/chat/{{driverDetails.id}}">
              <i class="far fa-comment"></i> Chat
            </a>
            <button
                    type="button"
                    class="btn btn-primary p-2 m-2">
              <i class="fas fa-unlock"></i> Activate
            </button>
            <button
                    type="button"
                    class="btn btn-danger p-2 m-2">
              <i class="fas fa-user-lock"></i> Block
            </button>

          </div>
        </div>
        <!-- users edit media object ends -->


        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input
                      type="text"
                      class="form-control"
                      placeholder="first name"
                      value="{{driverDetails.first_name}}"
                      name="first_name"
                      id="firstName"
                      disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input
                      type="text"
                      class="form-control"
                      placeholder="first name"
                      value="{{driverDetails.last_name}}"
                      name="lastName"
                      id="lastName"
                      disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="lastName">Email Address</label>
                <input
                      type="text"
                      class="form-control"
                      placeholder="first name"
                      value="{{driverDetails.email}}"
                      name="email"
                      id="email"
                      disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="lastName">Phone Number</label>
                <input
                      type="text"
                      class="form-control"
                      placeholder="Phone Number"
                      value="+{{driverDetails.country_code}}-{{driverDetails.phone}}"
                      name="phone"
                      id="phone"
                      disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="lastName">Address</label>
                <input
                      type="text"
                      class="form-control"
                      placeholder="City"
                      value="{{driverDetails.address}}"
                      name="address"
                      id="address"
                      disabled
                />
              </div>
            </div>

            <div class="col-md-4">
            <div class="form-group">
              <label for="lastName">Created On</label>
              <input
                    type="text"
                    class="form-control"
                    placeholder="City"
                    value="{{driverDetails.created_at | date : 'MMM d, y, h:mm:ss a'}}"
                    name="created_at"
                    id="created_at"
                    disabled
              />
            </div>
          </div><div class="col-md-4">
            <div class="form-group">
              <label for="lastName">Last Update</label>
              <input
                    type="text"
                    class="form-control"
                    placeholder="City"
                    value="{{driverDetails.updated_at | date : 'MMM d, y, h:mm:ss a'}}"
                    name="updated_at"
                    id="updated_at"
                    disabled
              />
            </div>
          </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="lastName">Rating</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="rating"
                    value="{{driverDetails.average_rating}}"
                    name="rating"
                    id="rating"
                    disabled
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="lastName">Status</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="status"
                    value="{{driverDetails.status | trueOrFalse}}"
                    name="status"
                    id="status"
                    disabled
                />
              </div>
            </div>

          </div>
        </form>
        <br>
        <!--Driver Vehicle Details and Edit Details-->
        <div class="">
          <div class="table-responsive">
            <table class="table table-active table-bordered table-striped">
              <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Model</th>
                <th scope="col" class="text-center">Number</th>
                <th scope="col" class="text-center">Color</th>
                <th scope="col" class="text-center">Chassis No</th>
                <th scope="col" class="text-center">Brand</th>
                <th scope="col" class="text-center">View</th>
                <th scope="col" class="text-center">Edit</th>
                <th scope="col" class="text-center">Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let vehicle of vehicleDetails |
                paginate: { itemsPerPage: 10, currentPage: vehCurrentPage, totalItems:totalItems, id:'details'} let i =index">
                <td>{{i+1}}</td>
                <td>
                  <span class="text-uppercase">{{vehicle["vehicle_name"] || 'N/A'}}</span>
                </td>
                <td>
                  <span class="text-uppercase"> {{vehicle["vehicle_model"] || 'N/A'}}</span>
                </td>
                <td>
                  <span class="text-uppercase">{{vehicle["vehicle_number"] || 'N/A'}}</span>
                </td>
                <td>
                  <span>{{vehicle["vehicle_color"] || 'N/A'}}</span>
                </td>
                <td class="text-right">
                  <span>{{vehicle["chassis_number"] || 'N/A'}}</span>
                </td>
                <td>
                  <span class="text-uppercase">{{vehicle["vehicle_brand"] || 'N/A'}}</span>
                </td>
                <td class="text-center">
                  <a class="btn btn-success" routerLink="../../more-details-vehicle/{{vehicle.id}}">
                    <i class="fas fa-eye"></i>
                  </a>
                </td>
                <td class="text-center">
                  <a class="btn btn-info" routerLink="../../edit-vehicle-details/{{vehicle.id}}">
                    <i class="fas fa-user-edit"></i>
                  </a>
                </td>
                <td class="text-center">
                  <a (click)="delete(vehicle.id)" class="btn red text-white" type="button">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              <div class="text-center">
                <p *ngIf="(vehicleDetails).length===0" class="font-weight-bolder text-center p-1">No results found</p>
              </div>

              </tbody>
            </table>
            <pagination-controls (pageChange)="pageChangedVehicle($event)" id="details"></pagination-controls>
          </div>
          <div *ngIf="loading" class="d-flex justify-content-center my-1">
            <div class="spinner-border" role="status" aria-hidden="true"></div>
          </div>
        </div>
        <!--Rides Detail-->
        <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
          <li class="nav-item">
            <a aria-controls="transactionBasic" aria-selected="false" class="nav-link active" data-toggle="tab"
               href="#transaction"
               id="transaction-tab" role="tab">Transactions</a>
          </li>
          <li class="nav-item">
            <a aria-controls="profileBasic" aria-selected="false" class="nav-link" data-toggle="tab" href="#posted"
               id="profile-basic-tab" role="tab">Posted Rides</a>
          </li>
          <li class="nav-item">
            <a aria-controls="homeBasic" aria-selected="true" class="nav-link" data-toggle="tab" href="#accepted"
               id="home-basic-tab" role="tab">Accepted Rides</a>
          </li>
        </ul>
        <!-- Accepted Tab-->
        <div class="tab-content" id="myTabContent">
          <div aria-labelledby="home-basic-tab" class="tab-pane fade" id="accepted" role="tabpanel">

            <div style=" position: relative; float: left; " *ngIf="acceptedRide.data[0]">
              <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item"
                   href="https://api.qualwebs.com/drupp/api/admin/download/driver/accepted-rides/{{id}}">Export PDF File</a>
                <a class="dropdown-item">Export Excel File</a>
              </div>
            </div>

            <div style=" position: relative; float: right; margin-bottom: 10px; ">
              <input [(ngModel)]='nameSearch' autofocus placeholder="Search By Keyword" type="text">
            </div>
            <div style=" position: relative;
                        float: right; margin-right: 10px ">
              <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                Filter By
              </button>
              <div class="dropdown-menu">
                <a (click)='getFilterAccepted("")' href="javascript:void(0)" class="dropdown-item">All</a>
                <!--                <a (click)='getFilterAccepted(1)' href="javascript:void(0)"class="dropdown-item">Posted</a>-->
                <a (click)='getFilterAccepted(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                <a (click)='getFilterAccepted(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                <a (click)='getFilterAccepted(4)' href="javascript:void(0)" class="dropdown-item">Finished</a>
                <a (click)='getFilterAccepted(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                <a (click)='getFilterAccepted(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
              </div>
            </div>
            <div style=" position: relative; float: right; margin-bottom: 10px; ">
              <button class="btn btn-primary btn-sm mr-2" data-target="#myDateModelAccepted" data-toggle="modal"
                      type="button">
                Filter By Date
              </button>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-bordered table-active">
                <thead class="thead-light">
                <tr>
                  <th scope="col"> Date</th>
                  <th scope="col"> Rider</th>
                  <th scope="col"> Source</th>
                  <th scope="col"> Destination</th>
                  <th scope="col"> Status</th>
                  <th scope="col">Type of Ride</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Review</th>
                  <th scope="col">Fare</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ride of acceptedRide.data |
               paginate: { itemsPerPage: 10, currentPage: AcceptedCurrentPage ,totalItems: acceptedRide.total ,id:'accepted-page'} |
               acceptedFilter :nameSearch let i =index">
                  <td>{{ride.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
                  <td>{{ride.name}}</td>
                  <td data-title="'{{ride.source}}'">
                    {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}
                  </td>
                  <td data-title="'{{ride.destination}}'">
                    {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}
                  </td>
                  <td>{{ride.status| rideStatus}} <br>{{ride.cancel_reason}}</td>
                  <td> {{ride.ride_type| rideType}}</td>
                  <td *ngIf='ride.rate_review'><p>{{ride.rate_review.rate}}</p></td>
                  <td *ngIf='!ride.rate_review'><p>NA</p></td>
                  <td *ngIf='ride.rate_review'><p>{{ride.rate_review.review}}</p></td>
                  <td *ngIf='!ride.rate_review'><p>NA</p></td>
                  <td>&#8358;  {{ride.total_fare}}</td>
                  <td><a routerLink="../../ride-details/{{ride.id}}">View Details</a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)=pageChangedAccepted($event) id="accepted-page"></pagination-controls>
          </div>
          <!-- Posted Tab-->
          <div aria-labelledby="profile-basic-tab" class="tab-pane fade" id="posted" role="tabpanel">
            <div style=" position: relative; float: left; " *ngIf="postedRide.data[0]">
              <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" type="button">
                <img alt="" class="p-1" src="./assets/images/icon/export.png" width="18"/> Export As
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item"
                   href="https://api.qualwebs.com/drupp/api/admin/download/driver/posted-rides/{{id}}">Export PDF File</a>
                <a class="dropdown-item">Export Excel File</a>
              </div>
            </div>
            <div style=" position: relative; float: right; margin-bottom: 10px; ">
              <input [(ngModel)]='rideSearch' autofocus placeholder="Search By Keyword" type="text">
            </div>
            <div style=" position: relative;
                        float: right; margin-right: 10px ">
              <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                Filter By
              </button>
              <div class="dropdown-menu">
                <a (click)='getFilterPosted("")' href="javascript:void(0)" class="dropdown-item">All</a>
                <a (click)='getFilterPosted(1)' href="javascript:void(0)" class="dropdown-item">Posted</a>
                <a (click)='getFilterPosted(2)' href="javascript:void(0)" class="dropdown-item">Accepted</a>
                <a (click)='getFilterPosted(3)' href="javascript:void(0)" class="dropdown-item">Started</a>
                <a (click)='getFilterPosted(4)' href="javascript:void(0)" class="dropdown-item">Finished</a>
                <a (click)='getFilterPosted(5)' href="javascript:void(0)" class="dropdown-item">Cancelled</a>
                <a (click)='getFilterPosted(6)' href="javascript:void(0)" class="dropdown-item">Paid</a>
              </div>
            </div>
            <div style=" position: relative; float: right; margin-bottom: 10px; ">
              <button class="btn btn-primary btn-sm mr-2" data-target="#myDateModelPosted" data-toggle="modal"
                      type="button">
                Filter By Date
              </button>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-active">
                <thead class="thead-light">
                <tr>
                  <th scope="col"> Date</th>
                  <th scope="col"> Rider</th>
                  <th scope="col"> Source</th>
                  <th scope="col"> Destination</th>
                  <th scope="col"> Status</th>
                  <th scope="col">Type of Ride</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Comment</th>
                  <th scope="col">Fare</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ride of postedRide.data |
               paginate: { itemsPerPage: 10, currentPage: PostedCurrentPage ,totalItems: postedRide.total ,id:'posted-page'}  |
                postedFilter :rideSearch let i =index">
                  <td>{{ride.name}}</td>
                  <td data-title="'{{ride.source}}'">
                    {{(ride.source.length > 15) ? (ride.source | slice:0:20) + '...' : (ride.source)}}
                  </td>
                  <td data-title="'{{ride.destination}}'">
                    {{(ride.destination.length > 15) ? (ride.destination | slice:0:20) + '...' : (ride.destination)}}
                  </td>
                  <td>{{ride.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>
                  <td data-title="{{ride.cancel_reason}}" *ngIf="ride.status == 1 && ride.request_status == 2">Accepted
                  </td>
                  <td data-title="{{ride.cancel_reason}}"
                      *ngIf="ride.status == 1 && (ride.request_status == 1 || ride.request_status == 3 || ride.request_status == null)">
                    Posted
                  </td>
                  <td data-title="{{ride.cancel_reason}}" *ngIf="ride.status == 2">Accepted</td>
                  <td data-title="{{ride.cancel_reason}}" *ngIf="ride.status == 3">Started</td>
                  <td data-title="{{ride.cancel_reason}}" *ngIf="ride.status == 4">Completed</td>
                  <td data-title="{{ride.cancel_reason}}" *ngIf="ride.status == 5">Cancelled</td>
                  <td data-title="{{ride.cancel_reason}}" *ngIf="ride.status == 6">Paid</td>


                  <td> {{ride.ride_type| rideType}}</td>
                  <td><p *ngIf='ride.rate_review != null'>{{ride.rate_review.rate}}</p></td>
                  <td><p *ngIf='ride.rate_review != null'>{{ride.rate_review.review}}</p></td>
                  <td>&#8358;  {{ride.total_fare}}</td>
                  <td><a routerLink="../../driver-ride-details/{{ride.id}}">View Details</a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)=pageChangedPosted($event) id="posted-page"></pagination-controls>
          </div>

          <!-- Transaction Tab-->

          <div aria-labelledby="transaction-tab" class="tab-pane fade show active" id="transaction" role="tabpanel">
            <div style=" position: relative; float: right; margin-bottom: 10px; ">
              <input [(ngModel)]='transactionSearch' autofocus placeholder="Search By Keyword" type="text">
            </div>
            <div style=" position: relative;
                   float: right; margin-right: 10px;">

              <button class="btn btn-primary btn-sm" data-target="#myDateModelTransaction" data-toggle="modal"
                      type="button">Filter By Date
              </button>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead class="thead-light">
                <tr>
                  <th scope="col"class="text-center"> Date</th>
                  <th scope="col"class="text-center"> TxnID</th>
                  <th scope="col"class="text-center"> Source</th>
                  <th scope="col"class="text-center"> Destination</th>
                  <th scope="col"class="text-center"> Fare</th>
                  <th scope="col"class="text-center"> Deduction</th>
                  <th scope="col"class="text-center"> Net Earnings</th>
                  <th scope="col"class="text-center"> Status</th>
                  <th scope="col"class="text-center"> Bonus</th>
                </tr>
                </thead>
                <tbody>
                <!--              <tr-->
                <!--                *ngFor="let details of transaction | paginate: { itemsPerPage: 10, currentPage: TransactionCurrentPage ,totalItems:totalTransactions ,id:'transaction-ride'} | transactionFilter : transactionSearch ">-->
                <!--                <td-->
                <!--                  data-title="'{{details.source}}'">{{(details.source.length > 15) ? (details.source | slice:0:20) + '...' : (details.source)}}</td>-->
                <!--                <td-->
                <!--                  data-title="'{{details.destination}}'">{{(details.destination.length > 15) ? (details.destination | slice:0:20) + '...' : (details.destination)}}</td>-->
                <!--                <td>{{details.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>-->
                <!--                <td>{{details.status| rideStatus}} <br>{{details.cancel_reason}}</td>-->
                <!--                <td>{{details.total_earning}}</td>-->
                <!--                <td>{{details.deduction}}</td>-->
                <!--                <td><a routerLink="../../driver-ride-details/{{details.id}}">View Details</a></td>-->
                <!--              </tr>-->
                </tbody>
              </table>
            </div>
            <!--            <pagination-controls (pageChange)=pageChangedPosted($event) id="transaction-ride"></pagination-controls>-->
          </div>
        </div>
        <br><br>

        <!-- Date Filter Modal -->
        <!--<div class="modal fade" id="myDateModelTransaction" role="dialog">
          <div class="modal-dialog">
            &lt;!&ndash; Modal content&ndash;&gt;
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Filter Data</h4>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="getDataTransaction()" [formGroup]="dateFilterFormTransaction">
                  <label for="start">Start Date</label>
                  <input class="form-control" formControlName="start" id="start" type='date'>
                  <label for="end">End Date</label>
                  <input class="form-control" formControlName="end" id="end" type="date">
                  <button (click)='getDataTransaction()' class="btn btn-primary btn-sm " data-dismiss="modal"
                          style="margin-top: 10px; margin-left: 1px;" type="button">Submit
                  </button>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myDateModelAccepted" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Rides by Date</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate (ngSubmit)="getFilterDataAccepted()" [formGroup]="dateFilterFormAccepted">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="startAccepted">Start Date</label>
              <input class="form-control" formControlName="start" id="startAccepted" type='date' required>
            </div>
            <div class="col-md-6 form-group">
              <label for="endAccepted">End Date</label>
              <input class="form-control" formControlName="end" id="endAccepted" type="date" required>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myDateModelPosted" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filter Rides by Date</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate (ngSubmit)="getFilterDataPosted()" [formGroup]="dateFilterFormPosted">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="startAcceptedPost">Start Date</label>
              <input class="form-control" formControlName="start" id="startAcceptedPost" type='date' required>
            </div>
            <div class="col-md-6 form-group">
              <label for="endAcceptedPost">End Date</label>
              <input class="form-control" formControlName="end" id="endAcceptedPost" type="date" required>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--View user profile -->
<div class="disabled-backdrop-ex">
  <!-- Modal -->
  <div
          class="modal fade text-left"
          id="avatar"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel2"
          aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-capitalize" id="myModalLabel2">{{driverDetails['first_name']}} {{driverDetails['last_name']}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="rounded" [src]="assetUrl + '/' + avatar_url"
               width="" height="" alt="avatar">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END user profile view-->
