<style>
  table{
    font-size: 14px;
    cursor: pointer;
  }
</style>
<div class="role" *appAccessControl="['Drivers','page']">
  <div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Drivers</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="card">
          <div class="card-header">
            <h4 class="text-center text-uppercase font-weight-300">Drivers</h4>
          </div>
          <div class="card-body">
            <div class="card-title mb-0">
        <span class=" pl-1 pr-1 text-center" style="border: 0; border-radius: 1px; position: relative; float: left;">Total:
          {{ totalitems}}
        </span>
              <div style=" position: relative; float: right; ">
                <button class="btn btn-sm btn-outline-info " (click)="resetFilter()">Reset Filter</button>
              </div>
              <div style=" position: relative; float: right; ">
                <input (change)="getUsers(2)" class="mr-2 " [(ngModel)]='nameSearchDriver' placeholder="Search By Keyword" type="text">
              </div>
              <div style=" position: relative; float: right; margin-right: 10px;">
                <button class="btn btn-primary btn-sm " data-target="#myModelLocation" data-toggle="modal"
                        type="button">Filter By Location
                </button>
              </div>
              <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">
                <button class="btn btn-primary btn-sm " data-target="#myDateModel" data-toggle="modal" type="button">Filter
                  By Date
                </button>
              </div>
              <div style=" position: relative; float: right; margin-right: 10px;">
                <button class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" type="button">
                  Filter By
                </button>
                <div class="dropdown-menu">
                  <a (click)='getDriverType("")' href="javascript:void(0)" class="dropdown-item">All Drivers</a>
                  <a (click)='getDriverType(1)' href="javascript:void(0)" class="dropdown-item">Car Drivers</a>
                  <a (click)='getDriverType(2)' href="javascript:void(0)" class="dropdown-item">Bus Drivers</a>
                  <a (click)='getDriverType(3)' href="javascript:void(0)" class="dropdown-item">Keke Drivers</a>
                </div>
              </div>
              <div style=" position: relative; float: right; margin-right: 10px;">
                <button class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" type="button">
                  Available
                </button>
                <div class="dropdown-menu">
                  <a (click)='getAvailableUsers("")' href="javascript:void(0)" class="dropdown-item">All Drivers</a>
                  <a (click)='getAvailableUsers(1)' href="javascript:void(0)" class="dropdown-item">Offline</a>
                  <a (click)='getAvailableUsers(2)' href="javascript:void(0)" class="dropdown-item">Online</a>
                </div>
              </div>
              <div style=" position: relative; float: right; " *ngIf="users[0]">
                <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle " data-toggle="dropdown" type="button">
                  <img alt="" class="p-1" src="../../../assets/images/icon/export.png" width="18"/> Export As
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/download-drivers-details">Export PDF File</a>
                  <a class="dropdown-item"
                     href="https://api.qualwebs.com/drupp/api/admin/excel/drivers">Export Excel File</a>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-striped table-active table-bordered" *ngIf="users">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-center"> #</th>
                    <th scope="col" class="text-center"> Name</th>
                    <th scope="col" class="text-center">Avatar</th>
                    <th scope="col" class="text-center">Phone</th>
                    <th scope="col" class="text-center">Email</th>
                    <th scope="col" class="text-center">Earnings</th>
                    <th scope="col" class="text-center">Driver Type</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Notes</th>
                    <th scope="col" class="text-center">View</th>
                    <th scope="col" class="text-center">Edit</th>
                    <th scope="col" class="text-center">Block</th>
                    <th scope="col" class="text-center">Approvals</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                          *ngFor=" let user of users | paginate: { itemsPerPage: 10, currentPage: driverCurrentPage, totalItems:totalitems, id:'details'} let i = index">
                    <td>{{user.id}}</td>
                    <td *ngIf="user.driver_availability_status == 0" style="color: indianred">
                      <a class="btn-link text-capitalize text-info text-decoration-none"[routerLink]="['../driver-details/',user.id]">{{user.name}}</a>
                    </td>
                    <td *ngIf="user.driver_availability_status == 1" style="color: darkolivegreen">
                      <a class="btn-link text-capitalize "[routerLink]="['../driver-details/',user.id]">{{user.name}}</a>
                    </td>
                    <td
                            *ngIf="user.profile_picture"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="click to view driver profile photo"
                            class="text-nowrap pointer-event">
                      <a
                              class="btn"
                              data-toggle="modal"
                              data-backdrop="false"
                              (click)="onCurrentDriverOwnerDocument(user.profile_picture,user)"
                              data-target="#avatar"
                      >
                        <img class="rounded-circle" [src]="assetUrl + '/' + user.profile_picture"
                             width="40" height="40" alt="avatar">
                      </a>
                    </td>

                    <td *ngIf="!user.profile_picture"><img class="design" alt="No avatar"
                                                           src="../../../assets/images/icon/noPhotoFound.png" width="50"
                                                           height="40">
                    </td>
                    <td>+{{user.country_code}}-{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td>N/A</td>
                    <td *ngIf="user.driver_type == 1">Car Driver</td>
                    <td *ngIf="user.driver_type == 2">Bus Driver</td>
                    <td *ngIf="user.driver_type == 3">Keke Driver</td>
                    <td *ngIf="!user.driver_type">NA</td>
                    <td *ngIf="user.driver_availability_status == 0"><span class="badge badge-danger p-1">Offline</span></td>
                    <td *ngIf="user.driver_availability_status == 1"><span class="badge badge-success p-1">Online</span></td>
                    <td class="text-center">
                      <a class="btn btn-info" routerLink="../document-view/{{user.id}}">
                        <i class="fas fa-file-word"></i>
                      </a>
                    </td>
                    <td class="text-white text-center">
                      <a class="btn btn-success" routerLink="../driver-details/{{user.id}}">
                        <i class="fas fa-eye"></i>
                      </a>
                    </td>
                    <td class="text-white text-center">
                      <a class="btn btn-warning" routerLink="../edit-driver/{{user.id}}">
                        <i class="fas fa-user-edit"></i>
                      </a>
                    </td>
                    <!-- <td> <a routerLink="../user-details/{{user.id}}"> View Details </a> </td>-->
                    <td class="text-white text-center">
                      <a *ngIf="user.status == 1" (click)='getValue(user.id)' class="btn red"
                         type="button">
                        <i class="fas fa-ban"></i>
                      </a>
                      <a *ngIf="user.status == 0" (click)='unBlock(user.id)' class="btn btn-success">
                        <i class="fas fa-unlock"></i>
                      </a>
                    </td>
                    <td class="text-white">
                      <button *ngIf="user.admin_approved == 0" class="btn btn-success" type="button" (click)="approveDrive(user.id)">Approve</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls *ngIf="users[0]" (pageChange)=pageChangedDriver($event)
                                     id="details">

                </pagination-controls>
              </div>
              <div *ngIf="calling" class="d-flex justify-content-center my-1">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
              </div>
              <div *ngIf="!users[0] && calling == false" class="col-md-12 text-center">
                <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">
                <h3 class="not-found">Not Found</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal BLOCK DRIVER-->
      <div class="modal fade" id="blockDriverModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl"role="document">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title font-weight-300 text-uppercase text-center">Block Driver</h4>
              <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
              <form ngNativeValidate [formGroup]="blockDriverForm" (ngSubmit)="blockDriver()">
                <div class="form-group col-md-12">
                  <label for="user">Select Date Till You Want Block User</label>
                  <input class="form-control" formControlName="activation_date" id="user" type="datetime-local" required>
                </div>
                <button class="btn red text-white " style="margin-top: 10px; margin-left: 1px;">Block
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Trigger the modal with a button -->

      <!--Date Modal -->
      <div class="modal fade" id="myDateModel" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Filter Driver</h4>
              <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="getData()" [formGroup]="dateFilterForm" ngNativeValidate>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="start">Start Date</label>
                    <input class="form-control" formControlName="start" id="start" required type='date'>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="end">End Date</label>
                    <input class="form-control" formControlName="end" id="end" required type="date">
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
                  </button>
                </div>
              </form>
            </div>
            <!--      </div>-->
            <!--      <div class="modal-footer">-->
            <!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--      </div>-->
          </div>
        </div>
      </div>
      <!--Location Modal -->
      <div class="modal fade" id="myModelLocation" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Filter By Location</h4>
              <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
              <form ngNativeValidate (ngSubmit)="getLocationData()" [formGroup]="locationFilterForm">
                <label for="location">Enter Your Location</label>
                <input class="form-control" formControlName="location" id="location" placeholder="Enter the Location"
                       type='text' required>
                <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--View user profile -->
      <div class="disabled-backdrop-ex">
        <!-- Modal -->
        <div
                class="modal fade text-left"
                id="avatar"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel2"
                aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-capitalize" id="myModalLabel2">{{driverDetail['name']}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img class="rounded" [src]="assetUrl + '/' + avatar_url"
                     width="" height="" alt="avatar">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END user profile view-->
    </div>
  </div>
</div>
