<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Reported Issues</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div *ngIf="loading" class="d-flex justify-content-center my-1">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
  <div class="card-header">
    <h4 class="text-center text-uppercase font-weight-300">Logs</h4>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-3 text-center bd-highlight mb-2 p-2">
        <div class="form-group row ">
          <label class="font-weight-bolder col-sm-4 col-form-label col-form-label-sm">Show:</label>
          <select (change)="onTableSizeChange($event)" class="custom-select pages mr-sm-2">
            <option *ngFor="let size of tableSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
          <label class="">Entries</label>
        </div>
      </div>

      <div class="col-md-3 text-right bd-highlight mb-2 p-2">
        <div class="form-group row">
          <label class="font-weight-bolder col-sm-2 col-form-label col-form-label-sm" for="filter">Filter</label>
          <select class="custom-select w-2 mr-sm-2 filter" id="filter" [(ngModel)]="searchTerm">
            <option value="{{undefined}}">All</option>
            <option value="Under-Review">Under-Review</option>
            <option value="Pending">Pending</option>
            <option value="Resolved">Resolved</option>
          </select>
        </div>
      </div>

      <div class="col-md-3 text-center bd-highlight mb-2 p-2">
        <div class="form-group row">
          <label class="font-weight-bolder col-sm-3 col-form-label col-form-label-sm " for="filter">Search:</label>
          <input type="search" class="search form-control w-2 mr-sm-2 box-shadow" placeholder="start typing..." [(ngModel)]="searchTerm">
        </div>
      </div>

      <div class="col-md-3 text-center bd-highlight mb-2 p-2">
        <button type="button" class="btn red text-white" data-toggle="modal" data-target="#reportUserIssue"><i class="fas fa-sun"></i> Report Issue</button>
      </div>

    </div>

    <div class="table-responsive">
      <table class="table table-striped table-active table-bordered">
        <thead class="thead-light">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Reported On</th>
          <th class="text-center">Reported By</th>
          <th class="text-center">Title</th>
          <th class="text-center">Category</th>
          <th class="text-center">Issue</th>
          <th class="text-center">Comments</th>
          <th class="text-center">Status</th>
          <th class="text-center">Assignee</th>
          <th class="text-center">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let issue of issues | paginate :{
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                  };let i=index">
          <td>{{i+1}}</td>
          <td>{{issue["created_at"]}}</td>
          <td>{{issue['username'] || 'N/A'}}</td>
          <td>{{issue['title'] || 'N/A'}}</td>
          <td>{{issue['category'] || 'N/A'}}</td>
          <td>{{issue['issue'] || 'N/A'}}</td>
          <td>{{issue['comments'] || 'admin yet to comment'}}</td>
          <td class="text-center">
            <span *ngIf="issue['status']=='Pending' || issue['status']=='pending'" class="badge badge-info">{{issue['status'] || 'N/A'}}</span>
            <span *ngIf="issue['status']=='Under-Review'" class="badge badge-danger">{{issue['status'] || 'N/A'}}</span>
            <span *ngIf="issue['status']=='Resolved'" class="badge badge-success">{{issue['status'] || 'N/A'}}</span>
          </td>
          <td>{{issue['assignee'] || 'Not assigned'}}</td>
          <td class="text-center">
            <a class="btn btn-success text-white" (click)="getIssueId(issue.id)" data-toggle="modal" data-target="#updatedReportedUserIssue"><i class="fas fa-edit"></i></a>
          </td>
        </tr>
        <div class="text-center">
          <p *ngIf="issues.length==0" class="font-weight-bolder text-center p-1">No issues found</p>
        </div>

        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-left mt-3 font-weight-bolder">
      <pagination-controls
              responsive="true"
              previousLabel="Prev"
              nextLabel="Next"
              maxSize="9"
              directionLinks="true"
              autoHide="true"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page"
              (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
    <div *ngIf="loading" class="d-flex justify-content-center my-1">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
    </div>
  </div>
</div>

<!-- BEGIN modal to report an issue by admin-->

<div class="modal fade" id="reportUserIssue" tabindex="-1" role="dialog" aria-labelledby="reportUserIssueTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportUserIssueTitle">Customer Issues Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="issuesForm" (ngSubmit)="reportIssue()">
          <div class="form-group">
            <label for="username">Username<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="enter user's name here..." required>
          </div>

          <div class="form-group">
            <label for="title">Title<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="title" formControlName="title" placeholder="enter issue title here..." required>
          </div>

          <div class="form-group">
            <label for="category">Category<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="category" formControlName="category" placeholder="enter issue category..." required>
          </div>

          <div class="form-group">
            <label for="issue">Description<span class="text-danger">*</span></label>
            <textarea class="form-control" id="issue" cols="7" required formControlName="issue"></textarea>
          </div>
          <div class="form-group">
            <button [disabled]="issuesForm.invalid" *ngIf="!submitting" class="btn red text-white" id="button" type="submit">Report</button>
            <button *ngIf="submitting" class="btn btn-info" type="submit">Reporting...</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END modal to report an issue by admin-->

<!-- BEGIN updating reported issue-->

<div class="modal fade" id="updatedReportedUserIssue" tabindex="-1" role="dialog" aria-labelledby="updateReportedUserIssueTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateReportedUserIssueTitle">Customer Issues Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="issuesForm" (ngSubmit)="updateReportedIssue()">
          <div class="form-group">
            <label for="assignee">Assignee Name</label>
            <input type="text" class="form-control" id="assignee" formControlName="assignee" placeholder="enter reviewer name here...">
          </div>

          <div class="form-group">
            <label for="status">Update Status</label>
            <select formControlName="status" id="status" class="form-control">
              <option value="Pending">Pending</option>
              <option value="Under-Review">Under Review</option>
              <option value="Resolved">Resolved</option>

            </select>
          </div>

          <div class="form-group">
            <label for="issue">Comments</label>
            <textarea class="form-control" cols="7" formControlName="comments"></textarea>
          </div>
          <div class="form-group">
            <button class="btn red text-white" type="submit">Update Report</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END updating reported issue-->
