table{
    font-size: 14px;
    cursor: pointer;
}
.filter{
    width: 33%;
}
.search{
    width: 65%;
}
.pages{
    width: 29%;
}
.filter, .search,.pages{
    box-shadow: 2px 4px 6px 2px honeydew;
}
label{
    font-weight: bolder;
}

