<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <a class="btn btn-primary" href="javascript:void(0)" (click)="goBack()"> <i class="nav-icon i-Back1"></i> Back </a>  <br>
        <div class="card-title mb-3 text-center"><h5><b>EDIT USER</b></h5></div><br>
        <form ngNativeValidate [formGroup]="editUserDetails" (ngSubmit)="edit()">
          <div class="row">
              <div class="col-md-6 form-group mb-3">
              <label for="user-name">First Name</label>
              <input type="text" class="form-control" id="user-name" placeholder="Enter First Name" formControlName="first_name" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="last-name">Last Name</label>
              <input class="form-control" id="last-name" placeholder="Enter Last Name" formControlName="last_name" required>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email" required>
            </div>

            <div class="col-md-6 form-group mb-3">
              <label for="code">Country Code</label>
              <input type="text" class="form-control" id="code" appDigitOnly maxlength="5" placeholder="Enter Country Code" formControlName="country_code" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="phone">Phone </label>
              <input class="form-control" id="phone" type="text" maxlength="10" appDigitOnly placeholder="Enter Phone Number" formControlName="phone" required>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="city">City </label>
              <input class="form-control" id="city" placeholder="Enter City" formControlName="city" required>
            </div>
<!--            <div class="col-md-6 form-group mb-3">-->
<!--              <input type="hidden"  formControlName="id" disabled>-->
<!--            </div>-->
            <div class="col-md-12">
              <button class="btn btn-primary" >Update Details </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
