<style>

  table{
    font-size: 14px;
    cursor: pointer;
  }
  #yearly-rides-bar,
  #today-activities,
  #monthly-earnings-bar,
  #weekly-activities{
    width: 1300px;
    height:600px;
  }

</style>

<div class="content-header row">
  <div class="content-header-left col-md-12 col-12">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Earnings Management</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="d-flex justify-content-center my-1">
  <div class="spinner-border" role="status" aria-hidden="true"></div>
</div>
<div class="card" *ngIf="totalEarnings">
  <div class="row ml-1 mr-1 p-1">
    <!-- BEGIN total Earnings today -->
    <div class="col-md-2 justify-content-center">
      <div class="card bg-info">
        <div class="card-body">
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <span class="font-weight-bolder">₦</span>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <p>Total Earnings Today</p>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <h4 class="font-weight-bolder">{{totalEarnings.total_drupp_earnings_today || "0" | currency:"₦"}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Earnings today -->

    <!-- BEGIN total Earnings -->
    <div class="col-md-2">
      <div class="card bg-danger">
        <div class="card-body">
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <span class="font-weight-bolder">₦</span>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <p>All Time Total Earnings</p>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <h4 class="font-weight-bolder">{{totalEarnings.total_drupp_earnings || "0" | currency:"₦"}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Earnings -->

    <!-- BEGIN total commissions -->
    <div class="col-md-2">
      <div class="card bg-success">
        <div class="card-body">
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <span class="font-weight-bolder">₦</span>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <p>All Time Total Commissions</p>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <h4 class="font-weight-bolder">{{totalEarnings['total_commission'] || "0" | currency:"₦"}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BEGIN total driver Earnings -->
    <div class="col-md-2">
      <div class="card bg-dark">
        <div class="card-body">
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <span class="font-weight-bolder">₦</span>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <p>All Time Total Driver Earnings</p>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <h4 class="font-weight-bolder">{{totalEarnings['total_driver_earnings'] || "0" | currency:"₦"}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END driver Earnings -->

    <!-- BEGIN total ride fare -->
    <div class="col-md-2">
      <div class="card bg-danger">
        <div class="card-body">
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <span class="font-weight-bolder">₦</span>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <p>All Time Total Ride Fare</p>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <h4 class="font-weight-bolder">{{totalEarnings['total_ride_fare'] || "0" | currency:"₦"}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END ride fare -->

    <!-- BEGIN total Tax -->
    <div class="col-md-2">
      <div class="card bg-primary">
        <div class="card-body">
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <span class="font-weight-bolder">₦</span>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <p>All Time Total Tax</p>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <h4 class="font-weight-bolder">{{totalEarnings['total_tax'] || "0" | currency:"₦"}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END total tax -->
  </div>
</div>

<div class="card">
  <div class="row ml-1 mr-1 p-1">
    <!-- BEGIN total earnings This Week -->
    <div class="col-md-4">
      <div class="card bg-primary">
        <div class="card-body">
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <span class="font-weight-bolder">₦</span>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <p>Total Earnings This Week</p>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <h4 class="font-weight-bolder">{{totalEarnings['total_drupp_earnings_this_week'] || "0" | currency:"₦"}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END earnings this week -->

    <!-- BEGIN total earnings This Month -->
    <div class="col-md-4">
      <div class="card bg-danger">
        <div class="card-body">
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <span class="font-weight-bolder">₦</span>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <p>Total Earnings This Month</p>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <h4 class="font-weight-bolder">{{totalEarnings['total_drupp_earnings_this_month'] || "0" | currency:"₦"}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END earnings this Month -->

    <!-- BEGIN total earnings This year -->
    <div class="col-md-4">
      <div class="card bg-info">
        <div class="card-body">
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <span class="font-weight-bolder">₦</span>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <p>Total Earnings This Year</p>
            </div>
          </div>
          <div class="avatar p-50 mb-1">
            <div class="text-white">
              <h4 class="font-weight-bolder">{{totalEarnings['total_drupp_earnings_this_year'] || "0" | currency:"₦"}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END earnings this Month -->
  </div>
</div>

<div class="row mt-2 mb-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center text-uppercase">Today Activities</h5>
      </div>
      <div class="card-body">
        <div class="bg-white m-auto p-4" id="today-activities"></div>
      </div>
    </div>
  </div>
</div>


<div class="row mt-2 mb-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center text-uppercase">Weekly Activities</h5>
      </div>
      <div class="card-body">
        <div class="bg-white m-auto p-4" id="weekly-activities"></div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2 mb-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center text-uppercase">Earnings This Month</h5>
      </div>
      <div class="card-body">
        <div class="bg-white m-auto p-4" id="monthly-earnings-bar"></div>
      </div>
    </div>
  </div>
</div>


<div class="row mt-2 mb-5">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center text-uppercase">Yearly Earnings analysis</h5>
      </div>
      <div class="card-body">
        <div class="bg-white m-auto p-4" id="yearly-rides-bar"></div>
      </div>
    </div>
  </div>
</div>





<!--<div class="card card-homepage">-->
<!-- <div class="card-header">-->
<!--   <h4 class="text-center text-uppercase font-weight-300">Earnings</h4>-->
<!-- </div>-->

<!--  <div class="row">-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats strong-green" routerLink="users">-->
<!--        <div class="card-header card-header-icon">-->
<!--          <div class="card-icon">-->
<!--           <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category"> Commissions for the Day</p>-->
<!--          <h3 class="card-title">{{totalCommissions.total_commissions_today || 0 | currency:" "}}</h3>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats Registered-1" routerLink="drivers">-->
<!--        <div class="card-header card-header-info card-header-icon">-->
<!--          <div class="card-icon">-->
<!--           <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category"> Commissions for the Week</p>-->
<!--          <h3 class="card-title">{{totalCommissions.total_commissions_this_week || 0 | currency:" "}}</h3>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats indigo" routerLink="rides">-->
<!--        <div class="card-header card-header-icon">-->
<!--          <div class="card-icon">-->
<!--            <img alt="" class="material-icons" src="../assets/images/icon/car.png">-->
<!--          </div>-->
<!--          <p class="card-category">Commissions for the Year</p>-->
<!--          <h3 class="card-title">{{totalCommissions["total_commissions_this_month"] || 0 | currency:" "}}</h3>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats brown" routerLink="sch-rides">-->
<!--        <div class="card-header card-header-icon">-->
<!--          <div class="card-icon">-->
<!--           <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Commissions for the Global</p>-->
<!--          <h3 class="card-title">{{totalCommissions["total_commissions_this_year"] || 0 | currency:" "}}</h3>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats strong-green" routerLink="rides">-->
<!--        <div class="card-header card-header-danger card-header-icon">-->
<!--          <div class="card-icon">-->
<!--           <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Tax for the Day</p>-->
<!--          <h3 class="card-title">{{totalCommissions["tax_day"]}}</h3>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats Registered-1" routerLink="rides">-->
<!--        <div class="card-header card-header-danger card-header-icon">-->
<!--          <div class="card-icon">-->
<!--           <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Tax for the Week</p>-->
<!--          <h3 class="card-title">{{totalCommissions.tax_week}}</h3>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <div class="card card-stats indigo">-->
<!--        <div class="card-header card-header-success card-header-icon">-->
<!--          <div class="card-icon ">-->
<!--            <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category"> Tax for the Year</p>-->
<!--          <h3 class="card-title">{{totalCommissions.tax_year}}</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <div class="card card-stats brown">-->
<!--        <div class="card-header card-header-warning card-header-icon">-->
<!--          <div class="card-icon">-->
<!--           <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Tax for the Global</p>-->
<!--          <h3 class="card-title">{{totalCommissions.tax_global}}</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats strong-green" routerLink="rating-review">-->
<!--        <div class="card-header  card-header-icon">-->
<!--          <div class="card-icon">-->
<!--            <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Fare for the Day</p>-->
<!--          <h3 class="card-title">{{totalCommissions.fare_day}}</h3>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats Registered-1" routerLink="bus">-->
<!--        <div class="card-header  card-header-icon">-->
<!--          <div class="card-icon">-->
<!--            <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Fare for the Week</p>-->
<!--          <p class="card-title">  <b class="card-title">{{totalCommissions.fare_week}}</b></p>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats indigo" routerLink="rating-review">-->
<!--        <div class="card-header  card-header-icon">-->
<!--          <div class="card-icon">-->
<!--           <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Fare for the year</p>-->
<!--          <h3 class="card-title">{{totalCommissions.fare_year}}</h3>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats brown" routerLink="bus">-->
<!--        <div class="card-header  card-header-icon">-->
<!--          <div class="card-icon">-->
<!--            <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Fare for the Global</p>-->
<!--          <p class="card-title"> <b class="card-title">{{totalCommissions.fare_global}}</b></p>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats strong-green" routerLink="rating-review">-->
<!--        <div class="card-header  card-header-icon">-->
<!--          <div class="card-icon">-->
<!--            <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Driver Earnings for the Day</p>-->
<!--          <h3 class="card-title">{{totalCommissions.driver_day}}</h3>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats Registered-1" routerLink="bus">-->
<!--        <div class="card-header  card-header-icon">-->
<!--          <div class="card-icon">-->
<!--            <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Driver Earnings for the Week</p>-->
<!--          <p class="card-title">  <b class="card-title">{{totalCommissions.driver_week}}</b></p>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats indigo" routerLink="rating-review">-->
<!--        <div class="card-header  card-header-icon">-->
<!--          <div class="card-icon">-->
<!--           <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Driver Earnings for the year</p>-->
<!--          <h3 class="card-title">{{totalCommissions.driver_year}}</h3>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="col-md-3 w-25">-->
<!--      <a class="card card-stats brown" routerLink="bus">-->
<!--        <div class="card-header  card-header-icon">-->
<!--          <div class="card-icon">-->
<!--            <img alt="" class="material-icons" src="../assets/images/icon/money.png">-->
<!--          </div>-->
<!--          <p class="card-category">Driver Earnings for the Global</p>-->
<!--          <p class="card-title"> <b class="card-title">{{totalCommissions.driver_global}}</b></p>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-md-12 mb-1">-->
<!--    <div class="card">-->
<!--      <div class="card-header">-->
<!--        <h4 class="text-center text-uppercase font-weight-300">Earnings Filter</h4>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <div style=" position: relative; float: right; ">-->
<!--          <button class="btn btn-sm btn-outline-dark fontSize" (click)="resetFilter()">Reset Filter</button>-->
<!--        </div>-->

<!--        <div style=" position: relative; float: right; margin-right: 10px; margin-bottom: 10px;">-->
<!--          <button class="btn btn-primary btn-sm fontSize" data-target="#myDateModel" data-toggle="modal" type="button">Filter-->
<!--            By Date-->
<!--          </button>-->
<!--        </div>-->
<!--        <div style=" position: relative; float: right; margin-right: 10px;">-->
<!--          <button class="btn btn-primary btn-sm dropdown-toggle fontSize" data-toggle="dropdown" type="button">-->
<!--            User Type-->
<!--          </button>-->
<!--          <div class="dropdown-menu">-->
<!--            <a (click)='filterSetdriverType(1)' href="javascript:void(0)" class="dropdown-item">Drivers</a>-->
<!--            <a (click)='filterSetdriverType(0)' href="javascript:void(0)" class="dropdown-item">Riders</a>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div style=" position: relative; float: right; margin-right: 10px;">-->
<!--          <button class="btn btn-primary btn-sm dropdown-toggle fontSize" data-toggle="dropdown" type="button">-->
<!--            Payment Mode-->
<!--          </button>-->
<!--          <div class="dropdown-menu">-->
<!--            <a (click)='filterSetpaymentType(1)' href="javascript:void(0)" class="dropdown-item">Credit card</a>-->
<!--            <a (click)='filterSetpaymentType(2)' href="javascript:void(0)" class="dropdown-item">Debit card</a>-->
<!--            <a (click)='filterSetpaymentType(3)' href="javascript:void(0)" class="dropdown-item">Wallet</a>-->
<!--            <a (click)='filterSetpaymentType(4)' href="javascript:void(0)" class="dropdown-item">Net Banking</a>-->
<!--            <a (click)='filterSetpaymentType(5)' href="javascript:void(0)" class="dropdown-item">Cash</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div style=" position: relative; float: right; margin-right: 10px;">-->
<!--          <button class="btn btn-primary btn-sm dropdown-toggle fontSize" data-toggle="dropdown" type="button">-->
<!--            Ride Type-->
<!--          </button>-->
<!--          <div class="dropdown-menu">-->
<!--            <a (click)='filterSetrideType(1)' href="javascript:void(0)" class="dropdown-item">Regular</a>-->
<!--            <a (click)='filterSetrideType(1)' href="javascript:void(0)" class="dropdown-item">Luxury</a>-->
<!--            <a (click)='filterSetrideType(2)' href="javascript:void(0)" class="dropdown-item">Kekes</a>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div style=" position: relative; float: right; " *ngIf="users[0]">-->
<!--          <button class="btn btn-outline-dark btn-sm mr-2 dropdown-toggle fontSize" data-toggle="dropdown" type="button">-->
<!--            <img alt="" class="p-1" src="../../../assets/images/icon/export.png" width="18"/> Export As-->
<!--          </button>-->
<!--          <div class="dropdown-menu">-->
<!--          <a class="dropdown-item"-->
<!--             href="{{apiUrl}}get-earnings-ride-pdf?{{searchString}}">Export PDF File</a>-->
<!--            <a class="dropdown-item"-->
<!--               href="{{apiUrl}}excel/earning-ride?{{searchString}}">Export Excel File</a>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="table-responsive">-->
<!--          <table class="table table-striped table-bordered table-active">-->
<!--            <thead class="thead-light">-->
<!--            <tr>-->
<!--              <th scope="col" class="text-center">#</th>-->
<!--              <th scope="col" class="text-center"> Name</th>-->
<!--              <th scope="col" class="text-center">Avatar</th>-->
<!--              <th scope="col" class="text-center"> Phone</th>-->
<!--              <th scope="col" class="text-center">Email</th>-->
<!--              <th scope="col" class="text-center">Status</th>-->
<!--              <th scope="col" class="text-center">Driver Type</th>-->
<!--              <th scope="col" class="text-center">Trip Type</th>-->
<!--              <th scope="col" class="text-center">Payment</th>-->
<!--              <th *ngIf="driverType==2" scope="col" class="text-center">Income</th>-->
<!--              <th *ngIf="driverType==1" scope="col" class="text-center">Expenses</th>-->
<!--              <th scope="col" class="text-center">Commission</th>-->
<!--              <th scope="col" class="text-center">Tax</th>-->
<!--              <th scope="col" class="text-center">Balance</th>-->
<!--              <th scope="col" class="text-center">Trip Date</th>-->

<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->

<!--            <tr-->
<!--              *ngFor=" let user of users | paginate: { itemsPerPage: 10, currentPage: driverCurrentPage, totalItems:totalitems, id:'details'} let i = index">-->
<!--              <ng-container *ngIf="user.name">-->
<!--              <td>{{user.uid}}</td>-->
<!--              <td>{{user.name}} </td>-->
<!--              <td *ngIf="user.image">-->
<!--                <img class="design" alt="" [src]="assetUrl + '/' + user.image"width="50" height="50">-->
<!--              </td>-->
<!--              <td *ngIf="!user.image">-->
<!--                <img class="design" alt=""src="../../../assets/images/icon/noPhotoFound.png" width="50"height="50">-->
<!--              </td>-->
<!--              <td>+{{user.country_code}}-{{user.phone}}</td>-->
<!--              <td>{{user.email}}</td>-->
<!--              <td *ngIf="user.ustatus == 1">Active</td>-->
<!--              <td *ngIf="user.ustatus == 0">Blocked</td>-->
<!--              <td *ngIf="user.driverType == 0">Rider</td>-->
<!--              <td *ngIf="user.driverType == 1">Driver</td>-->
<!--              <td *ngIf="user.ride_type == 1">Regular</td>-->
<!--              <td *ngIf="user.ride_type == 2">Luxury</td>-->
<!--              <td *ngIf="user.ride_type == 3">Kekes</td>-->
<!--              <td *ngIf="user.payment == 1">Credit Card</td>-->
<!--              <td *ngIf="user.payment == 2">Debit Card</td>-->
<!--              <td *ngIf="user.payment == 3">Wallet</td>-->
<!--              <td *ngIf="user.payment == 4">Net banking</td>-->
<!--              <td *ngIf="user.payment == 5">Cash</td>-->
<!--              <td *ngIf="user.driverType == 2">{{(user.expenses-user.income)-(user.expenses*7.5/100)|number}}</td>-->
<!--              <td *ngIf="user.driverType == 1">{{user.expenses|number}}</td>-->
<!--              <td>{{user.income|number}}</td>-->
<!--              <td>{{user.income*7.5/100|number}}</td>-->
<!--              <td>{{user.wallet_balance|number}}</td>-->
<!--              <td *ngIf="user.ride_date">{{user.ride_date| amFromUnix|amDateFormat:'MM-DD-YYYY'}}</td>-->
<!--              <td *ngIf="!user.ride_date">-</td>-->
<!--              </ng-container>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--          <pagination-controls *ngIf="users[0]" (pageChange)=pageChangedDriver($event)-->
<!--                               id="details">-->

<!--          </pagination-controls>-->
<!--        </div>-->
<!--        <div *ngIf="calling == true" class="col-md-12 text-center">-->
<!--          <img src="../../../assets/images/91.gif">-->
<!--        </div>-->
<!--        <div *ngIf="!users[0] && calling == false" class="col-md-12 text-center">-->
<!--          <img alt="" class="mb-3" height="150" src="./assets/images/not-found.png">-->
<!--          <h3 class="not-found">Not Found</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--&lt;!&ndash; Trigger the modal with a button &ndash;&gt;-->

<!--&lt;!&ndash;Date Modal &ndash;&gt;-->
<!--<div class="modal fade" id="myDateModel" role="dialog">-->
<!--  <div class="modal-dialog">-->
<!--    &lt;!&ndash; Modal content&ndash;&gt;-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Filter Driver</h4>-->
<!--        <button class="close" data-dismiss="modal" type="button">&times;</button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form (ngSubmit)="getData()" [formGroup]="dateFilterForm" ngNativeValidate>-->
<!--          <div class="row">-->
<!--            <div class="form-group col-md-6">-->
<!--              <label for="start">Start Date</label>-->
<!--              <input class="form-control" formControlName="start" id="start" required type='date'>-->
<!--            </div>-->
<!--            <div class="form-group col-md-6">-->
<!--              <label for="end">End Date</label>-->
<!--              <input class="form-control" formControlName="end" id="end" required type="date">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-12 text-center">-->
<!--            <button class="btn btn-primary btn-sm " style="margin-top: 10px; margin-left: 1px;">Submit-->
<!--            </button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="modal-footer">&ndash;&gt;-->
<!--      &lt;!&ndash;        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


