.nav-icon {
  color: white;
}
.design {
  border-radius: 50px;
}
.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}

.offline {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #c23616 !important;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}
.fontSize{
  font-size: 11px;
}
.headingFontSize {
  font-size: 22px;
}
