<div class="row">
  <div class="col-md-12">
  <div class="card mb-4">
    <div class="card-body">
      <div class="card-title text-center"><h5><b>COMMISSION MANAGEMENT</b></h5></div>
      <form ngNativeValidate [formGroup]="addCancellationFormGroup" (ngSubmit)="addCancellation()">
        <div class="row">
          <div class="col-md-6 form-group ">
            <label for="commission">Add Cancellation Charge In percentage</label>
            <input class="form-control" formControlName="cancellation_percentage"  placeholder="Enter Cancellation %"
                   required type="number">
          </div>
          <div class="col-md-2 mt-4 pt-1 text-center form-group">
            <button type="submit" class="btn btn-sm btn-primary">Add Cancellation Charge</button>
          </div>
          <div class="col-md-3 mt-4 form-group">
            <p class="text-center" style="border: 1px solid; border-radius: 5px; padding-top: 5px; padding-bottom: 5px; margin-top: 4px">Current Cancellation Charges:
              {{currentCancellation.commission}}%</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <form ngNativeValidate [formGroup]="addCommissionFormGroup" (ngSubmit)="addCommission()">
          <div class="row">
            <div class="col-md-6 form-group ">
              <label for="commission">Add Commission In percentage</label>
              <input class="form-control" formControlName="commission_percentage" id="commission" placeholder="Enter Commission %"
                     required type="number">
            </div>
            <div class="col-md-2 mt-4 pt-1 text-center form-group">
              <button type="submit" class="btn btn-sm btn-primary">Add Commission</button>
            </div>
            <div class="col-md-3 mt-4 form-group">
              <p class="text-center" style="border: 1px solid; border-radius: 5px; padding-top: 5px; padding-bottom: 5px; margin-top: 4px">Current Commission:
                {{currentCommission.commission}}%</p>
            </div>
          </div>
          <div class="col-md-12">Total Commission Earned Till Date : {{data}}</div>
        </form>
        <div class="table-responsive mt-5">
          <table class="table">
            <thead>
            <tr >
              <th scope="col">Commission ID</th>
              <th scope="col">Updated On</th>
              <th scope="col">Commission</th>
<!--              <th scope="col">Action</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let com of commission">
              <td>{{com.id}}</td>
              <td>{{com.created_at | date : 'MMM d, y, h:mm:ss a'}}</td>
              <td>{{com.commission}}%</td>
             <!-- <td> <a type="button" class="btn btn-danger ml-2 " (click)="delete(com.id)">
                <i class="nav-icon"><img alt="" src="./assets/images/icon/delete1.png" width="10"/></i>
              </a></td>-->
            </tr>
            </tbody>
          </table>

      </div>
    </div>
  </div>
</div>
</div>
