
<div class="content-header row">
    <div class="content-header-left col-md-12 col-12">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Live Users Tracker</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header"><h4 class="text-uppercase text-center font-weight-300">Track Live Users</h4></div>
    <div class="card-body">
        <div class="row">
            <div class=" text-left" style=" position: relative; float: right;width:100%; ">
                <div style=" position: relative; float: right;margin-bottom:5px; ">
                    <button class="btn text-white red btn-sm" style="padding:10px" (click)="changeMap('1')">Active Riders</button>
                </div>
                <div style=" position: relative; float: right;margin-bottom:5px;margin-right:10px; ">
                    <button class="btn text-white red btn-sm" style="padding:10px" (click)="changeMap('2')">Active Drivers</button>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 10px; padding:10px;">
            <agm-map #gm style="height:650px;" [latitude]="cpos.lat" [longitude]="cpos.lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true"
                     (mapClick)="$event">
                <agm-marker *ngFor="let point of points let id = index" [latitude]="point.lat" [longitude]="point.lng" [iconUrl] ="{
                    url: '../../../assets/images/icon/'+point.img+'.png',
                    scaledSize: {
                        width: 20,
                        height: 30
                    }
                }"
                            (mouseOver)="onMouseOver(point.lat, point.lng, infoWindow,gm,point.id)" >

                    <agm-info-window [disableAutoPan]="false" #infoWindow>
                        <div>
                            <b>User </b> : {{point.name}}
                            <br>
                            <!--        destination:{{this.destination}}-->
                        </div>
                        <div>
                            <a (click)="onClickInfoView(point.id,point)" class="btn btn-success pull-right">Info<i class=""></i></a>
                        </div>
                    </agm-info-window></agm-marker>
            </agm-map>
        </div>
    </div>
</div>

